<ul>
    <li><a href="../index.html">Главная</a></li>
    <li><a href="../search.html">Поиск</a></li>
    <li><a href="../sms.html">Отправить СМС</a></li>
    <li><a href="../notifications.html">Уведомления</a></li>
    <li><a href="../notification__one.html">Страница уведомления</a></li>
    <li><a href="../profile-account-setting.html">Профиль</a></li>
    <li><a href="../by-combining.html">Объединение лицевых счетов</a></li>
    <li><a href="../suspend.html">Приостановка обслуживания</a></li>
    <li><a href="../request.html">Заявки</a></li>
    <li><a href="../history.html">История операций</a></li>
    <li><a href="../auto-payment.html">Автоплатеж</a></li>
    <li><a href="../auto-payment-add.html">Добавление автоплатежа</a></li>
    <li><a href="../promised-payment.html">Обещанный платеж</a></li>
    <li><a href="../e-order.html">Счет в электронноам виде</a></li>
    <li><a href="../refill-balance.html">Пополнение баланса</a></li>
    <li><a href="../card.html">Управление картами</a></li>
    <li><a href="../bonus-programm.html">Бонусная программа (летай бонус)</a></li>
    <li><a href="../bonus-save.html">Бонусная программа (как накопить бонусы)</a></li>
    <li><a href="../bonus-spend.html">Бонусная программа (как потратить бонусы)</a></li>
    <li><a href="../bonus-abonement.html">Бонусная программа (верный абонент бонус)</a></li>
    <li><a href="../faq.html">Часто задаваемые вопросы</a></li>
    <li><a href="../application-support.html">Мои заявки</a></li>
    <li><a href="../application-support-create.html">Создание заявки</a></li>
    <li><a href="../chat.html">Чат</a></li>
    <li><a href="../dopservices.html">Доп.услуги</a></li>
    <li><a href="../dopservices2.html">управляемые Доп.услуги </a></li>
    <li><a href="../call-detail.html">Детализация звонков</a></li>
    <li><a href="../tariff-change.html">Смена тарифов</a></li>
    <li><a href="../mobil-tv.html">Мобильное ТВ</a></li>
    <li><a href="../wi-fi-tariff.html">Wifi тарифы</a></li>
    <li><a href="../login.html">Страница входа</a></li>
    <li><a href="../reg.html">Страница регистрации</a></li>
    <li><a href="../reg2.html">Страница регистрации 2</a></li>
    <li><a href="../psw.html">Восстановление пароля</a></li>


</ul>
<h2>Модальные окна</h2>
<ul>
    <li><a href="#modal-psw-change" data-uk-modal>Сменить пароль</a></li>
    <li><a href="#modal-sms-note" data-uk-modal>Включить смс оповещения</a></li>
    <li><a href="#modal-thanks" data-uk-modal>Спасибо</a></li>
    <li><a href="#modal-dialog" data-uk-modal>Смена тарифа (да нет)</a></li>
    <li><a href="#modal-bonus" data-uk-modal>Бонусная программа</a></li>
    <li><a href="#modal-cart-1" data-uk-modal>В корзину. Бонусная программа (потратить бонусы)</a></li>
    <li><a href="#modal-cart-2" data-uk-modal>В корзину 2. Бонусная программа (потратить бонусы)</a></li>
</ul>
