<div class="application-support-create panel">
    <div class="application-support-create__form form uk-form uk-form-stacked">
        <form action="">
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Категория заявки</label>
                <div class="uk-form-controls">
                    <select name="" id="" class="js-select">
                        <option value="option">Выберите категорию</option>
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Заголовок</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Описание проблемы</label>
                <div class="uk-form-controls">
                    <textarea name="" id="" cols="30" rows="12" placeholder="Подробно опишите проблему, с которой вы столкнулись" class="uk-width-1-1"></textarea>
                </div>
            </div>
            <div class="uk-form-row uk-margin-top">
                <button type="submit" class="btn uk-button uk-button-primary">Отправить заявку</button>
            </div>
        </form>
    </div>
</div>
