<div class="application-support uk-overflow-container">
    <table class="tbl">
        <col>
        <col width="190">
        <tr class="application-support__item">
            <td>
                <span class="state state_danger">Новое</span> &nbsp;
                <span class="application-support__name">Постоянные проблемы с подключением</span>
            </td>
            <td>
                <span class="application-support__last-event">Только что обновлена</span>
            </td>
        </tr>
        <tr class="application-support__item">
            <td>
                <span class="state state_danger">Новое</span> &nbsp;
                <span class="application-support__name">Постоянные проблемы с подключением</span>
            </td>
            <td>
                <span class="application-support__last-event">Только что обновлена</span>
            </td>
        </tr>
        <tr class="application-support__item application-support__item_disabled">
            <td>
                <span class="application-support__name">Постоянные проблемы с подключением</span>
            </td>
            <td>
                <span class="application-support__last-event">Закрыта</span>
            </td>
        </tr>
    </table>
</div>
