<div class="auto-payment-add">
    <div class="panel">
        <div class="panel__title">Создание автоплатежа</div>
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Выберите карту для автопополнения</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-width-large uk-display-inline-block">
                            <select name="" id="" class="js-select uk-width-1-1">
                                <option value="">5484 **** **** 4535</option>
                                <option value="">5484 **** **** 4535</option>
                            </select>
                        </div>
                        <button class="btn btn_no-style uk-display-inline-block">Добавить новую карту</button>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Выберите счет</label>
                    <div class="uk-form-controls">
                        <div class="uk-form-width-large uk-display-inline-block">
                            <select name="" id="" class="js-select uk-width-1-1">
                                    <option value="">234 038 - Интернет, цифровое ТВ</option>
                                    <option value="">5484 **** **** 4535</option>
                                </select>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" class="btn uk-button uk-button-primary">Добавить автоплатеж</button>
                </div>
            </form>
        </div>
    </div>
    <div class="panel">
        <div class="panel__title">
            Создать платеж по расписанию:
        </div>
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">
                    <div class="uk-form-label">Лицевой чет <span class="uk-text-primary">№200 045</span></div>
                </div>
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Название</label>
                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <div class="uk-form-controls">
                            <input type="text" class="uk-width-1-1">
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Назначение</label>
                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <div class="uk-form-controls">
                            <input type="text" class="uk-width-1-1">
                        </div>
                        <div class="uk-form-controls">
                            <select name="" id="" class="js-select uk-width-1-1">
                                <option value="">Лицевой счет 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Сумма текущего платежа</label>
                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <div class="uk-form-controls">
                            <input type="text" class="uk-width-1-1">
                        </div>

                    </div>
                </div>
                <div class="uk-form-row">

                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <div class="">
                            <label for="" class="uk-form-label">Дата начала действия</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <div class="uk-form-icon uk-form-icon-flip uk-width-1-1 form-icon">
                                    <input type="text" class="uk-width-1-1" id="js-datepicker-start" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <label for="" class="uk-form-label">Дата окончания действия</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <div class="uk-form-icon uk-form-icon-flip uk-width-1-1 form-icon">
                                    <input type="text" class="uk-width-1-1" id="js-datepicker-end" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">

                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <div class="">
                            <label for="" class="uk-form-label">Тип платежа</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <select name="" id="" class="js-select uk-width-1-1">
                                    <option value="">По расписанию</option>
                                </select>
                            </div>
                        </div>
                        <div class="">
                            <label for="" class="uk-form-label">День периода</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <select name="" id="" class="js-select">
                                    <option value="">10</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">

                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                        <div class="">
                            <label for="" class="uk-form-label">Сумма оплаты по расписанию</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <input type="text" class="uk-width-1-1">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid uk-grid-medium uk-grid-width-medium-1-2 uk-grid-width-small-1-1 uk-flex-middle">
                        <div class="uk-margin-small">
                            <input type="checkbox" id="check">
                            <label for="check">Я согласен с <a href="" class="border-dashed">Условиями оказания услуги</a></label>
                        </div>
                        <div class="uk-margin-small">
                            <button type="submit" class="btn uk-button uk-button-primary">Добавить автоплатеж</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="js-stop-banner"></div>
    <div class="uk-grid uk-grid-medium" data-uk-grid-match="{target:'.panel'}">
        <div class="uk-width-large-4-10 uk-width-medium-1-1">
            <div class="panel bg-default">
                <div class="panel__title">Информация о платеже по расписанию</div>
                <div class="uk-overflow-container">
                    <table class="auto-payment-add__tbl fixed-layout">
                        <tr>
                            <td><b>Лицевой счет</b></td>
                            <td><span class="uk-text-primary">№ 245 256</span></td>
                        </tr>
                        <tr>
                            <td><b>Название</b></td>
                            <td>Платежи за интернет</td>
                        </tr>
                        <tr>
                            <td><b>Телефон</b></td>
                            <td>+789565454545</td>
                        </tr>
                        <tr>
                            <td><b>Сумма платежа</b></td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td><b>Название</b></td>
                            <td>Платежи за интернет</td>
                        </tr>
                        <tr>
                            <td><b>Телефон</b></td>
                            <td>+789565454545</td>
                        </tr>
                        <tr>
                            <td><b>Сумма платежа</b></td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td><b>Сумма платежа</b></td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td><b>Название</b></td>
                            <td>Платежи за интернет</td>
                        </tr>
                        <tr>
                            <td><b>Телефон</b></td>
                            <td>+789565454545</td>
                        </tr>
                        <tr>
                            <td><b>Сумма платежа</b></td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn uk-button uk-button-primary uk-width-1-1">Редактировать платеж</button>
                            </td>
                            <td>
                                <button type="button" class="btn uk-button uk-button-primary uk-width-1-1">Создать платеж</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="uk-width-large-6-10 uk-width-medium-1-1">
            <div class="panel">
                <div class="panel__title">Мои платежи по назначению</div>
                <div class="uk-overflow-container">
                    <table class="auto-payment-add__tbl">
                        <tr>
                            <th>Номер</th>
                            <th>Название</th>
                            <th>Назначение</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>За интернет</td>
                            <td>2545654</td>
                            <td>1000</td>
                            <td><a href="">Активен</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
