<div class="auto-payment">
    <div class="panel">
        <div class="panel__title">Список сохраненных карт</div>
        <div class="panel__content">
            <div class="uk-overflow-container">
                <table class="list-card tbl">
                    <tr class="list-card__item ">
                        <td class="list-card__td">
                            <div class="list-card__num">
                                <i class="icon icon_card"></i>
                                <span>7563 **** **** 3937</span>
                            </div>
                        </td>
                        <td class="list-card__td">
                            <span>397 083 - Интернет, цифровое ТВ</span>
                        </td>
                        <td class="list-card__td">
                            <div class="switcher-check">
                                <input type="checkbox" id="switch-serv-1">
                                <label for="switch-serv-1" class="switcher-check__body"></label>
                            </div>
                        </td>
                        <td class="list-card__td">
                            <button class="list-card__remove-item uk-icon-trash-o i-remove"></button>
                        </td>
                    </tr>
                    <tr class="list-card__item">
                        <td class="list-card__td">
                            <div class="list-card__num">
                                <i class="icon icon_card"></i>
                                <span>7563 **** **** 3937</span>
                            </div>
                        </td>
                        <td class="list-card__td">
                            <span>397 083 - Интернет, цифровое ТВ</span>
                        </td>
                        <td class="list-card__td">
                            <div class="switcher-check">
                                <input type="checkbox" id="switch-serv-2">
                                <label for="switch-serv-2" class="switcher-check__body"></label>
                            </div>
                        </td>
                        <td class="list-card__td">
                            <button class="list-card__remove-item uk-icon-trash-o i-remove"></button>
                        </td>
                    </tr>
                    <tr class="list-card__item">
                        <td class="list-card__td">
                            <div class="list-card__num">
                                <i class="icon icon_card"></i>
                                <span>7563 **** **** 3937</span>
                            </div>
                        </td>
                        <td class="list-card__td">
                            <span>397 083 - Интернет, цифровое ТВ</span>
                        </td>
                        <td class="list-card__td">
                            <div class="switcher-check">
                                <input type="checkbox" id="switch-serv-3">
                                <label for="switch-serv-3" class="switcher-check__body"></label>
                            </div>
                        </td>
                        <td class="list-card__td">
                            <button class="list-card__remove-item uk-icon-trash-o i-remove"></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel__bottom uk-margin-top">
            <a href="#" class="btn uk-button uk-button-primary">Добавить автоплатеж</a>
        </div>
    </div>
</div>
