<div class="bank-book bank-book_bg-default" data-uk-accordion>
    <div class="bank-book__top uk-accordion-title">
        <div class="bank-book__name">Лицевой счет 200 837</div>
    </div>
    <div class="uk-accordion-content">
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Баланс на 24 мая 2016</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <i class="icon icon_wallet-big uk-float-left"></i>
                        <div class="widget-price new-context">
                            <div class="widget-price__summ">2 000, 00</div> <span>руб.</span>
                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-danger">Оплатить сейчас</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Баланс на 24 мая 2016</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <i class="icon icon_roub-big uk-float-left"></i>
                        <div class="new-context">
                            <p>Подключите услугу автоплатеж и всегда оставайтесь на связи</p>
                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Подключить услугу</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title">Рекомендуем подключить</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-1">
                                    <label for="switch-serv-1" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_antivir"></i></span> <span class="new-context">Антивирус</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-2">
                                    <label for="switch-serv-2" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_family"></i></span> <span class="new-context">Услуга "Ребенок рядом"</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-3">
                                    <label for="switch-serv-3" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_ip"></i></span> <span class="new-context">Белый ip-адрес</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Все услуги</button>
                </div>
            </div>
        </div>
        <h3 class="panel-list-title">Интернет - 586 982 <a href="#" class="uk-icon-cog"></a></h3>
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Тариф - Летай 150</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="widget__toggle-serv">
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_doc"></i></span> <span class="new-context">Договор №34542 от 30.05.14</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                <ul class="uk-nav uk-nav-dropdown dropdown-menu">
										<li class="dropdown-menu__item">
											<div class="uk-float-left">Интернет</div>
                                            <div class="uk-float-right">75 Мбит/с</div>
										</li>
										<li class="dropdown-menu__item">
                                            <div class="uk-float-left">Wi-fi</div>
                                            <div class="uk-float-right">Бесплатно</div>
										</li>
									</ul>
                                ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                </a>

                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Сменить тариф</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Услуги и опции (3 услуги)</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-4">
                                    <label for="switch-serv-4" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_speed"></i></span> <span class="new-context">Дополнительная скорость 10 мегабит</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-5">
                                    <label for="switch-serv-5" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_night"></i></span> <span class="new-context">Бесплатный доступ ночью</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-6">
                                    <label for="switch-serv-6" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_speed"></i></span> <span class="new-context">Дополнительная скорость 10 мегабит</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-7">
                                    <label for="switch-serv-7" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_night"></i></span> <span class="new-context">Бесплатный доступ ночью</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Управление услугами</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="bank-book bank-book_bg-warning" data-uk-accordion>
    <div class="bank-book__top uk-accordion-title">
        <div class="bank-book__name">Лицевой счет 200 837</div>
    </div>
    <div class="uk-accordion-content">
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Баланс на 24 мая 2016</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="widget-price">
                            <div class="widget-price__summ uk-text-warning">2 000, 00</div> руб.</div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-warning">Оплатить сейчас</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Баланс на 24 мая 2016</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <i class="icon icon_roub-big uk-float-left"></i>
                        <div class="new-context">
                            <p>Подключите услугу автоплатеж и всегда оставайтесь на связи</p>
                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-warning">Подключить услугу</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title">Рекомендуем подключить</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-8">
                                    <label for="switch-serv-8" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_music"></i></span> <span class="new-context">Мелодия вместо гудка</span>
                            </a>
                        </div>
                        <div class="widget__toggle-serv">
                            <div class="uk-float-right">
                                <div class="switcher-check">
                                    <input type="checkbox" id="switch-serv-9">
                                    <label for="switch-serv-9" class="switcher-check__body"></label>
                                </div>
                            </div>
                            <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_mobile-tv"></i></span> <span class="new-context">Мобильное ТВ</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <a href="" class="uk-button uk-button-warning">Все услуги</a>
                </div>
            </div>
        </div>
        <h3 class="panel-list-title"><span>Мобильная связь - +7 9000 000 00 00</span> <div class="widget-abonent-name js-change-txt" data-uk-dropdown="{mode: 'click'}"><span class="js-change-txt-span">Бабушка</span>
         <div class="uk-dropdown uk-dropdown_lg uk-form uk-form-stacked">
             <form action="">
                 <div class="uk-form-row">
                     <label for="" class="uk-form-label">Имя абонента</label>
                     <div class="uk-form-controls">
                         <input type="text" value="Бабушка">
                         <button type="submit" class="uk-button uk-button-primary">Сохранить</button>
                     </div>
                 </div>
             </form>
         </div>
     </div> <a href="#" class="uk-icon-cog"></a></h3>
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Тариф - звезда</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class=""><a href="#">Информация о тарифе</a></div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-warning">Сменить тариф</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Мобильный интернет</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="uk-float-right bg-smart-gb">

                        </div>
                        <div class="new-context">
                            У вас осталось:
                            <div class="widget-count">
                                <span class="widget-count__val">6</span> из
                                <span class="widget-count__val">12</span> Гб
                            </div>
                            на 12 дней.
                        </div>
                        <div class="uk-progress">
                            <div class="uk-progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>

            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Мобильный интернет</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="uk-float-right bg-smart-min">

                        </div>
                        <div class="new-context">У вас осталось:
                            <div class="widget-count">
                                <span class="widget-count__val">11</span> из
                                <span class="widget-count__val">180</span> мин.
                            </div>
                            на 12 дней.</div>
                        <div class="uk-progress uk-progress-warning">
                            <div class="uk-progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>

            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Смс</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <div class="uk-float-right bg-smart-sms">

                        </div>
                        <div class="new-context">У вас осталось:
                            <div class="widget-count">
                                <span class="widget-count__val">11</span> из
                                <span class="widget-count__val">180</span> мин.
                            </div>
                            на 12 дней.</div>
                        <div class="uk-progress uk-progress-warning">
                            <div class="uk-progress-bar" style="width: 60%;"></div>
                        </div>
                    </div>
                </div>

            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Отправить смс</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <i class="icon icon_sms-cloud uk-float-left"></i>
                        <div class="new-context">Вы можете бесплатно отправить смс любимому абонементу Летай</div>
                    </div>
                </div>
                <div class="widget__bottom">
                    <a href="" class="uk-button uk-button-primary">Отправить смс</a>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Услуги и опции</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        У вас нет активных услуг
                    </div>
                </div>
                <div class="widget__bottom">
                    <a href="" class="uk-button uk-button-warning">Управление услугами</a>
                </div>
            </div>
        </div>
    </div>
</div>
