<div class="ban-wrap">
    <div class="slider-bann"> <!--@breakpoint-xlarge = 1220px-->
        <!-- <img src="../img/banerareaimg.png" alt=""> -->
        <div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}">
            <ul class="uk-slideshow uk-overlay-active">
                <li>
                    <a href=""><img src="../img/banerimg.png" width="" height="" alt=""></a>
                    <div class="uk-overlay-panel uk-overlay-fade uk-overlay-bottom uk-overlay-slide-bottom"><div class="uk-text-center">Тут может быть ваша реклама</div></div>
                </li>
                <li>
                    <a href=""><img src="../img/banerimg.png" width="" height="" alt=""></a>
                    <div class="uk-overlay-panel uk-overlay-fade uk-overlay-bottom uk-overlay-slide-bottom"><div class="uk-text-center">Слайд 2</div></div>
                </li>
                <li>
                    <a href=""><img src="../img/banerimg.png" width="" height="" alt=""></a>
                </li>
            </ul>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
            <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
            <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                <li data-uk-slideshow-item="0"><a href=""></a></li>
                <li data-uk-slideshow-item="1"><a href=""></a></li>
                <li data-uk-slideshow-item="2"><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>
