<div class="bonus-save">
    <div class="bg-default bg-after">
        <div class="container-content content">
        <div class="bonus-save__title">
            <i class="icon icon_vol"></i>
            Бонусы за привлечение новых абонентов
        </div>
        <p>Рекомендуйте услуги "Летай" своим друзьям и получайте дополнительные бонусы:</p>
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title"><b class="uk-text-danger">100 бонусов</b></h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <span class="uk-text-primary">За рекомендацию новым абонентам подключить услуг связи</span>(Интернет, Телефон, Кабельное телевидение, Цифровое интерактивное телевидение)
                    </div>
                </div>

            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima libero facilis porro pariatur, tempora maiores? Est, eaque aperiam. Numquam delectus cumque nihil ratione, harum quis repudiandae. Mollitia nisi quis esse.</p>
    </div>
    </div>
    <div class="bg-warning bg-after">
        <div class="container-content content">
        <div class="bonus-save__title">
            <i class="icon icon_rocket"></i>
            Стартовые бонусы
        </div>
        <p>При регистрации каждому новому участнику программы "Летай Бонус" начисляются стартовые бонусы:</p>
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title"><b class="uk-text-danger">15 бонусов</b></h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        Абонентам "Летай", пользующимся услугами <a href="">1 год или более</a>
                    </div>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title"><b class="uk-text-danger">8 бонусов</b></h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        Абонентам "Летай", пользующимся услугами <a href="">менее 1 года</a>
                    </div>
                </div>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima libero facilis porro pariatur, tempora maiores? Est, eaque aperiam. Numquam delectus cumque nihil ratione, harum quis repudiandae. Mollitia nisi quis esse.</p>
    </div>
    </div>
    <div class="bg-default bg-after">
        <div class="container-content content">
            <div class="bonus-save__title">
                <i class="icon icon_cal"></i>
                Ежемесячные начисления
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ut numquam cumque saepe fugit illo esse nulla officiis ex quasi, ea aperiam illum sapiente reiciendis repudiandae est rerum ab aut?</p>
            <div class="widget-grid">
                <div class="panel widget">
                    <div class="panel__icon">

                    </div>
                    <h3 class="panel__title"><b class="uk-text-danger">1000 руб =  3 бонуса</b></h3>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            Количество начисляемых бонусов расчитывается по формуле N*0.03, где N-сумма начислений по всем лицевым счетам абонента за отчетный период
                        </div>
                    </div>

                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima libero facilis porro pariatur, tempora maiores? Est, eaque aperiam. Numquam delectus cumque nihil ratione, harum quis repudiandae. Mollitia nisi quis esse.</p>
        </div>
    </div>
    <div class="bg-warning bg-after">
        <div class="container-content content">
            <div class="bonus-save__title">
                <i class="icon icon_bonus-user"></i>
                Полугодовые бонусы постоянным клиентам
            </div>

            <div class="widget-grid">
                <div class="panel widget">
                    <div class="panel__icon">

                    </div>
                    <h3 class="panel__title"><b class="uk-text-danger">15 бонусов</b></h3>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            Каждые полгода с момента регистрации в программе "Летай Бонус" всем участникам начисляются дополнительные 15 бонусов
                        </div>
                    </div>

                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima libero facilis porro pariatur, tempora maiores? Est, eaque aperiam. Numquam delectus cumque nihil ratione, harum quis repudiandae. Mollitia nisi quis esse.</p>
        </div>
    </div>
    <div class="bg-default bg-after">
        <div class="container-content content">
            <div class="bonus-save__title">
                <i class="icon icon_bonus-present"></i>
                Праздничные бонусы 
            </div>

            <div class="widget-grid">
                <div class="panel widget">
                    <div class="panel__icon">

                    </div>
                    <h3 class="panel__title"><b class="uk-text-danger">15 бонусов</b></h3>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            В день рождения абонента
                        </div>
                    </div>

                </div><!--
                --><div class="panel widget">
                    <div class="panel__icon">

                    </div>
                    <h3 class="panel__title"><b class="uk-text-danger">8 бонусов</b></h3>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            В День Радио (День связи 7 мая), Международный женский день и День защитника Отечества.
                        </div>
                    </div>
                </div><!--
                --><div class="panel widget">
                    <div class="panel__icon">

                    </div>
                    <h3 class="panel__title"><b class="uk-text-danger">3 бонуса</b></h3>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            В Новый год и в День Республики Татастан 30 августа
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
