<div class="bonus-abonement">
    <div class="panel panel_accord uk-margin" data-uk-accordion>
        <div class="panel__top uk-accordion-title">
            Условия
        </div>
        <div class="uk-accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae voluptate assumenda libero omnis quis doloremque voluptatum obcaecati illo, modi unde excepturi, illum veniam perspiciatis facere neque quidem fugiat animi rerum?</p>
        </div>
    </div>
    <div class="abonement">
        <div class="abonement__left abonement-tab">
            <ul class="abonement-tab__list" data-uk-sticky="{media:460}" data-uk-switcher="{connect:'#abonement-cont', animation: 'fade'}">
                <li class="abonement-tab__item">
                    <a href="#abonement-cont" class="abonement-tab__link" data-uk-smooth-scroll>
                        <span class="abonement-tab__label">1-2</span>
                        <span class="abonement-tab__txt">от 1 года до 2 лет</span>
                    </a>
                </li>
                <li class="abonement-tab__item">
                    <a href="#abonement-cont" class="abonement-tab__link" data-uk-smooth-scroll>
                        <span class="abonement-tab__label">2-3</span>
                        <span class="abonement-tab__txt">от 2 до 3 лет</span>
                    </a>
                </li>
                <li class="abonement-tab__item">
                    <a href="#abonement-cont" class="abonement-tab__link" data-uk-smooth-scroll>
                        <span class="abonement-tab__label">3 - 5</span>
                        <span class="abonement-tab__txt">от 3 до 5 лет</span>
                    </a>
                </li>
                <li class="abonement-tab__item">
                    <a href="#abonement-cont" class="abonement-tab__link" data-uk-smooth-scroll>
                        <span class="abonement-tab__label">5 и ...</span>
                        <span class="abonement-tab__txt">от 5 и более</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="abonement__cont">
            <div id="abonement-cont" class="uk-switcher">
                <div class="">
                    <div class="js-show-list abonement-list uk-grid uk-grid-small uk-grid-match uk-grid-width-xlarge-1-4 uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-width-small-1-1" data-uk-grid-match="{target:'.abonement-box'}">
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-1" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-2" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-2" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-1" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-2" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-1" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-2" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abonement-list__item">
                            <div class="abonement-box">
                                <div class="abonement-box__wrap">
                                    <div class="abonement-box__tag">Активно</div>
                                    <div class="abonement-box__img"><img src="../img/abonement-box-img.png" alt=""></div>
                                    <div class="abonement-box__anons">Абонементская плата 1 рубль на 1 месяц пользования тарифным платном "Звезда 2"</div>
                                    <div class="abonement-box__price">
                                        <span class="abonement-box__price-summ">300</span>
                                        бонусов
                                    </div>
                                    <div class="abonement-box__bottom">
                                        <a href="#modal-cart-1" data-uk-modal class="uk-button uk-button-primary uk-width-1-1">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin-large-top">
                        <a href="../bonus-abonement.html" class="js-show-more btn btn_ghost uk-button uk-button-primary uk-button-large uk-width-1-1">Показать еще</a>
                    </div>
                </div>
                <div class="">2-3</div>
                <div class="">3-5</div>
                <div class="">5 и больше</div>
            </div>
        </div>
    </div>
</div>
