<div class="bonus-save">
    <div class="uk-margin padding-t-b">
        <h2>Стартовые бонусы</h2>
        <p>При регистрации каждому новому участнику программы "Летай Бонус" начисляются стартовые бонусы:</p>
        <div class="uk-grid uk-grid-small uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
            <div class="uk-margin-bottom">
                <div class="bonus-par bonus-par_bg-danger">
                    15 бонусов
                </div>
            </div>
            <div class="uk-margin-bottom">
                <div class="bonus-par-hint">
                    Абонентам "Летай", пользующимся услугами <a href="">1 год или более</a>
                </div>
            </div>
            <div class="uk-margin-bottom">
                <div class="bonus-par bonus-par_bg-danger">
                    8 бонусов
                </div>
            </div>
            <div class="uk-margin-bottom">
                <div class="bonus-par-hint">
                    Абонентам "Летай", пользующимся услугами <a href="">менее 1 года</a>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-all container-content__margin-minus bg-default uk-margin">
        <h2>Ежемесячные начисления</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolores molestiae recusandae natus odit debitis. Maiores, soluta asperiores consequuntur necessitatibus possimus voluptates inventore suscipit ab quis impedit ex ullam perferendis.
        </p>
        <div class="uk-grid uk-grid-small uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
            <div class="uk-margin-bottom">
                <div class="bonus-par bonus-par_bg-danger">
                    1000 руб. = 3 бонуса
                </div>
            </div>


        </div>
    </div>
    <div class="uk-margin padding-t-b">
        <h2>Полугодовые бонусы постоянным клиентам</h2>
        <div class="uk-grid uk-grid-small">
            <div class="uk-margin-bottom uk-width-medium-1-4">
                <div class="bonus-par bonus-par_bg-danger">
                    15 бонусов
                </div>
            </div>
            <div class="uk-margin-bottom uk-width-medium-3-4">
                <div class="bonus-par-hint">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis ex debitis molestias rerum, alias excepturi amet velit. Illum, ipsa. Vel, voluptates eum? Consequuntur cupiditate recusandae a placeat ea, officia ullam.
                </div>
            </div>

        </div>
    </div>
    <div class="padding-all container-content__margin-minus bg-default uk-margin">
        <h2>Ежемесячные начисления</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolores molestiae recusandae natus odit debitis. Maiores, soluta asperiores consequuntur necessitatibus possimus voluptates inventore suscipit ab quis impedit ex ullam perferendis.
        </p> 
        <div class="uk-grid uk-grid-small uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
            <div class="uk-margin-bottom">
                <div class="bonus-par bonus-par_bg-danger">
                    1000 руб. = 3 бонуса
                </div>
            </div>


        </div>
    </div>
</div>
