<div class="bonus-programm-fly">
    <h2>Что такое «Летай бонус»</h2>
    <p><strong>«Летай бонус»</strong> - это бонусная программа для абонентов «Летай», где вы можете накапливать бонусы и тратить их на приобретение подарков и участие в аукционах и конкурсах.</p>
    <!---->
    <div class="b-video uk-overlay uk-margin">
        <figure class="">
            <div id="player"></div>

            <figcaption class="uk-overlay-panel uk-overlay-background uk-vertical-align uk-text-center">
                <div class="uk-vertical-align-middle">
                    <div class="b-video__caption">
                        <div class="h4">Название видео</div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae voluptate doloribus dolorem sed culpa itaque dolore inventore repudiandae pariatur, libero, assumenda mollitia et debitis est ea quaerat. Culpa, ratione, distinctio.</p>

                        <div class="b-video__play uk-margin-top" id="player-play">

                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <!---->
    <h2>Кто может принять участие в программе?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae similique delectus iste, quibusdam nam tenetur ad sapiente veritatis voluptas quia assumenda illum maiores temporibus quasi natus corrupti cumque enim doloremque.</p>
    <!---->
    <div class="container-content container-content__margin-minus container-content__margin-minus_left b-bg b-bg_primary uk-margin">
        <h2>Как накопить бонусы?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, qui nesciunt ullam corporis odio dicta quaerat quisquam, incidunt fugit quod voluptatem nulla aliquam necessitatibus asperiores impedit debitis distinctio quidem repellat!</p>

        <div class="bonus-par uk-margin">
            1000 руб. = 3 бонуса
        </div>
        <p><i>Кроме того, мы начисляем бонусы новым участникам, постоянным клиентам каждые полгода, праздничные бонусы за привлечение новых клиентов.</i></p>
    </div>
    <!---->

    <div class="new-context">
        <div class="uk-margin">
            <h2>Как потратить баллы?</h2>
            <p><b>На сайте работает Витрина подарков, в которой вы можете:</b></p>
            <div class="bonus-variant">
                <div class="uk-grid uk-grid-width-large-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                    <div class="bonus-variant__item">
                        <div class="bonus-variant__img">
                            <i class="icon icon_suvenir"></i>
                        </div>
                        <div class="bonus-variant__name">Приобретать сувениры</div>
                    </div>
                    <div class="bonus-variant__item">
                        <div class="bonus-variant__img">
                            <i class="icon icon_discount"></i>
                        </div>
                        <div class="bonus-variant__name">Получать скидки на услуги и дополнительные сервисы</div>
                    </div>
                    <div class="bonus-variant__item">
                        <div class="bonus-variant__img">
                            <i class="icon icon_auction"></i>
                        </div>
                        <div class="bonus-variant__name">Принимать участие в аукционах и розыгрышах</div>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="container-content container-content__margin-minus container-content__margin-minus_left uk-margin b-bg">
            <h2>Как получить подарки</h2>
            <p><b>Материальные подарки можно получить в одном из офисов продаж и обслуживания ОАО "Таттелеком":</b></p>
            <div class="bonus-list-adress">
                <table>
                    <tr>
                        <td style="padding-right:50px">Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br>
                        Казань, ул. Декабристов, 187 <br>
                        Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br>
                        Казань, ул. Декабристов, 187 <br>
                        Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br>
                        Казань, ул. Декабристов, 187 <br>
                        Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br></td>
                        <td >Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br>
                        Казань, ул. Декабристов, 187 <br>
                        Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br>
                        Казань, ул. Декабристов, 187 <br>
                        Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br>
                        Казань, ул. Декабристов, 187 <br>
                        Казань, ул. Ершова, дом 57 <br>
                        Казань, ул. Пушкина, 15 <br></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>
