<div class="by-combining form uk-form">
    <form action="" id="form-by-combining">
        <div class="uk-grid uk-grid-small uk-grid-width-large-1-2 uk-grid-width-small-1-1" data-uk-grid-match="{target:'.by-combining__item'}">
            <div class="">
                <div class="by-combining__item" data-uk-accordion>
                    <div class="by-combining__title uk-accordion-title">
                        <div class="by-combining__title-name">Выберите ЛС, к которому хотите привязать остальные счета</div>
                    </div>
                    <div class="by-combining__cont uk-accordion-content">
                        <div id="by-combining-selected">
                            <div class="uk-form-row">
                                <div class="uk-form-controls">
                                    <input type="radio" name="radio-group" id="radio-1" value="256 852" data-sel="0"> <label for="radio-1"  >256 852 - Интернет (50 мб/с)</label>
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <div class="uk-form-controls">
                                    <input type="radio" name="radio-group" id="radio-2" value="585 936" data-sel="1"> <label for="radio-2"  >585 936 - Интернет (20 мб/с)</label>
                                </div>
                            </div>
                            <div class="uk-form-row">
                                <div class="uk-form-controls">
                                    <input type="radio" name="radio-group" id="radio-3" value="256 852" data-sel="2"> <label for="radio-3"  >256 852 - Интернет (50 мб/с)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="invisible by-combining__item" data-uk-accordion id="by-combining-add">
                        <div class="by-combining__title uk-accordion-title">
                            <div class="by-combining__title-name">
                                Выберите ЛС, которые хотите объеденить с выбранным ЛС №<span id="form-by-combining__num"><span>123 458</span></span>
                            </div>
                        </div>
                        <div class="by-combining__cont uk-accordion-content">
                            <div>
                                <div class="uk-form-row" >
                                    <input type="checkbox" id="check-1"> <label for="check-1">256 852 - Интернет (50 мб/с)</label>
                                </div>
                                <div class="uk-form-row" >
                                    <input type="checkbox" id="check-2"> <label for="check-2">585 936 - Интернет (20 мб/с)</label>
                                </div>
                                <div class="uk-form-row" >
                                    <input type="checkbox" id="check-3"> <label for="check-3">123 458 - Интернет (50 мб/с)</label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>    <div class="invisible uk-form-row uk-margin-top">
                <button type="button" class="btn uk-button uk-button-primary" data-uk-modal="{target:'#modal-thanks'}">Объеденить</button>
        </div>

    </form>
</div>
