<div class="call-detail panel">
    <div class="form-call-width form uk-form uk-form-stacked">
        <form action="">
            <div class="uk-form-row">
                <label for="" class="uk-form-label uk-display-block">Выберите период, за который вы хотите получить детализацию:</label>
                <div class="uk-grid uk-grid-medium">
                    <div class="">

                        <div class="uk-form-controls">
                            С
                            <div class="uk-form-icon uk-form-icon-flip form-icon uk-margin-bottom">
                                <input type="text" id="js-datepicker-start" class="uk-form-width-small" readonly>
                                <i class="uk-icon-calendar"></i>
                            </div>
                        </div>

                    </div>
                    <div class="">
                        <div class="uk-form-controls uk-display-inline-block">
                            <span class="">До </span>
                            <div class="uk-form-icon uk-form-icon-flip form-icon uk-margin-bottom">
                                <input type="text" id="js-datepicker-end" class=" uk-form-width-small" readonly>
                                <i class="uk-icon-calendar"></i>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Получить детализацию на e-mail</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="btn uk-button uk-button-warning">Получить детализацию</button>
            </div>
        </form>
    </div>
</div>
