<div class="auto-payment">
    <div class="panel">
        <div class="panel__title">Список сохраненных карт</div>
        <div class="panel__content">
            <div class="uk-overflow-container">
                <table class="list-card tbl">
                    <col width="150">
                    <col>

                        <tr class="list-card__item">
                            <td class="list-card__td">
                                <button class="list-card__remove-item">Удалить карту</button>
                            </td>
                            <td class="list-card__td">
                                <div class="list-card__num">
                                    <i class="icon icon_card"></i>
                                    <span>7563 **** **** 3937</span>
                                </div>
                            </td>



                        </tr>
                    <tr class="list-card__item">
                        <td class="list-card__td">
                            <button class="list-card__remove-item">Удалить карту</button>
                        </td>
                        <td class="list-card__td">
                            <div class="list-card__num">
                                <i class="icon icon_card"></i>
                                <span>7563 **** **** 3937</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel__bottom uk-margin-top">
            <a href="#" class="btn uk-button uk-button-primary">Добавить новую карту</a>
        </div>
    </div>
</div>
