<div id="chat" class="container-content uk-flex">
    <div class="chat-wrapp uk-flex">
        <div class="chat uk-flex uk-flex-column">
            <div class="chat__top">
                <div class="chat__date date">12 сентября в 13:00</div>
                <div class="chat__name">Постоянные проблемы с подключением</div>
                <div class="chat__caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nostrum dolores suscipit debitis nihil eos quaerat dolorem eum, illo quo doloribus similique veniam ratione, qui et, quae. Fugiat, architecto, quo?</div>
                <hr>
            </div>
            <div class="chat__area panel uk-margin-bottom">

                <div class="chat__messages">
                    <div class="message message_left">
                        <a href="" class="message__ava message__ava_left">
                            <img src="http://lorempixel.com/50/50/cats/1/" alt="">
                        </a>
                        <div class="message__content">
                            <div class="date">12 сентября в 13:00</div>
                            <div class="message__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora praesentium ut dolorem in. Aspernatur nisi cumque vitae distinctio architecto voluptates libero. Ducimus doloribus corrupti, magnam culpa obcaecati expedita voluptatem!
                            </div>
                        </div>
                    </div>
                    <div class="message message_right">
                        <a href="" class="message__ava message__ava_right">
                            <img src="http://lorempixel.com/50/50/cats/2/" alt="">
                        </a>
                        <div class="message__content">
                            <div class="date">12 сентября в 13:00</div>
                            <div class="message__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora praesentium ut dolorem in. Aspernatur nisi cumque vitae distinctio architecto voluptates libero. Ducimus doloribus corrupti, magnam culpa obcaecati expedita voluptatem!
                            </div>
                        </div>
                    </div>
                    <div class="message message_left">
                        <a href="" class="message__ava message__ava_left">
                            <img src="http://lorempixel.com/50/50/cats/1/" alt="">
                        </a>
                        <div class="message__content">
                            <div class="date">12 сентября в 13:00</div>
                            <div class="message__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora praesentium ut dolorem in. Aspernatur nisi cumque vitae distinctio architecto voluptates libero. Ducimus doloribus corrupti, magnam culpa obcaecati expedita voluptatem!
                            </div>
                        </div>
                    </div>
                    <div class="message message_right">
                        <a href="" class="message__ava message__ava_right">
                            <img src="http://lorempixel.com/50/50/cats/2/" alt="">
                        </a>
                        <div class="message__content">
                            <div class="date">12 сентября в 13:00</div>
                            <div class="message__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora praesentium ut dolorem in. Aspernatur nisi cumque vitae distinctio architecto voluptates libero. Ducimus doloribus corrupti, magnam culpa obcaecati expedita voluptatem!
                            </div>
                        </div>
                    </div>
                    <div class="message message_left">
                        <a href="" class="message__ava message__ava_left">
                            <img src="http://lorempixel.com/50/50/cats/1/" alt="">
                        </a>
                        <div class="message__content">
                            <div class="date">12 сентября в 13:00</div>
                            <div class="message__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora praesentium ut dolorem in. Aspernatur nisi cumque vitae distinctio architecto voluptates libero. Ducimus doloribus corrupti, magnam culpa obcaecati expedita voluptatem!
                            </div>
                        </div>
                    </div>
                    <div class="message message_right">
                        <a href="" class="message__ava message__ava_right">
                            <img src="http://lorempixel.com/50/50/cats/2/" alt="">
                        </a>
                        <div class="message__content">
                            <div class="date">12 сентября в 13:00</div>
                            <div class="message__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi tempora praesentium ut dolorem in. Aspernatur nisi cumque vitae distinctio architecto voluptates libero. Ducimus doloribus corrupti, magnam culpa obcaecati expedita voluptatem!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat__bottom container-content__margin-minus">
                <div class="chat__answer">
                    <div class="form uk-form">
                        <form action="">
                            <div class="uk-float-right uk-margin-left">
                                <button class="btn uk-button uk-button-primary chat__answer-btn" type="submit">Ответить</button>
                            </div>
                            <div class="new-context chat__answer-field">
                                <div class="uk-width-1-1">
                                    <input type="text" placeholder="Написать ответ..." class="uk-width-1-1">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
