<div class="dop-services">
    <div class="dop-services__filter uk-margin-bottom">
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="">
                            <label for="" class="uk-form-label">Услуги</label>
                            <div class="uk-form-controls">
                                <select name="" id="" class="js-select">
                                    <option value="">Все услуги</option>

                                </select>
                            </div>
                        </div>

                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="uk-margin uk-overflow-container">
        <ul class="services-list">
            <li class="services-list__item services-list__item_danger">
                <div class="services-list__item-td">
                    <i class="icon icon_people"></i>
                    <span class="services-list__name">Новая группа</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    <span class="uk-text-primary">30</span> руб
                </div>
                <div class="services-list__item-td">
                    <div class="services-list__state services-list__state_on">Услуга включена</div>
                </div>
            </li>
            <li class="services-list__item services-list__item_danger">
                <div class="services-list__item-td">
                    <i class="icon icon_people-one"></i>
                    <span class="services-list__name">Новая абонент</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    Бесплатно
                </div>
                <div class="services-list__item-td">
                    <div class="services-list__state services-list__state_on">Услуга включена</div>
                </div>
            </li>
            <li class="services-list__item">
                <div class="services-list__item-td">
                    <i class="icon icon_voices"></i>
                    <span class="services-list__name">Главное голосовое меню</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    <span>Бесплатно</span>
                </div>
                <div class="services-list__item-td">
                    <div class="services-list__state">Услуга не активна</div>
                </div>
            </li>
            <li class="services-list__item">
                <div class="services-list__item-td">
                    <i class="icon icon_ivr"></i>
                    <span class="services-list__name">Главное меню IVR</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    <span>Бесплатно</span>
                </div>
                <div class="services-list__item-td">
                    <div class="services-list__state">Услуга не активна</div>
                </div>
            </li>
        </ul>
    </div>
</div>
