<div class="dop-services">
    <div class="dop-services__filter uk-margin-bottom">
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-margin-bottom">
                            <label for="" class="uk-form-label">Счет</label>
                            <div class="uk-form-controls">
                                <select name="" id="" class="js-select">
                                    <option value="">Все счета</option>
                                    <option value="">Не все счета</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-margin-bottom">
                            <label for="" class="uk-form-label">Услуги</label>
                            <div class="uk-form-controls">
                                <select name="" id="" class="js-select">
                                    <option value="">Все счета</option>
                                    <option value="">Не все счета</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="uk-margin uk-overflow-container">
        <ul class="services-list">
            <li class="services-list__item services-list__item_danger">
                <div class="services-list__item-td">
                    <i class="icon icon_heart"></i>
                    <span class="services-list__name">Моб - "Любимые номера"</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    <span><span class="uk-text-primary">30</span> руб</span>
                </div>
                <div class="services-list__item-td">
                    <div class="switcher-check">
                        <input type="checkbox" id="switch-serv-1">
                        <label for="switch-serv-1" class="switcher-check__body"></label>
                    </div>
                </div>
            </li>
            <li class="services-list__item services-list__item_danger">
                <div class="services-list__item-td">
                    <i class="icon icon_discount-min"></i>
                    <span class="services-list__name">Скидка 50% на звонки по России</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    <span>Бесплатно</span>
                </div>
                <div class="services-list__item-td">
                    <div class="switcher-check">
                        <input type="checkbox" id="switch-serv-2">
                        <label for="switch-serv-2" class="switcher-check__body"></label>
                    </div>
                </div>
            </li>
            <li class="services-list__item">
                <div class="services-list__item-td">
                    <i class="icon icon_tel-grey"></i>
                    <span class="services-list__name">Скидка 50% на звонки по России</span>
                    <span class="info-tooltip uk-icon-question" data-uk-tooltip="{cls:'my-tooltip'}" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta enim facere rerum autem! Dicta dolorem, nisi tenetur consequatur laborum impedit, blanditiis praesentium animi minus quibusdam dolor aspernatur id ducimus obcaecati!"></span>
                </div>
                <div class="services-list__item-td">
                    <span>Бесплатно</span>
                </div>
                <div class="services-list__item-td">
                    <div class="switcher-check">
                        <input type="checkbox" id="switch-serv-3">
                        <label for="switch-serv-3" class="switcher-check__body"></label>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
