<div class="e-order">
    <div class="e-order-filter">
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">

                    <div class="">
                        <div class="uk-display-inline-block uk-margin-right ">
                            <label for="" class="uk-form-label uk-display-block">Счет за период</label>
                            <div class="uk-form-controls uk-display-inline-block uk-margin-bottom">
                                С
                                <div class="uk-form-icon uk-form-icon-flip form-icon">
                                    <input type="text" id="js-datepicker-start" class="uk-form-width-small" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                            &nbsp;
                            <div class="uk-form-controls uk-display-inline-block uk-margin-bottom">
                                <span class="">До </span>
                                <div class="uk-form-icon uk-form-icon-flip form-icon">
                                    <input type="text" id="js-datepicker-end" class=" uk-form-width-small" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="uk-display-inline-block">
                            <label for="" class="uk-form-label">Счет</label>
                            <div class="uk-form-controls">
                                <select name="" id="" class="js-select">
                                    <option value="">Все счета</option>
                                    <option value="">Не все счета</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <div class="e-order-tbl uk-overflow-container uk-margin">
        <table class="tbl">
            <col width="100">
            <tr>
                <th>Месяц</th>
                <th>Лицевой счет</th>
                <th></th>
            </tr>
            <tr>
                <td>Январь 2016</td>
                <td><a href="#">234 352 - Интернет, Мобильное ТВ и еще 3</a></td>
                <td>
                    <div class="e-order-tbl__hidden">
                        <a href="#" class="e-order-tbl__print-link uk-margin-right"><i class="uk-icon-print"></i>    Распечатать</a> &nbsp;
                        <a href="#" class="e-order-tbl__print-link"> <i class="icon icon_down"></i>  Скачать</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Январь 2016</td>
                <td><a href="">234 352 - Интернет, Мобильное ТВ и еще 3</a></td>
                <td>
                    <div class="e-order-tbl__hidden">
                        <a href="#" class="e-order-tbl__print-link uk-margin-right"><i class="uk-icon-print"></i>    Распечатать</a> &nbsp;
                        <a href="#" class="e-order-tbl__print-link"> <i class="icon icon_down"></i>  Скачать</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
