<div class="faq">
    <div class="faq__left">
        <ul class="faq-nav" data-uk-sticky="{media: 960}" data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}">
            <li class="faq-nav__item">
                <a href="#faq-1" class="faq-nav__link">
                    <span class="faq-nav__ico faq-nav__ico_request">
                        <i class="icon icon_question-dan"></i>
                        <i class="icon icon_question-w active"></i>
                    </span>
                    <span class="faq-nav__name">Частые вопросы</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-2" class="faq-nav__link">
                    <span class="faq-nav__ico faq-nav__ico_inet">
                        <i class="icon icon_glob-danger"></i>
                        <i class="icon icon_glob-w active"></i>
                    </span>
                    <span class="faq-nav__name">Интернет</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-3" class="faq-nav__link">
                    <span class="faq-nav__ico faq-nav__ico_mobi">
                        <i class="icon icon_mobi-war"></i>
                        <i class="icon icon_mobi-w active"></i>
                    </span>
                    <span class="faq-nav__name">Мобильная связь</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-4" class="faq-nav__link">
                    <span class="faq-nav__ico">
                        <i class="icon icon_faq-tv"></i>
                        <i class="icon icon_faq-tv-white active"></i>
                    </span>
                    <span class="faq-nav__name">Телевидение</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-5" class="faq-nav__link">
                    <span class="faq-nav__ico">
                        <i class="icon icon_faq-phone"></i>
                        <i class="icon icon_faq-phone-white active"></i>
                    </span>
                    <span class="faq-nav__name">Телефония</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-6" class="faq-nav__link">
                    <span class="faq-nav__ico">
                        <i class="icon icon_faq-sip"></i>
                        <i class="icon icon_faq-sip-white active"></i>
                    </span>
                    <span class="faq-nav__name">Sip-телефония</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-7" class="faq-nav__link">
                    <span class="faq-nav__ico">
                        <i class="icon icon_faq-video"></i>
                        <i class="icon icon_faq-video-white active"></i>
                    </span>
                    <span class="faq-nav__name">Видеонаблюдение</span>
                </a>
            </li>
            <li class="faq-nav__item">
                <a href="#faq-8" class="faq-nav__link">
                    <span class="faq-nav__ico">
                        <i class="icon icon_faq-wifi"></i>
                        <i class="icon icon_faq-wifi-white active"></i>
                    </span>
                    <span class="faq-nav__name">Wi-fi</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="faq__container">
        <div id="faq-1" class="faq-box">
            <div class="faq-box__title">Частые вопросы</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-2" class="faq-box faq-box_bg-def">
            <div class="faq-box__title">Интернет</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-3" class="faq-box faq-box_bg-warning">
            <div class="faq-box__title">Мобильная связь</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-4" class="faq-box faq-box_bg-def">
            <div class="faq-box__title">Телевидение</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-5" class="faq-box faq-box_bg-warning">
            <div class="faq-box__title">Телефония</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-6" class="faq-box">
            <div class="faq-box__title">Sip-телефония</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-7" class="faq-box faq-box_bg-def">
            <div class="faq-box__title">Видеонаблюдение</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
        <div id="faq-8" class="faq-box faq-box_bg-warning">
            <div class="faq-box__title">Wi-fi</div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
            <div class="faq-accord" data-uk-accordion="{showfirst: false}">
                <div class="faq-accord__title">Проблемы с роутером</div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
                <div class="faq-accord__quest uk-accordion-title">
                    Постоянные проблемы с подключением
                </div>
                <div class="faq-accord__answer uk-accordion-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam provident ipsum, sunt qui. Ut veniam enim, et minima architecto facere pariatur molestias, saepe esse, animi quidem quibusdam nihil autem voluptatem.</p>
                    <p>Itaque aliquid sequi fugit minima possimus illo deserunt eius, assumenda corrupti temporibus, velit quidem odio ab quasi similique laborum tenetur doloremque dolor, eaque esse deleniti excepturi ea dolore, ipsa! Repudiandae!</p>
                </div>
            </div>
        </div>
    </div>
</div>
