<header class="header">
	<div class="header__top">
		<div class="uk-float-left">
			<nav class="main-nav">
				<ul class="main-nav__list">
					<li class="main-nav__item"><a href="#" class="main-nav__link">
						<i class="icon icon_logo-m"></i>
						<span class="main-nav__txt">Таттелеком</span></a></li>
					<li class="main-nav__item"><a href="#" class="main-nav__link">
						<i class="icon icon_for-h"></i> <span class="main-nav__txt">Для дома</span></a></li>
					<li class="main-nav__item"><a href="#" class="main-nav__link">
						<i class="icon icon_for-b"></i> <span class="main-nav__txt">Для бизнеса</span></a></li>
					<!-- <li class="main-nav__item active"><a href="#" class="main-nav__link"><i class="icon icon_cabinet"></i> <span class="main-nav__txt">Личный кабинет</span></a></li> -->
					<li class="main-nav__item"><a href="#" class="main-nav__link">
						<i class="icon icon_partner"></i> <span class="main-nav__txt">Стать партнером</span></a></li>
				</ul>
			</nav>
		</div>
		<div class="uk-float-right">
			<ul class="profile-top-menu">
				<li class="profile-top-menu__item uk-button-dropdown">
					<a href="javascript:void(0);"><i class="icon icon_wallet-grey"></i> <span class="profile-top-menu__txt">Платежи</span> <i class="uk-icon-caret-down"></i></a>
					<div class="uk-dropdown">
						<ul class="uk-nav uk-nav-dropdown dropdown-menu">
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Страницы оплаты</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Обещанный платеж</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Автоплатеж</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Счетов в электроннм виде</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">История операций</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Управление картами</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="profile-top-menu__item">
					<a href="#"><i class="icon icon_present"></i>
						<span>524</span>
					</a>
				</li>
				<li class="profile-top-menu__item uk-button-dropdown">
					<a href="#"><i class="icon icon_bell-grey"><span class="uk-badge uk-badge-notification uk-badge-danger">5</span></i>

					</a>
					<div class="uk-dropdown uk-dropdown_lg">

							<div class="dropdown-menu-top">
								<div class="uk-float-left"><div class="dropdown-menu-top__title">7 уведомлений</div></div>
								<div class="uk-float-right"><a href="#">Показать все</a></div>
							</div>
							<ul class="uk-nav uk-nav-dropdown dropdown-menu">
								<li class="dropdown-menu__item">
									<a href="#" class="dropdown-menu__link">Мой профиль</a>
								</li>
								<li class="dropdown-menu__item">
									<a href="#" class="dropdown-menu__link">Выйти</a>
								</li>
							</ul>

					</div>
				</li>
				<li class="profile-top-menu__item uk-button-dropdown">
					<a href="javascript:void(0);">
					<div class="profile-avatar-min uk-display-inline-block"><img src="http://lorempixel.com/40/40/cats/1" alt="" width="40" height="40" class=""></div>
				</i> <span class="profile-top-menu__txt">Константин Константинопольский</span> <i class="uk-icon-caret-down"></i></a>
					<div class="uk-dropdown">
						<ul class="uk-nav uk-nav-dropdown dropdown-menu">
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Мой профиль</a>
							</li>
							<li class="dropdown-menu__item">
								<a href="#" class="dropdown-menu__link">Выйти</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<!-- <div class="header__bottom">
		<div class="uk-float-left">
			<div class="search uk-form">
				<form action="">
					<div class="uk-form-icon">
						<button type="submit" class="search__btn uk-icon-search"></button>
						<input type="text" placeholder="Поиск по сайту...">
					</div>
				</form>
			</div>
		</div>
	</div> -->
</header>
