<div class="request">
    <div class="request-filter">
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">

                    <div class="">
                        <div class="uk-display-inline-block uk-margin-bottom uk-margin-right">
                            <label for="" class="uk-form-label uk-display-block">Тип</label>
                            <div class="uk-form-controls">
                                <select name="" class="js-select">
                                    <option value="">Все операции</option>
                                    <option value="">Не все операции</option>
                                </select>
                            </div>
                        </div>
                        <div class="uk-display-inline-block">
                            <label for="" class="uk-form-label uk-display-block">История за период</label>
                            <div class="uk-form-controls uk-display-inline-block uk-margin-bottom">
                                С
                                <div class="uk-form-icon uk-form-icon-flip form-icon">
                                    <input type="text" id="js-datepicker-start" class="uk-form-width-small" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                            &nbsp;
                            <div class="uk-form-controls uk-display-inline-block uk-margin-bottom">
                                <span class="">До </span>
                                <div class="uk-form-icon uk-form-icon-flip form-icon">
                                    <input type="text" id="js-datepicker-end" class=" uk-form-width-small" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <label for="" class="uk-form-label">Счет</label>
                            <div class="uk-form-controls">
                                <select name="" id="" class="js-select">
                                    <option value="">Все счета</option>
                                    <option value="">Не все счета</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <div class="request-list">
        <table class="request__tbl">
            <col width="1">
            <col width="">
            <col width="">
            <col width="">
            <tr class="request__tr">
                <th class="request__th">Статус</th>
                <th class="request__th">Описание</th>
                <th class="request__th">Сумма</th>
                <th class="request__th">№ заявки</th>
                <th class="request__th">Дата</th>
            </tr>
            <tbody class="js-show-list">
                <tr>
                    <td><span class="request__state state state_danger">Отменено</span></td>
                    <td><span class="request__name">Договор на предоставление услуг связи</span></td>
                    <td><span class="request__num">256 851</span></td>
                    <td><span class="request__summ">150 000,00 руб.</span></td>
                    <td><span class="request__date">1 сен 16</span></td>
                </tr>
                <tr>
                    <td><span class="request__state state state_warning">Ожидается</span></td>
                    <td><span class="request__name">Договор на предоставление услуг связи</span></td>
                    <td><span class="request__num">256 851</span></td>
                    <td><span class="request__summ">150 000,00 руб.</span></td>
                    <td><span class="request__date">1 сен 16</span></td>
                </tr>
                <tr>
                    <td><span class="request__state state state_primary">Оплачено</span></td>
                    <td><span class="request__name">Договор на предоставление услуг связи</span></td>
                    <td><span class="request__num">256 851</span></td>
                    <td><span class="request__summ">150 000,00 руб.</span></td>
                    <td><span class="request__date">1 сен 16</span></td>
                </tr>
            </tbody>
        </table>
        <a href="../history.html" class="js-show-more btn btn_ghost uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin">Показать еще</a>
    </div>

</div>
