<div class="login-page-wrapp uk-flex">
    <div class="login-page-container uk-flex uk-flex-column uk-flex-space-between">
        <div class="login-page-container__top">
            <div class="container-content">
                <div class="uk-float-left">
                    <a href="/">
                        <img src="../img/logo.png" alt="">
                    </a>
                </div>
                <div class="uk-float-right">
                    <a href="" class="back js-back"><i class="uk-icon-arrow-left"></i> Назад</a>
                </div>
            </div>
        </div>
        <div class="login-page-container__center">
            <div class="container-content">
                <div class="login-reg-form">
                    <div class="login-reg-form__top">
                        <div class="login-reg-form__title">Авторизация</div>
                    </div>
                    <div class="login-reg-form__dialog">
                        <div class="form uk-form uk-form-stacked">
                            <form action="">
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">E-mail, номер ЛС или логин</label>
                                    <div class="uk-form-controls">
                                        <input type="text" placeholder="Введите ваш e-mail, номел ЛС или логин..." class="uk-width-1-1">
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">Пароль</label>
                                    <div class="uk-form-controls">
                                        <input type="text" placeholder="Введите ваш пароль..." class="uk-width-1-1">
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <button type="submit" class="btn uk-button uk-button-primary uk-width-1-1">Войти</button> &nbsp;
                                    <a href="" class="uk-display-inline-block uk-margin">Забыли пароль?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="login-reg-form__bottom">
                        <div class="social-autpriz">
                            <a href=""><img src="../img/vk.jpg" alt=""></a>
                            <a href=""><img src="../img/fb.jpg" alt=""></a>
                            <a href=""><img src="../img/od.jpg" alt=""></a>
                        </div>
                    </div>
                    <div class="login-reg-form__footer">
                        Нет еще личного кабинета? <a href="">Зарегистрируйтесь</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-page-container__bottom">
            <div class="container-content"></div>
        </div>
    </div>
</div>
