<div class="menu">
    <div class="menu__title">Меню</div>
    <nav class="menu__nav">
        <ul class="menu__list">
            <li class="menu__item active"><a href="#" class="menu__link">
                <i class="uk-icon-home"></i>
                <span>Главная</span>
            </a></li>
            <li class="menu__item"><a href="#" class="menu__link">
                <i class="uk-icon-tv"><span class="uk-badge uk-badge-notification">5</span></i>
                <span class="menu__name">Интернет, телефония и еще 3</span><span class="menu__name uk-hidden">ЛС: 200 856</span>
            </a></li>
            <li class="menu__item"><a href="#" class="menu__link">
                <i class="uk-icon-tv"><span class="uk-badge uk-badge-notification uk-badge-disabled">2</span></i>
                <span class="menu__name">Интернет и телевидение</span><span class="menu__name uk-hidden">ЛС: 200 856</span>
            </a></li>
            <li class="menu__item"><a href="#" class="menu__link">
                <i class="uk-icon-folder-o"><span class="uk-badge uk-badge-notification uk-badge-success">2</span></i>
                <span class="menu__name">Интернет и телевидение</span><span class="menu__name uk-hidden">ЛС: 200 856</span>
            </a></li>
            <li class="menu__item"><a href="#" class="menu__link">
                <i class="uk-icon-edit"></i>
                <span class="">Приостановить обслуживание</span>
            </a></li>
            <li class="menu__item"><a href="#" class="menu__link">
                <i class="uk-icon-star-o"></i>
                <span>Заявки</span>
            </a></li>
            <li class="menu__item"><a href="#" class="menu__link">
                <i class="uk-icon-tv"></i>
                <span>Объединение лицевых счетов</span>
            </a></li>
        </ul>
    </nav>
    <a href="#" class="btn btn_ghost uk-button uk-button-primary uk-width-1-1" data-uk-toggle="{target:'.menu__name'}">Показывать номера ЛС</a>
</div>
