<div class="widget-grid">
    <div class="panel widget">
        <h3 class="panel__title uk-text-danger">Тариф: звезда</h3>
        <div class="widget__content">
            <div class="widget-scroll">
                <div class="widget__toggle-serv">
                    <a href="#"><span class="widget__toggle-serv-ico widget__toggle-serv-ico_next-pt"><i class="icon icon_tv"></i></span> <span class="new-context">25 каналов</span>
				                            </a>
                </div>
                <div class="widget__toggle-serv">
                    <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
    				                            </a>
                </div>
                <div class="widget__toggle-serv">

                    <a href="javascript:void(0);" title='
                        <ul class="uk-nav uk-nav-dropdown dropdown-menu">
                                <li class="dropdown-menu__item">
                                    <div class="uk-float-left">Интернет</div>
                                    <div class="uk-float-right">75 Мбит/с</div>
                                </li>
                                <li class="dropdown-menu__item">
                                    <div class="uk-float-left">Wi-fi</div>
                                    <div class="uk-float-right">Бесплатно</div>
                                </li>
                            </ul>
                        ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                        </a>

                </div>
            </div>

        </div>
        <div class="widget__bottom">
            <button class="btn uk-button">Отключить</button>
        </div>
    </div><!--
    --><div class="panel widget">

        <h3 class="panel__title uk-text-danger">Тариф: звезда</h3>
        <div class="widget__content">
            <div class="widget-scroll">
                <div class="widget__toggle-serv">
                    <a href="#"><span class="widget__toggle-serv-ico widget__toggle-serv-ico_next-pt"><i class="icon icon_tv"></i></span> <span class="new-context">25 каналов</span>
				                            </a>
                </div>
                <div class="widget__toggle-serv">
                    <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
    				                            </a>
                </div>
                <div class="widget__toggle-serv">

                    <a href="javascript:void(0);" title='
                        <ul class="uk-nav uk-nav-dropdown dropdown-menu">
                                <li class="dropdown-menu__item">
                                    <div class="uk-float-left">Интернет</div>
                                    <div class="uk-float-right">75 Мбит/с</div>
                                </li>
                                <li class="dropdown-menu__item">
                                    <div class="uk-float-left">Wi-fi</div>
                                    <div class="uk-float-right">Бесплатно</div>
                                </li>
                            </ul>
                        ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                        </a>

                </div>
            </div>
        </div>
        <div class="widget__bottom">
            <button class="uk-button uk-button-primary">Подключить</button>
        </div>
    </div><!--
    --><div class="panel widget">
        <div class="panel__icon">

        </div>
        <h3 class="panel__title">Рекомендуем подключить</h3>
        <div class="widget__content">
            <div class="widget-scroll">
                <div class="widget__toggle-serv">
                    <a href="#"><span class="widget__toggle-serv-ico widget__toggle-serv-ico_next-pt"><i class="icon icon_tv"></i></span> <span class="new-context">25 каналов</span>
				                            </a>
                </div>
                <div class="widget__toggle-serv">
                    <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
    				                            </a>
                </div>
                <div class="widget__toggle-serv">

                    <a href="javascript:void(0);" title='
                        <ul class="uk-nav uk-nav-dropdown dropdown-menu">
                                <li class="dropdown-menu__item">
                                    <div class="uk-float-left">Интернет</div>
                                    <div class="uk-float-right">75 Мбит/с</div>
                                </li>
                                <li class="dropdown-menu__item">
                                    <div class="uk-float-left">Wi-fi</div>
                                    <div class="uk-float-right">Бесплатно</div>
                                </li>
                            </ul>
                        ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                        </a>

                </div>
            </div>
        </div>
        <div class="widget__bottom">
            <button class="uk-button uk-button-primary">Подключить</button>
        </div>
    </div>
</div>
