<!-- This is the modal -->
<div id="modal-psw-change" class="uk-modal modal">
    <div class="uk-modal-dialog">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">Сменить пароль</div>
        </div>
        <div class="modal__container">
            <div class="form uk-form uk-form-stacked">
                <form action="">
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Старый пароль</label>
                        <div class="uk-form-controls">
                            <div class="uk-form-password uk-form-icon uk-form-icon-flip uk-width-1-1">
                                <input type="password" class="uk-width-1-1" placeholder="Введите ваш старый пароль...">
                                <a href="" class="uk-icon-eye uk-form-password-toggle" data-uk-form-password="{lblShow:'', lblHide:''}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Новый пароль</label>
                        <div class="uk-form-controls">
                            <div class="uk-form-password uk-form-icon uk-form-icon-flip uk-width-1-1">
                                <input type="password" class="uk-width-1-1" placeholder="Введите ваш новый пароль...">
                                <a href="" class="uk-icon-eye uk-form-password-toggle" data-uk-form-password="{lblShow:'', lblHide:''}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Повторите новый пароль</label>
                        <div class="uk-form-controls">
                            <div class="uk-form-password uk-form-icon uk-form-icon-flip uk-width-1-1">
                                <input type="password" class="uk-width-1-1" placeholder="Еще раз введите ваш новый пароль...">
                                <a href="" class="uk-icon-eye uk-form-password-toggle" data-uk-form-password="{lblShow:'', lblHide:''}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row uk-text-center">
                        <button type="submit" class="btn uk-button uk-button-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---->
<div id="modal-sms-note" class="uk-modal modal">
    <div class="uk-modal-dialog">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">Включить смс оповещения</div>
        </div>
        <div class="modal__container">
            <div class="form uk-form uk-form-stacked">
                <form action="">
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Номер телефона</label>
                        <div class="uk-form-controls">

                            <input type="text" class="uk-width-1-1 js-mask-phone" placeholder="Введите номер телефона...">


                        </div>
                    </div>
                    <div class="uk-form-row uk-text-center">
                        <button type="submit" class="btn uk-button uk-button-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---->
<div id="modal-thanks" class="uk-modal modal">
    <div class="uk-modal-dialog">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">Спасибо</div>
        </div>
        <div class="modal__container">

            <p>Заявка на объединение ЛС ещё не обработана</p>
            <div class="uk-form-row uk-text-center">
                <button type="button" class="btn uk-button uk-button-primary uk-modal-close">Закрыть</button>
            </div>

        </div>
    </div>
</div>
<!---->
<div id="modal-dialog" class="uk-modal modal">
    <div class="uk-modal-dialog">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">Спасибо</div>
        </div>
        <div class="modal__container">

            <p>Вы уверены, что хотите подключить тариф "Везде как дома?"</p>
            <div class="uk-margin-top uk-grid uk-grid-small uk-grid-width-medium-1-2">
                <div class="uk-margin-bottom-small">
                    <button type="button" class="uk-button uk-button-primary uk-modal-close uk-width-1-1">Да</button>
                </div>
                <div class="uk-margin-bottom-small">
                    <button type="button" class="btn_ghost uk-button uk-button-primary uk-modal-close uk-width-1-1">Нет</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!---->
<div id="modal-bonus" class="uk-modal modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">У вас не подключена бонусная программа</div>
        </div>
        <div class="modal__container content">
            <h3>Соглашение об участии в бонусной программе для абонентов физических лиц ПАО "Таттелеком"</h3>
            <ol>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime aliquam est. Quis dignissimos omnis ipsa vero perferendis minima voluptate, deleniti dolorem mollitia velit, dolor tempora animi assumenda doloremque, nam.
                    Aspernatur commodi ratione libero laudantium reiciendis rem, consequuntur rerum obcaecati culpa sed, aliquam illo magni deserunt, sit nihil qui numquam error praesentium non eaque maxime consectetur. Deleniti alias quam blanditiis.
                    Molestiae at, quod ad eveniet tenetur eum dolore? Soluta accusantium nulla quaerat, quo dignissimos cum vero nesciunt odio, quisquam dolor impedit earum temporibus eos, nostrum nihil inventore. Optio, molestiae, nobis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime aliquam est. Quis dignissimos omnis ipsa vero perferendis minima voluptate, deleniti dolorem mollitia velit, dolor tempora animi assumenda doloremque, nam.
                    Aspernatur commodi ratione libero laudantium reiciendis rem, consequuntur rerum obcaecati culpa sed, aliquam illo magni deserunt, sit nihil qui numquam error praesentium non eaque maxime consectetur. Deleniti alias quam blanditiis.
                    Molestiae at, quod ad eveniet tenetur eum dolore? Soluta accusantium nulla quaerat, quo dignissimos cum vero nesciunt odio, quisquam dolor impedit earum temporibus eos, nostrum nihil inventore. Optio, molestiae, nobis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime aliquam est. Quis dignissimos omnis ipsa vero perferendis minima voluptate, deleniti dolorem mollitia velit, dolor tempora animi assumenda doloremque, nam.
                    Aspernatur commodi ratione libero laudantium reiciendis rem, consequuntur rerum obcaecati culpa sed, aliquam illo magni deserunt, sit nihil qui numquam error praesentium non eaque maxime consectetur. Deleniti alias quam blanditiis.
                    Molestiae at, quod ad eveniet tenetur eum dolore? Soluta accusantium nulla quaerat, quo dignissimos cum vero nesciunt odio, quisquam dolor impedit earum temporibus eos, nostrum nihil inventore. Optio, molestiae, nobis!
                </li>
            </ol>
            <div class="uk-margin-top uk-text-center">

                    <button type="button" class="btn uk-button uk-button-primary uk-modal-close">Стать участником</button>

                    <button type="button" class="btn btn_ghost uk-button uk-button-primary uk-modal-close">Отказаться</button>

            </div>

        </div>
    </div>
</div>
<!---->
<div id="modal-manual" class="uk-modal modal">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">Условия оказания услуг</div>
        </div>
        <div class="modal__container content">
            <h3>Соглашение об участии в бонусной программе для абонентов физических лиц ПАО "Таттелеком"</h3>
            <ol>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime aliquam est. Quis dignissimos omnis ipsa vero perferendis minima voluptate, deleniti dolorem mollitia velit, dolor tempora animi assumenda doloremque, nam.
                    Aspernatur commodi ratione libero laudantium reiciendis rem, consequuntur rerum obcaecati culpa sed, aliquam illo magni deserunt, sit nihil qui numquam error praesentium non eaque maxime consectetur. Deleniti alias quam blanditiis.
                    Molestiae at, quod ad eveniet tenetur eum dolore? Soluta accusantium nulla quaerat, quo dignissimos cum vero nesciunt odio, quisquam dolor impedit earum temporibus eos, nostrum nihil inventore. Optio, molestiae, nobis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime aliquam est. Quis dignissimos omnis ipsa vero perferendis minima voluptate, deleniti dolorem mollitia velit, dolor tempora animi assumenda doloremque, nam.
                    Aspernatur commodi ratione libero laudantium reiciendis rem, consequuntur rerum obcaecati culpa sed, aliquam illo magni deserunt, sit nihil qui numquam error praesentium non eaque maxime consectetur. Deleniti alias quam blanditiis.
                    Molestiae at, quod ad eveniet tenetur eum dolore? Soluta accusantium nulla quaerat, quo dignissimos cum vero nesciunt odio, quisquam dolor impedit earum temporibus eos, nostrum nihil inventore. Optio, molestiae, nobis!
                </li>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam maxime aliquam est. Quis dignissimos omnis ipsa vero perferendis minima voluptate, deleniti dolorem mollitia velit, dolor tempora animi assumenda doloremque, nam.
                    Aspernatur commodi ratione libero laudantium reiciendis rem, consequuntur rerum obcaecati culpa sed, aliquam illo magni deserunt, sit nihil qui numquam error praesentium non eaque maxime consectetur. Deleniti alias quam blanditiis.
                    Molestiae at, quod ad eveniet tenetur eum dolore? Soluta accusantium nulla quaerat, quo dignissimos cum vero nesciunt odio, quisquam dolor impedit earum temporibus eos, nostrum nihil inventore. Optio, molestiae, nobis!
                </li>
            </ol>


        </div>
    </div>
</div>
<!---->
<div id="modal-cart-1" class="uk-modal modal">
    <div class="uk-modal-dialog uk-modal-dialog-md">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">В корзину</div>
        </div>
        <div class="modal__container content">
            <div class="abonement uk-clearfix">
                <div class="abonement-box__img uk-float-left uk-margin-right"><img src="../img/abonement-box-img.png" alt=""></div>
                <div class="new-context">
                    <div class="abonement__modal-price">300 баллов</div>
                    <p>Абонентская плата 1 рубль на 1 месяц пользования тарифным планом "Звезда 2"</p>
                </div>
            </div>
            <p>Для подключения выбранной скидки выберите услугу из выпадающего списка "Привязать к лицевому счету":</p>
            <div class="form uk-form uk-form-stacked">
                <form action="">
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Дата активации</label>
                        <div class="uk-form-controls">
                            <div class="form-icon uk-form-icon uk-form-icon-flip">
                                <input type="text" class="uk-form-width-medium js-datepicker" value="За весь период" readonly>
                                <i class="uk-icon-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Привязать к лицевому счету</label>
                        <div class="uk-form-controls uk-width-1-1">
                            <select name="" id="" class="js-select">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary">Добавить</button>
                        &nbsp;
                        <button class=" btn_ghost uk-button uk-button-primary uk-modal-close">Отменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!---->
<div id="modal-cart-2" class="uk-modal modal">
    <div class="uk-modal-dialog uk-modal-dialog-md">
        <div class="modal__head">
            <a class="uk-modal-close uk-close"></a>
            <div class="modal__title">В корзину</div>
        </div>
        <div class="modal__container content">
            <div class="abonement uk-clearfix">
                <div class="abonement-box__img uk-float-left uk-margin-right"><img src="../img/abonement-box-img.png" alt=""></div>
                <div class="new-context">
                    <div class="abonement__modal-price">300 баллов</div>
                    <p>Абонентская плата 1 рубль на 1 месяц пользования тарифным планом "Звезда 2"</p>
                </div>
            </div>

            <div class="form uk-form uk-form-stacked">
                <form action="">
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Количество</label>
                        <div class="uk-form-controls">
                            <div class="form-counter">
                                <input type="text" class="js-count uk-form-width-small" value="0">
                                <div class="form-counter__control">
                                    <button type="button" class="form-counter__btn form-counter-inc"><i class="uk-icon-angle-up"></i></button>
                                    <button type="button" class="form-counter__btn form-counter-dec"><i class="uk-icon-angle-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="" class="uk-form-label">Выберите пункт выдачи подарка</label>
                        <div class="uk-form-controls uk-width-1-1">
                            <select name="" id="" class="js-select">
                                <option value="">г.Бавлы, ул.Победы, 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class=" uk-button uk-button-primary">Добавить</button>
                        &nbsp;
                        <button class=" btn_ghost uk-button uk-button-primary uk-modal-close">Отменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
