<div class="navbar-wrapp">
    <div class="navbar" id="navbar">

        <div class="navbar__sidebar">
            <div class="navbar__top uk-text-center">
                <a href="/">
                    <img src="../img/logo.png" alt="" class="logo-max">
                    <img src="../img/logo-2.png" alt="" class="logo-min" width="50">
                </a>
                <div class="navbar__minimalize uk-icon uk-icon-bars hover-col-default" id="navbar-minimalize"></div>
            </div>
            <div class="navbar__head uk-text-center">
                <a href="" class="profile-avatar"><img src="http://lorempixel.com/90/90/cats/1" alt="" class="uk-border-circle"></a>
                <div class="font-regular">Добро пожаловать,</div>
                <div class="profile-name">Константин Константинопольский</div>
                <div class="uk-margin">
                    //= ../template/search.html
                </div>
            </div>
            //= ../template/menu.html
        </div>
    </div>
</div>
