<div class="notification-one">
    <div class="notification__top">
        <div class="notification__date"><i class="uk-icon-calendar"></i>1 сентября в <span class="natification__time">20:00</span></div>
    </div>
    <h2 class="notification-one__title">Заголовок</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum alias natus sit vel vero omnis repellendus iste tenetur quis suscipit magnam, facilis beatae nostrum iure rem explicabo iusto odit, recusandae?</p>
    <div class="notification-one__bottom uk-margin">
        <div class="uk-float-left uk-margin-bottom">
            <a href="" class="btn btn_ghost uk-button uk-button-primary"><i class="uk-icon-angle-left"></i> Предыдущая новость</a>
        </div>
        <div class="uk-float-right uk-margin-bottom">
            <a href="" class="btn btn_ghost uk-button uk-button-primary">Следующая новость <i class="uk-icon-angle-right"></i></a>
        </div>
    </div>
</div>
