<div class="notification">
    <div class="uk-form uk-form-stacked">
        <form action="">
            <div class="uk-form-row">
                <div class="uk-grid uk-grid-small">
                    <div class="uk-margin-bottom">
                        <label for="" class="uk-form-label">Отображать</label>
                        <div class="uk-form-controls uk-form-width-medium">
                            <select name="" id="" class="js-select uk-form-width-medium">
                                <option value="">Все уведомления</option>
                                <option value="">Не все уведомления</option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin-bottom">
                        <label for="" class="uk-form-label">Дата</label>
                        <div class="uk-form-controls uk-form-icon uk-form-icon-flip form-icon">
                            <input type="text" id="" class="js-datepicker uk-form-width-medium" readonly>
                            <i class="uk-icon-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <ul class="notification__list js-show-list">
        <li class="notification__item notification__item_new">
            <a href="" class="notification__link">
                <div class="notification__top">
                    <div class="notification__state uk-float-right">Новое</div>
                    <div class="notification__date uk-float-left"><i class="uk-icon-calendar"></i>1 сентября в <span class="natification__time">20:00</span></div>

                </div>
                <div class="notification__title">Заголовок</div>
                <div class="notification__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, rerum! Pariatur nostrum non cupiditate nihil inventore voluptatum, consectetur esse. Perspiciatis quis aliquid, accusantium veritatis tempora nesciunt odit itaque exercitationem
                    cum?</div>
            </a>
        </li>
        <li class="notification__item notification__item_read">
            <a href="" class="notification__link">
                <div class="notification__top">
                    <div class="notification__state uk-float-right">Прочитано</div>
                    <div class="notification__date uk-float-left"><i class="uk-icon-calendar"></i>1 сентября в <span class="natification__time">20:00</span></div>

                </div>
                <div class="notification__title">Заголовок</div>
                <div class="notification__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, rerum! Pariatur nostrum non cupiditate nihil inventore voluptatum, consectetur esse. Perspiciatis quis aliquid, accusantium veritatis tempora nesciunt odit itaque exercitationem
                    cum?</div>
            </a>
        </li>
        <li class="notification__item notification__item_read">
            <a href="" class="notification__link">
                <div class="notification__top">
                    <div class="notification__state uk-float-right">Прочитано</div>
                    <div class="notification__date uk-float-left"><i class="uk-icon-calendar"></i>1 сентября в <span class="natification__time">20:00</span></div>

                </div>
                <div class="notification__title">Заголовок</div>
                <div class="notification__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, rerum! Pariatur nostrum non cupiditate nihil inventore voluptatum, consectetur esse. Perspiciatis quis aliquid, accusantium veritatis tempora nesciunt odit itaque exercitationem
                    cum?</div>
            </a>
        </li>
    </ul>
    <a href="../notifications.html" class="js-show-more btn btn_ghost uk-button uk-button-primary uk-button-large uk-width-1-1">Показать еще</a>
</div>
