<div class="page-title page-title_mobi">
    <div class="page-title__va"></div><!--
    --><div class="page-title__cont">
        <div class="breadcrumbs">
            <a href="" class="breadcrumbs__link"><i class="uk-icon-angle-double-left"></i>    Назад</a>
        </div>
        <div class="uk-float-left">
            <h1 class="page-title__name">Мобильная связь</h1>
        </div>
        <div class="uk-float-right right-column">

        </div>
    </div>
</div>
