<div class="page-title">
    <div class="page-title__va"></div><!--
    --><div class="page-title__cont">
        <div class="breadcrumbs">
            <a href="" class="breadcrumbs__link"><i class="uk-icon-angle-double-left"></i>    Назад</a>
        </div>
        <div class="uk-float-left">
            <h1 class="page-title__name">Счет в электронном виде</h1>
        </div>
        <div class="uk-float-right right-column">
            <span>Получать счет в электронном виде на E-mail</span>
            &nbsp;
            <div class="switcher-check">
                <input type="checkbox" id="switch-serv-1">
                <label for="switch-serv-1" class="switcher-check__body"></label>
            </div>
            &nbsp;
            <i class="uk-form-help-inline">Сейчас активно</i>
        </div>
    </div>
</div>
