<div class="page-title">
    <div class="page-title__va"></div><!--
    --><div class="page-title__cont">
        <div class="breadcrumbs">
            <a href="" class="breadcrumbs__link"><i class="uk-icon-angle-double-left"></i>    Назад</a>
        </div>
        <div class="uk-float-left">
            <h1 class="page-title__name">Бонусная программа</h1>
        </div>
        <div class="uk-float-right right-column">
            <span>Начать копить бонусы</span> &nbsp;
            <a href="#modal-bonus" data-uk-modal class="btn btn_ghost btn_ghost-white uk-button ">Включить</a>
        </div>
    </div>
</div>
