<div class="profile-account-settings">
    <div class="panel">
        <div class="panel__title">Личные данные</div>
        <div class="profile-settings-form form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row uk-margin">
                    <label class="uk-form-label">Фото профиля</label>
                    <div class="uk-form-controls uk-form-file">
                        <a href="" class="profile-avatar profile-settings-form__avatar">

                        </a>
                        <input type="file">
                    </div>
                </div>
                <div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
                    <div class="">
                        <div class="uk-form-row">
                            <label for="" class="uk-form-label">E-mail</label>
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-form-icon-flip uk-width-1-1">
                                    <input type="text" class="uk-width-1-1 uk-form-danger">
                                    <i class="uk-icon-exclamation"></i>
                                </div>
                                <div class="error">Используйте только латинские буквы</div>
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label for="" class="uk-form-label">Фио</label>
                            <div class="uk-form-controls">
                                <div class="uk-form-icon uk-form-icon-flip uk-width-1-1">
                                    <input type="text" class="uk-width-1-1 uk-form-danger">
                                    <i class="uk-icon-exclamation"></i>
                                </div>
                                <div class="error">Поле нельзя оставлять пустым</div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="uk-form-label"></div>
                        <div class="uk-block uk-block-muted">
                            <p><b>Пожалуйста введите реальный e-mail</b></p>
                            <p>Для изменения адреса электронной почты необходимо использовать настоящий адрес электронной почты, така как необходимо подтверждение адреса</p>
                            <p>Подробнее об этом вы можете почитать в нашем <a href="">FAQ</a></p>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                            <label for="" class="uk-form-label">Дата рождения</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <div class="uk-form-icon uk-form-icon-flip form-icon uk-width-1-1">
                                    <input type="text" class="js-datepicker uk-width-1-1" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid">
                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                            <label for="" class="uk-form-label">Телефон</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <div class="uk-form-icon uk-form-icon-flip uk-width-1-1">
                                    <input type="text" class="uk-width-1-1">
                                    <i class="uk-icon-check uk-text-success"></i>
                                </div>
                            </div>
                        </div>
                        <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-width-small-1-1">
                            <label for="" class="uk-form-label">Доп.телефон</label>
                            <div class="uk-form-controls uk-width-1-1">
                                <div class="uk-width-1-1">
                                    <input type="text" class="uk-width-1-1">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Пол</label>
                    <div class="uk-form-controls">
                        <input type="radio" id="radio-1" name="radio">
                        <label for="radio-1" >Мужской</label>
                        &nbsp;
                        <input type="radio" id="radio-2" name="radio">
                        <label for="radio-2">Женский</label>
                    </div>
                </div>
                <div class="uk-form-row">
                    <button type="submit" class="btn uk-button uk-button-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    <!---->
    <div class="panel">
        <div class="panel__title">Привязка к соцсетям</div>
        <div class="social-bind">
            <a href="" class="social-bind__link active">
                <i class="uk-icon-vk"></i>
            </a>
            <a href="" class="social-bind__link">
                <i class="uk-icon-facebook-f"></i>
            </a>
        </div>
    </div>
    <!---->
    <div class="panel">
        <div class="panel__title">Изменение пароля</div>
        <div class="form uk-form">
            <form action="">
                <div class="uk-form-row">
                    <button type="button" class="btn uk-button uk-button-primary"
                    data-uk-modal="{target:'#modal-psw-change'}"><i class="uk-icon-lock"></i> &nbsp; Сменить пароль</button>
                </div>
            </form>
        </div>
    </div>
    <!---->
    <div class="panel">
        <div class="panel__title">Настройка смс оповещений</div>
        <p>Подключите SMS-уведомления, Вы будете получать SMS о том, что Вы авторизовались в Едином личном кабинете. Компания ПАО "Таттелеком" гарантирует доставку SMS абонентам "Летай" и не гарантирует доставку SMS абонентам сторонних мобильных операторов.</p>
        <div class="uk-margin">
            <button type="button" class="btn uk-button uk-button-primary" data-uk-modal={target:'#modal-sms-note'}><i class="uk-icon-power-off"></i> &nbsp; Выключить</button> <span class="uk-form-help-inline"><i>Сейчас уведомления включены</i></span>
        </div>
    </div>
    <!---->
    <div class="panel">
        <div class="panel__title">Удаление профиля</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="uk-margin uk-form uk-form-stacked">
            <label for="" class="uk-form-label">Введите пароль:</label>
            <div class="uk-grid uk-grid-small">
                <div class="uk-width-medium-6-10 uk-width-small-1-1 uk-margin-bottom">
                    <div class="uk-form-controls">
                        <input type="password" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-width-medium-4-10 uk-width-small-1-1 uk-margin-bottom">
                    <button type="submit" class="btn uk-button uk-button-primary uk-width-1-1">Удалить профиль</button>
                </div>
            </div>
        </div>
    </div>
</div>
