<div class="panel promised-payment">
    <div class="form uk-form uk-form-stacked">
        <form action="">
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Счет для пополнения</label>
                <div class="uk-form-controls">
                    <select name="" id="" class="uk-form-width-medium js-select">
                        <option value="">234 038 - Интернет, цифровое ТВ</option>
                    </select>
                </div>
            </div>
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Сумма обещанного платежа</label>
                <div class="uk-form-controls">
                    <input type="text">
                    <span>руб.</span>
                </div>
            </div>
            <div class="uk-form-row">
                <label for="" class="uk-form-label">Отсрочить платеж на</label>
                <div class="uk-form-controls uk-margin-small">
                    <input type="radio" id="radio-1" name="radio">
                    <label for="radio-1">24 часа</label>
                </div>
                <div class="uk-form-controls uk-margin-small">
                    <input type="radio" id="radio-2" name="radio">
                    <label for="radio-2">2 дня</label>
                </div>
                <div class="uk-form-controls uk-margin-small">
                    <input type="radio" id="radio-3" name="radio">
                    <label for="radio-3">3 дня</label>
                </div>
            </div>
            <div class="uk-form-row">
                <button type="submit" class="btn uk-button uk-button-primary">Пополнить баланс</button>
            </div>
        </form>
    </div>
</div>
