<div class="login-page-wrapp uk-flex">
    <div class="login-page-container uk-flex uk-flex-column uk-flex-space-between">
        <div class="login-page-container__top">
            <div class="container-content">
                <div class="uk-float-left">
                    <a href="/">
                        <img src="../img/logo.png" alt="">
                    </a>
                </div>
                <div class="uk-float-right">
                    <a href="" class="back js-back"><i class="uk-icon-arrow-left"></i> Назад</a>
                </div>
            </div>
        </div>
        <div class="login-page-container__center">
            <div class="container-content">
                <div class="login-reg-form login-reg-form_lg">
                    <div class="login-reg-form__top">
                        <div class="login-reg-form__title">Восстановление пароля</div>
                    </div>
                    <div class="login-reg-form__dialog">
                        <div class="form uk-form uk-form-stacked">
                            <form action="">
                                <div class="uk-grid uk-grid-medium">
                                    <div class="uk-width-medium-4-10">
                                        <div class="uk-form-row">
                                            <label for="" class="uk-form-label">E-mail</label>
                                            <div class="uk-form-controls">
                                                <div class=" uk-width-1-1">
                                                    <input type="text" class="uk-width-1-1 ">

                                                </div>

                                            </div>
                                        </div>
                                        <div class="uk-margin-small">
                                            <div class="uk-text-center">
                                                <i class="uk-text-muted">Или</i>
                                            </div>
                                        </div>
                                        <div class="uk-form-row">
                                            <label for="" class="uk-form-label">Номер телефона</label>
                                            <div class="uk-form-controls">
                                                <div class="uk-width-1-1">
                                                    <input type="text" class="uk-width-1-1">

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="uk-width-medium-6-10">
                                        <div class="uk-form-label"></div>
                                        <div class="uk-block uk-block-muted">
                                            <p><b>Укажите пользователя (e-mail, указанный при регистрации)</b></p>
                                            <p>На указанный e-mail адрес будет отправлена инструкция по восстановлению пароля.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="uk-margin-large-top uk-text-center">
                                    <button type="submit" class="btn uk-button uk-button-primary">Восстановить пароль</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="login-reg-form__footer">
                        Вспомнили пароль? <a href="">Авторизуйтесь</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-page-container__bottom">
            <div class="container-content"></div>
        </div>
    </div>
</div>
