<div class="refill-balance uk-margin-large">
    <div class="uk-grid uk-grid-medium uk-grid-width-large-1-2 uk-grid-width-medium-1-1" data-uk-grid-match="{target:'.panel'}">
        <div class="uk-margin-bottom">
            <div class="panel uk-padding-remove">
                <div class="refill-balance-switcher uk-flex uk-flex-column" data-uk-switcher="{connect:'#refill-balance-form'}" >
                    <a href="#refill-balance-form" class="refill-balance-switcher__item" data-uk-smooth-scroll>
                        <i class="refill-balance-switcher__ico refill-balance-switcher__ico_card"></i>
                        <div class="refill-balance-switcher__txt">
                            <div class="refill-balance-switcher__title">Пополнение банковской картой</div>
                            <div class="refill-balance-switcher__hint">VISA, Master Card, Maestro</div>
                        </div>
                    </a>
                    <a href="#refill-balance-form" class="refill-balance-switcher__item" data-uk-smooth-scroll>
                        <i class="refill-balance-switcher__ico refill-balance-switcher__ico_card"></i>
                        <div class="refill-balance-switcher__txt">
                            <div class="refill-balance-switcher__title">Оплата картой Таттелеком</div>
                            <div class="refill-balance-switcher__hint">Пополните счет при помощи наших карт оплаты</div>
                        </div>
                    </a>
                    <a href="#refill-balance-form" class="refill-balance-switcher__item" data-uk-smooth-scroll>
                        <i class="refill-balance-switcher__ico refill-balance-switcher__ico_cut"></i>
                        <div class="refill-balance-switcher__txt">
                            <div class="refill-balance-switcher__title">Наличными</div>
                            <div class="refill-balance-switcher__hint">В банкоматах сбербанка, салонах Евросети и других точках</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="uk-margin-bottom">
            <div class="panel">
                <div id="refill-balance-form" class="uk-switcher">
                    <div class="">

                        <div class="form uk-form uk-form-stacked">
                            <div class="form-step uk-flex uk-flex-wrap" id="form-step-title" data-uk-switcher="{connect:'#form-step-content'}">
                                <div class="form-step__item">1 шаг</div>
                                <div class="form-step__item">2 шаг</div>
                            </div>
                            <div class="uk-switcher" id="form-step-content">
                                <div class="uk-active">
                                    <div class="uk-form-row">
                                        <div class="uk-form-controls uk-margin-small">
                                            <input type="radio" id="radio-1" name="radio">
                                            <label for="radio-1">Выбрать карту для оплаты</label>
                                        </div>
                                        <div class="uk-form-controls uk-margin-small">
                                            <input type="radio" id="radio-2" name="radio">
                                            <label for="radio-2">Оплатить новой картой</label>
                                        </div>
                                        <div class="uk-form-controls uk-margin-small">
                                            <input type="radio" id="radio-3" name="radio">
                                            <label for="radio-3">Оплатить и привязать новую карту</label>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Карта для оплаты</label>
                                        <div class="uk-form-controls">
                                            <select class="uk-form-width-medium js-select" name="">
                                                <option value="5481  5435">5481 **** **** 5435</option>
                                                <option value="5481  5435">5481 **** **** 5435</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <button type="button" name="button" class="btn uk-button uk-button-primary" onclick="UIkit.switcher('#form-step-title').show(1);">Далее</button>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Номер лицевого счета</label>
                                        <div class="uk-form-controls">
                                            <input type="text" class="uk-width-1-1">
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Сумма пополнения</label>
                                        <div class="uk-form-controls">
                                            <input type="text" class="uk-width-1-1">
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Зачисляемая сумма (с НДС 10%)</label>
                                        <div class="uk-form-controls">
                                            <input type="text" class="uk-width-1-1">
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <button type="submit" class="btn uk-button uk-button-primary">Отправить</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="">
                        <div class="form uk-form uk-form-stacked">
                            <!-- <form action="">
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">Серийный номер карты</label>
                                    <div class="uk-form-controls">
                                        <input type="text" class="uk-width-1-1">
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">Пин-код карты</label>
                                    <div class="uk-form-controls">
                                        <input type="text" class="uk-width-1-1">
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <button type="submit" class="btn uk-button uk-button-primary">Оплатить</button>
                                </div>
                            </form> -->
                            <form action="">
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">Выберите телефонный номер</label>
                                    <div class="uk-form-controls">
                                        <select name="" id="" class="uk-width-1-1 js-select">
                                            <option value="">+789548554</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">Адрес электронной почты</label>
                                    <div class="uk-form-controls">
                                        <input type="email" class="uk-width-1-1">
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <label for="" class="uk-form-label">Сумма платежа</label>
                                    <div class="uk-form-controls">


                                        <input type="email" class="uk-form-width-medium uk-margin-right">


                                        <div class="uk-display-inline-block uk-margin-small">
                                            <input type="checkbox" id="check">
                                            <label for="check" >Я согласен с <a href="#modal-manual" class="border-dashed" data-uk-modal>Условиями оказания услуги</a></label>
                                        </div>



                                    </div>

                                </div>
                                <div class="uk-form-row">
                                    <button type="submit" name="button" class="btn uk-button uk-button-primary">Оплатить</button>
                                </div>
                                <div class="uk-form-row">
                                    <span class="uk-text-primary">* К оплате принимаются карты любых банков</span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="">
                        <div class="uk-clearfix uk-margin">
                            <img src="../img/img-cache.jpg" alt="" width="98" height="65" class="uk-float-left uk-margin-right">
                            <div class="new-context">
                                <div class="h6">Офисы продаж и обслуживания</div>
                                <div class="uk-margin-bottom">Оплатить услуги компании можно в любом офисе продаж и обслуживания ПОА "Таттелеком"</div>
                                <a href="" class="btn uk-button uk-button-primary">Подробнее</a>
                            </div>
                        </div>
                        <div class="uk-clearfix uk-margin">
                            <img src="../img/img-cache.jpg" alt="" width="98" height="65" class="uk-float-left uk-margin-right">
                            <div class="new-context">
                                <div class="h6">Терминалы</div>
                                <div class="uk-margin-bottom">Оплатить услуги Интернет и Телефония можно удобным способом через терминалы моментальной оплаты</div>
                                <a href="" class="btn uk-button uk-button-primary">Подробнее</a>
                            </div>
                        </div>
                        <div class="uk-clearfix uk-margin">
                            <img src="../img/img-cache.jpg" alt="" width="98" height="65" class="uk-float-left uk-margin-right">
                            <div class="new-context">
                                <div class="h6">Отделения банков</div>
                                <div >Оплатить услуги ПАО "Таттелеком" можно в отделениях и филиалах банков</div>
                                <a href="" class="btn uk-button uk-button-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--OTHER PAYMENT METHODS-->
<div class="other-pay-methods uk-margin-large">
    <div class="other-pay-methods__title h3">Другие способы оплаты</div>
    <ul class="other-pay-methods__list uk-grid uk-grid-small uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
        <li class="other-pay-methods__item">
            <a href="" class="other-pay-methods__link">
                <div class="other-pay-methods__name">Web Money</div>
                <div class="other-pay-methods__txt">Пополняйте баланс при помощи популярного сервиса</div>
            </a>
        </li>
        <li class="other-pay-methods__item">
            <a href="" class="other-pay-methods__link">
                <div class="other-pay-methods__name">Оплата чеком</div>
                <div class="other-pay-methods__txt">Для этого способа заведите чековую книжку</div>
            </a>
        </li>
        <li class="other-pay-methods__item">
            <a href="" class="other-pay-methods__link">
                <div class="other-pay-methods__name">Ещё способ</div>
                <div class="other-pay-methods__txt">Тут будет описание способа</div>
            </a>
        </li>
        <li class="other-pay-methods__item">
            <a href="" class="other-pay-methods__link">
                <div class="other-pay-methods__name">Web Money</div>
                <div class="other-pay-methods__txt">Пополняйте баланс при помощи популярного сервиса</div>
            </a>
        </li>
        <li class="other-pay-methods__item">
            <a href="" class="other-pay-methods__link">
                <div class="other-pay-methods__name">Оплата чеком</div>
                <div class="other-pay-methods__txt">Для этого способа заведите чековую книжку</div>
            </a>
        </li>
    </ul>
</div>
