<div class="login-page-wrapp uk-flex">
    <div class="login-page-container uk-flex uk-flex-column uk-flex-space-between">
        <div class="login-page-container__top">
            <div class="container-content">
                <div class="uk-float-left">
                    <a href="/">
                        <img src="../img/logo.png" alt="">
                    </a>
                </div>
                <div class="uk-float-right">
                    <a href="" class="back js-back"><i class="uk-icon-arrow-left"></i> Назад</a>
                </div>
            </div>
        </div>
        <div class="login-page-container__center">
            <div class="container-content">
                <div class="login-reg-form login-reg-form_lg form uk-form uk-form-stacked">
                    <form action="">
                        <div class="login-reg-form__top">
                            <div class="login-reg-form__title">Регистрация</div>
                        </div>
                        <div class="login-reg-form__dialog login-reg-form__dialog_mr">
                            <div class="uk-form-row uk-grid uk-grid-medium">
                                <div class="uk-width-medium-4-10">
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">E-mail</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-icon uk-form-icon-flip uk-width-1-1">
                                                <input type="text" class="uk-width-1-1 uk-form-danger">
                                                <i class="uk-icon-exclamation"></i>
                                            </div>
                                            <div class="error">Используйте только латинские буквы</div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Пароль</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-password uk-form-icon uk-form-icon-flip uk-width-1-1">
                                                <input type="password" class="uk-width-1-1">
                                                <a href="" class="uk-icon-eye uk-form-password-toggle" data-uk-form-password="{lblShow:'', lblHide:''}"></a>
                                            </div>
                                            <div class="error">Поле нельзя оставлять пустым</div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Введите ваш пароль</label>
                                        <div class="uk-form-controls">
                                            <div class="uk-form-password uk-form-icon uk-form-icon-flip uk-width-1-1">
                                                <input type="password" class="uk-width-1-1">
                                                <a href="" class="uk-icon-eye uk-form-password-toggle" data-uk-form-password="{lblShow:'', lblHide:''}"></a>
                                            </div>
                                            <div class="error">Поле нельзя оставлять пустым</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="uk-width-medium-6-10">
                                    <div class="uk-form-label"></div>
                                    <div class="uk-block uk-block-muted">
                                        <p><b>Пожалуйста указывайте настоящий e-mail</b></p>
                                        <p>E-mail будет являться вашим логином для входа в личный кабинет</p>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="login-reg-form__dialog login-reg-form__dialog_mr">
                            <h3 class="h3 uk-text-center">Прикрепите услуги к Личному кабинету одним из удобных для вас способов</h3>
                            <p>Ели вы уже пользуетесь любой из услуг ТАТТЕЛЕКОМ (Летай), Вам необходимо единожды прикрепить Ваш лицевой счет к личному кабинету, чтобы получить доступ к управлению услугами онлайн</p>
                            <div class="tab-serv uk-grid uk-grid-medium uk-grid-width-medium-1-3 uk-grid-width-small-1-1 uk-text-center" data-uk-switcher="{connect:'#tab-serv-cont '}">
                                <a href="#tab-serv-cont" class="tab-serv__item" data-uk-smooth-scroll>
                                    <div class="tab-serv-icon-switch">
                                        <i class="icon icon_file-big-white on"></i>
                                        <i class="icon icon_file-big-primary"></i>
                                    </div>
                                    <div class="h4">По номеру лицевого счета</div>
                                </a>
                                <a href="#tab-serv-cont" class="tab-serv__item" data-uk-smooth-scroll>
                                    <div class="tab-serv-icon-switch">
                                        <i class="icon icon_card-lg-white on"></i>
                                        <i class="icon icon_card-lg-primary"></i>
                                    </div>
                                    <div class="h4">По номеру карты ЛЕТАЙ</div>
                                </a>
                                <a href="#tab-serv-cont" class="tab-serv__item" data-uk-smooth-scroll>
                                    <div class="tab-serv-icon-switch">
                                        <i class="icon icon_smart-white on"></i>
                                        <i class="icon icon_smart-primary"></i>
                                    </div>
                                    <div class="h4">По номеру телефона</div>
                                </a>
                            </div>
                        </div>
                        <div class="login-reg-form__dialog login-reg-form__dialog_mr">
                            <div class="uk-switcher" id="tab-serv-cont">
                                <div class="">
                                    <div class="uk-grid uk-grid-medium">
                                        <div class="uk-width-medium-4-10">
                                            <div class="uk-form-row">
                                                <label for="" class="uk-form-label">Номер лицевого счета</label>
                                                <div class="uk-form-controls">
                                                    <div class="uk-width-1-1">
                                                        <input type="text" class="uk-width-1-1 " placeholder="Введите номер лицевого счета...">

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="" class="uk-form-label">Код регистрации</label>
                                                <div class="uk-form-controls">
                                                    <div class="  uk-width-1-1">
                                                        <input type="text" class="uk-width-1-1">

                                                    </div>
                                                    <div class="error">Поле нельзя оставлять пустым</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="uk-width-medium-6-10">
                                            <div class="uk-form-label"></div>
                                            <div class="uk-block uk-block-muted">
                                                <p><b>Как узнать код регистрации?</b></p>
                                                <p>Необходимо обратиться в <a href="">офис продаж и обслуживания ТАТТЕЛЕКОМ</a></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-margin-small">
                                            <div class="uk-form-controls check-outside">
                                                <input type="checkbox" id="check-1">
                                                <label for="check-1">Я согласен в <a href="" class="border-dashed">правилами пользования</a> web-сервисом</label>
                                            </div>
                                        </div>
                                        <div class="uk-margin-small">
                                            <div class="check-outside">
                                                <input type="checkbox" id="check-2">
                                                <label for="check-2">Я согласен получать счета за услуги связи на <a href="" class="border-dashed">электронную почту</a>, а также информацию о состоянии лицевых счетов, о специальных предложениях, о проводимых акциях, плановых ремонтных работах посредством электронной почты, телефонного звонка и sms.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Защита от ботов</label>
                                        <div class="uk-form-controls">
                                            <img src="../img/captcha.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="uk-form-row uk-text-center uk-margin-top">
                                        <button type="submit" class="uk-button uk-button-primary">Завершить регистрацию</button>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="uk-form-row uk-grid uk-grid-medium">
                                        <div class="uk-width-medium-4-10">
                                            <div class="uk-form-row">
                                                <label for="" class="uk-form-label">Логин с карты ЛЕТАЙ</label>
                                                <div class="uk-form-controls">
                                                    <div class="uk-width-1-1">
                                                        <input type="text" class="uk-width-1-1 " placeholder="Логин карты Летай...">

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="" class="uk-form-label">Пароль с карты ЛЕТАЙ</label>
                                                <div class="uk-form-controls">
                                                    <div class="  uk-width-1-1">
                                                        <input type="text" class="uk-width-1-1" placeholder="Пароль с карты ЛЕТАЙ...">

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="uk-width-medium-6-10">
                                            <div class="uk-form-label"></div>
                                            <div class="uk-block uk-block-muted">
                                                <p>Если Вы являетесь абонентом проводных услуг Интернет, вы можете ввести логин и пароль с карты Летай для подтверждения услуг.</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-margin-small">
                                            <div class="uk-form-controls check-outside">
                                                <input type="checkbox" id="check-1">
                                                <label for="check-1">Я согласен в <a href="" class="border-dashed">правилами пользования</a> web-сервисом</label>
                                            </div>
                                        </div>
                                        <div class="uk-margin-small">
                                            <div class="check-outside">
                                                <input type="checkbox" id="check-2">
                                                <label for="check-2">Я согласен получать счета за услуги связи на <a href="" class="border-dashed">электронную почту</a>, а также информацию о состоянии лицевых счетов, о специальных предложениях, о проводимых акциях, плановых ремонтных работах посредством электронной почты, телефонного звонка и sms.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Защита от ботов</label>
                                        <div class="uk-form-controls">
                                            <img src="../img/captcha.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="uk-form-row uk-text-center uk-margin-top">
                                        <button type="submit" class="uk-button uk-button-primary">Завершить регистрацию</button>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="uk-form-row uk-grid uk-grid-medium">
                                        <div class="uk-width-medium-4-10">
                                            <div class="uk-form-row">
                                                <label for="" class="uk-form-label ">Введите мобильный номер Летай</label>
                                                <div class="uk-form-controls">
                                                    <div class="uk-grid uk-grid-small">
                                                        <div class="uk-width-1-1">
                                                            <input type="text" class="uk-width-1-1 js-mask-phone" placeholder="Введите номер лицевого счета...">
                                                        </div>
                                                        <div class="uk-width-1-1 uk-margin-small-top">
                                                            <button type="button" name="button" class="uk-width-1-1 uk-button uk-button-primary">Получить код</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="uk-form-row">
                                                <label for="" class="uk-form-label">Код подтверждения</label>
                                                <div class="uk-form-controls">
                                                    <div class="  uk-width-1-1">
                                                        <input type="text" class="uk-width-1-1" placeholder="Введите код подтверждения">

                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="uk-width-medium-6-10">
                                            <div class="uk-form-label"></div>
                                            <div class="uk-block uk-block-muted">
                                                <p><b>Как получить код подтверждения?</b>
                                                    <br>
                                                    Необходимо ввести мобильный номер Летай, на данный номер будет отправлен код.
                                                </p>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <div class="uk-margin-small">
                                            <div class="uk-form-controls check-outside">
                                                <input type="checkbox" id="check-1">
                                                <label for="check-1">Я согласен в <a href="" class="border-dashed">правилами пользования</a> web-сервисом</label>
                                            </div>
                                        </div>
                                        <div class="uk-margin-small">
                                            <div class="check-outside">
                                                <input type="checkbox" id="check-2">
                                                <label for="check-2">Я согласен получать счета за услуги связи на <a href="" class="border-dashed">электронную почту</a>, а также информацию о состоянии лицевых счетов, о специальных предложениях, о проводимых акциях, плановых ремонтных работах посредством электронной почты, телефонного звонка и sms.</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uk-form-row">
                                        <label for="" class="uk-form-label">Защита от ботов</label>
                                        <div class="uk-form-controls">
                                            <img src="../img/captcha.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="uk-form-row uk-text-center uk-margin-top">
                                        <button type="submit" class="uk-button uk-button-primary">Завершить регистрацию</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="login-page-container__bottom">
            <div class="container-content"></div>
        </div>
    </div>
</div>
