<div class="search uk-form">
    <form action="">
        <div class="uk-form-icon uk-width-1-1">
            <button type="submit" class="search__btn uk-icon-search"></button>
            <input type="text" placeholder="Поиск по сайту..." class="uk-width-1-1">
        </div>
    </form>
</div>
