<div class="search-result">
    <div class="search-result__list js-show-list">
        <div class="search-result__item">
            <a href="#" class="search-result__link">
                <div class="search-result__title">Таттелеком: <span class="search-result__page-name">Главная</span></div>
                <div class="search-result__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum in totam nihil hic enim voluptate magni eligendi, ex, deserunt distinctio quam maxime veniam dolores optio ut recusandae autem veritatis possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut praesentium in, possimus earum laudantium alias. Corporis provident, obcaecati, nostrum rerum facilis, ipsam, labore temporibus consequuntur rem accusantium itaque. Exercitationem, in? ...</div>
            </a>
        </div>
        <div class="search-result__item">
            <a href="" class="search-result__link">
                <div class="search-result__title">Таттелеком: <span class="search-result__page-name">Главная</span></div>
                <div class="search-result__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum in totam nihil hic enim voluptate magni eligendi, ex, deserunt distinctio quam maxime veniam dolores optio ut recusandae autem veritatis possimus.</div>
            </a>
        </div>
        <div class="search-result__item">
            <a href="" class="search-result__link">
                <div class="search-result__title">Таттелеком: <span class="search-result__page-name">Главная</span></div>
                <div class="search-result__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum in totam nihil hic enim voluptate magni eligendi, ex, deserunt distinctio quam maxime veniam dolores optio ut recusandae autem veritatis possimus.</div>
            </a>
        </div>
        <div class="search-result__item">
            <a href="" class="search-result__link">
                <div class="search-result__title">Таттелеком: <span class="search-result__page-name">Главная</span></div>
                <div class="search-result__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum in totam nihil hic enim voluptate magni eligendi, ex, deserunt distinctio quam maxime veniam dolores optio ut recusandae autem veritatis possimus.</div>
            </a>
        </div>
        <div class="search-result__item">
            <a href="" class="search-result__link">
                <div class="search-result__title">Таттелеком: <span class="search-result__page-name">Главная</span></div>
                <div class="search-result__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum in totam nihil hic enim voluptate magni eligendi, ex, deserunt distinctio quam maxime veniam dolores optio ut recusandae autem veritatis possimus.</div>
            </a>
        </div>
    </div>
    <div class="uk-margin">
        <a href="../search.html" class="js-show-more btn btn_ghost uk-button uk-button-primary uk-button-large uk-width-1-1">Показать еще</a>
    </div>
</div>
