<div class="second-menu">
    <ul class="second-menu__list">
        <li class="second-menu__item active"><a href="#" class="second-menu__link">Услуги</a></li>
        <li class="second-menu__item"><a href="#" class="second-menu__link">Тарифы</a></li>
        <li class="second-menu__item"><a href="#" class="second-menu__link">Помощь</a></li>
    </ul>
</div>
