<div class="suspend">
    <div class="suspend__list panel">
        <div class="widget-grid">
            <div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Интернет</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <p>Лицевой счет № 586 256</p>
                        <p>Тариф Летай</p>
                        <p>Приостановленв с <a href="">22.10.16</a> до <a href="">22.10.16</a></p>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-danger">Активировать</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">
                    <button class="uk-icon-trash-o i-remove js-btn-panel-remove"></button>
                </div>
                <h3 class="panel__title">Мобильная связь</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <p>Лицевой счет № 586 256</p>
                        <p>Тариф Летай</p>
                        <p>Приостановленв с <a href="">22.10.16</a> до <a href="">22.10.16</a></p>
                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Активировать</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title">Цифровое ТВ</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <p>Лицевой счет № 586 256</p>
                        <p>Тариф Летай</p>
                        <p>Приостановленв с <a href="">22.10.16</a> до <a href="">22.10.16</a></p>


                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Активировать</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title">Цифровое ТВ</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <p>Лицевой счет № 586 256</p>
                        <p>Тариф Летай</p>
                        <p>Приостановленв с <a href="">22.10.16</a> до <a href="">22.10.16</a></p>


                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Активировать</button>
                </div>
            </div><!--
            --><div class="panel widget">
                <div class="panel__icon">

                </div>
                <h3 class="panel__title">Цифровое ТВ</h3>
                <div class="widget__content">
                    <div class="widget-scroll">
                        <p>Лицевой счет № 586 256</p>
                        <p>Тариф Летай</p>
                        <p>Приостановленв с <a href="">22.10.16</a> до <a href="">22.10.16</a></p>


                    </div>
                </div>
                <div class="widget__bottom">
                    <button class="uk-button uk-button-primary">Активировать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="form uk-form uk-form-stacked">
            <form action="">
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Выберите период, на который вы приостанавливаете обслуживание:</label>
                    <div class="form-suspend-width">
                        <div class="uk-grid uk-grid-small uk-grid-width-medium-1-2">
                            <div class="uk-form-controls uk-margin-bottom">
                                С
                                <div class="uk-form-icon uk-form-icon-flip form-icon">
                                    <input type="text" id="js-datepicker-start" class="uk-form-width-small" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                            <div class="uk-form-controls uk-margin-bottom">
                                <span class="">До </span>
                                <div class="uk-form-icon uk-form-icon-flip form-icon">
                                    <input type="text" id="js-datepicker-end" class=" uk-form-width-small" readonly>
                                    <i class="uk-icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <label for="" class="uk-form-label">Выберите лицевой счет и привязанные к нему услуги, которые хотите приостановить.</label>
                    <div class="form-suspend-width">
                        <div class="uk-form-controls uk-width-1-1">
                            <select name="" id="" class="js-select uk-width-1-1">
                                <option value="">256 657</option>
                                <option value="">256 622</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="uk-form-row">
                    <div class="uk-form-controls uk-margin-small">
                        <input type="checkbox" id="check-1">
                        <label for="check-1">Интернет</label>
                    </div>
                    <div class="uk-form-controls uk-margin-small">
                        <input type="checkbox" id="check-2">
                        <label for="check-2">Телефон</label>
                    </div>
                    <div class="uk-form-controls uk-margin-small">
                        <input type="checkbox" id="check-3">
                        <label for="check-3">Цифровое ТВ</label>
                    </div>
                </div>
                <div class="uk-form-row">
                    <button class="btn uk-button uk-button-primary">Приостановить</button> <span class="uk-form-help-inline"><i>Стоимость услуги 25 руб.</i></span>
                </div>
            </form>
        </div>
    </div>
</div>
