<div class="tariff-change">
    <div id="tariff-curr-box" class="tariff-curr container-content__margin-minus-all bg-default">
        <div class="page-right">
            <h4 class="h4">Как это работает</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dicta esse sint id, aut possimus enim labore at voluptas necessitatibus beatae temporibus facilis minus eaque aliquam blanditiis incidunt minima voluptatum!</p>
            <p>Cum beatae, ut in aperiam, unde hic ad minima cumque deserunt nam laudantium distinctio nobis corporis sapiente enim necessitatibus nulla asperiores. Exercitationem, quidem laudantium sunt quo aliquam officia obcaecati, impedit.</p>
            <p>Nemo modi, numquam eaque! Dolores aliquid quam ullam veritatis, consequuntur aliquam repellendus sunt sed! Esse dolore doloribus eum, totam numquam magni suscipit. Similique reprehenderit nisi odit nobis quae velit officiis?</p>
        </div>
        <!-- <div class="tariff-curr-tbl uk-grid uk-grid-collapse uk-grid-width-large-1-3 uk-grid-width-small-1-1">
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_doc-write-big uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Текущий тариф:
                        <div class="h5 uk-text-primary">Всё включено</div>
                    </div>
                </div>
            </div>
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_speed-big uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Скорость
                        <div class="h5 uk-text-primary">60 Мб/с</div>
                    </div>
                </div>
            </div>
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_graph uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Оставшийся трафик
                        <div class="h5 uk-text-primary">Не ограничено</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tariff-curr-pricing" data-uk-accordion>
            <div class="tariff-curr-pricing__head uk-accordion-title">
                <div class="uk-float-right">
                    <div class="tariff-curr-pricing__accord-trigger">
                        <span class="">Скрыть <i class="uk-icon-angle-up"></i></span>
                        <span class="on">Показать <i class="uk-icon-angle-down"></i></span>
                    </div>
                </div>
                <div class="new-context">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon">
                            <i class="icon icon_wallet-mid"></i>
                        </span>
                        <span>Стоимость с <a href="">2 доп.услугами</a></span>
                    </span>
                    <span>-</span>
                    <span class="tariff-curr-pricing__val uk-text-danger">800 руб</span>
                </div>
            </div>
            <div class="tariff-curr-pricing__cont uk-accordion-content">
                <div class="uk-margin-small clearfix">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon"><i class="icon icon_coins"></i></span>
                    <span>Базовая стоимость</span>
                    </span>
                    <span>-</span>
                    <span class="tariff-curr-pricing__val">800 руб</span>
                </div>
                <div class="uk-margin-small clearfix">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon"><i class="icon icon_speed"></i></span>
                    <span>+20 мб/с</span>
                    </span>
                    <span>-</span>
                    <span class="tariff-curr-pricing__val">200 руб</span>
                </div>
                <div class="uk-margin-small clearfix">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon"><i class="icon icon_night"></i></span>
                    <span>Бесплатный доступ ночью</span>
                    </span>
                    <span>-</span>
                    <span class="tariff-curr-pricing__val">100 руб</span>
                </div>
                <div class="uk-margin">
                    <button type="button" class="btn uk-button uk-button-primary">Подключить услуги</button>
                </div>
            </div>
        </div> -->
        <div class="new-context">
            <div class="h5">Текущий тарфный план</div>
            <div class="widget-grid">
                <div class="panel widget">
                    <div class="panel__icon">

                    </div>

                    <div class="panel__title">
                        <div class="uk-float-right">
                            <div class="widget-abonent-name border-dashed js-change-txt" data-uk-dropdown="{mode: 'click'}"><span class="js-change-txt-span">Бабушка</span>
                             <div class="uk-dropdown uk-dropdown_lg uk-form uk-form-stacked">
                                 <form action="">
                                     <div class="uk-form-row">
                                         <label for="" class="uk-form-label">Имя абонента</label>
                                         <div class="uk-form-controls">
                                             <input type="text" value="Бабушка">
                                             <button type="submit" class="uk-button uk-button-primary">Сохранить</button>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div>
                        </div>
                        <b class="uk-text-danger js-show-tariff">Тариф: Звезда</b>
                    </div>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            <div class="widget__toggle-serv">
                                <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_doc"></i></span> <span class="new-context">Договор №34542 от 30.05.14</span>
                                </a>
                            </div>
                            <div class="widget__toggle-serv">
                                <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
                                </a>
                            </div>
                            <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                    <ul class="uk-nav uk-nav-dropdown dropdown-menu">
    										<li class="dropdown-menu__item">
    											<div class="uk-float-left">Интернет</div>
                                                <div class="uk-float-right">75 Мбит/с</div>
    										</li>
    										<li class="dropdown-menu__item">
                                                <div class="uk-float-left">Wi-fi</div>
                                                <div class="uk-float-right">Бесплатно</div>
    										</li>
    									</ul>
                                    ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                    </a>

                            </div>
                            <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                    <ul class="uk-nav uk-nav-dropdown dropdown-menu">
    										<li class="dropdown-menu__item">
    											<div class="uk-float-left">Интернет</div>
                                                <div class="uk-float-right">75 Мбит/с</div>
    										</li>
    										<li class="dropdown-menu__item">
                                                <div class="uk-float-left">Wi-fi</div>
                                                <div class="uk-float-right">Бесплатно</div>
    										</li>
    									</ul>
                                    ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                    </a>

                            </div>
                        </div>
                    </div>
                    <div class="widget__bottom">
                        <button class="uk-button">Отключить</button>
                    </div>
                </div><!--
                --><div class="panel widget">
                    <div class="panel__icon">

                    </div>

                    <div class="panel__title">
                        <div class="uk-float-right">
                            <div class="widget-abonent-name border-dashed js-change-txt" data-uk-dropdown="{mode: 'click'}"><span class="js-change-txt-span">Бабушка</span>
                             <div class="uk-dropdown uk-dropdown_lg uk-form uk-form-stacked">
                                 <form action="">
                                     <div class="uk-form-row">
                                         <label for="" class="uk-form-label">Имя абонента</label>
                                         <div class="uk-form-controls">
                                             <input type="text" value="Бабушка">
                                             <button type="submit" class="uk-button uk-button-primary">Сохранить</button>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div>
                        </div>
                        <b class="uk-text-danger js-show-tariff">Тариф: Звезда</b>
                    </div>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            <div class="widget__toggle-serv">
                                <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_doc"></i></span> <span class="new-context">Договор №34542 от 30.05.14</span>
                                </a>
                            </div>
                            <div class="widget__toggle-serv">
                                <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
                                </a>
                            </div>
                            <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                    <ul class="uk-nav uk-nav-dropdown dropdown-menu">
    										<li class="dropdown-menu__item">
    											<div class="uk-float-left">Интернет</div>
                                                <div class="uk-float-right">75 Мбит/с</div>
    										</li>
    										<li class="dropdown-menu__item">
                                                <div class="uk-float-left">Wi-fi</div>
                                                <div class="uk-float-right">Бесплатно</div>
    										</li>
    									</ul>
                                    ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                    </a>

                            </div>
                            <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                    <ul class="uk-nav uk-nav-dropdown dropdown-menu">
    										<li class="dropdown-menu__item">
    											<div class="uk-float-left">Интернет</div>
                                                <div class="uk-float-right">75 Мбит/с</div>
    										</li>
    										<li class="dropdown-menu__item">
                                                <div class="uk-float-left">Wi-fi</div>
                                                <div class="uk-float-right">Бесплатно</div>
    										</li>
    									</ul>
                                    ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                    </a>

                            </div>
                        </div>
                    </div>
                    <div class="widget__bottom">
                        <button class="uk-button">Отключить</button>
                    </div>
                </div><!--
                --><div class="panel widget">
                    <div class="panel__icon">

                    </div>

                    <div class="panel__title">
                        <div class="uk-float-right">
                            <div class="widget-abonent-name border-dashed js-change-txt" data-uk-dropdown="{mode: 'click'}"><span class="js-change-txt-span">Бабушка</span>
                             <div class="uk-dropdown uk-dropdown_lg uk-form uk-form-stacked">
                                 <form action="">
                                     <div class="uk-form-row">
                                         <label for="" class="uk-form-label">Имя абонента</label>
                                         <div class="uk-form-controls">
                                             <input type="text" value="Бабушка">
                                             <button type="submit" class="uk-button uk-button-primary">Сохранить</button>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div>
                        </div>
                        <b class="uk-text-danger js-show-tariff">Тариф: Звезда</b>
                    </div>
                    <div class="widget__content">
                        <div class="widget-scroll">
                            <div class="widget__toggle-serv">
                                <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_doc"></i></span> <span class="new-context">Договор №34542 от 30.05.14</span>
                                </a>
                            </div>
                            <div class="widget__toggle-serv">
                                <a href="#"><span class="widget__toggle-serv-ico"><i class="icon icon_rub"></i></span> <span class="new-context">Абонентская плата 6 руб/день</span>
                                </a>
                            </div>
                            <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                    <ul class="uk-nav uk-nav-dropdown dropdown-menu">
    										<li class="dropdown-menu__item">
    											<div class="uk-float-left">Интернет</div>
                                                <div class="uk-float-right">75 Мбит/с</div>
    										</li>
    										<li class="dropdown-menu__item">
                                                <div class="uk-float-left">Wi-fi</div>
                                                <div class="uk-float-right">Бесплатно</div>
    										</li>
    									</ul>
                                    ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                    </a>

                            </div>
                            <div class="widget__toggle-serv">

                                <a href="javascript:void(0);" title='
                                    <ul class="uk-nav uk-nav-dropdown dropdown-menu">
    										<li class="dropdown-menu__item">
    											<div class="uk-float-left">Интернет</div>
                                                <div class="uk-float-right">75 Мбит/с</div>
    										</li>
    										<li class="dropdown-menu__item">
                                                <div class="uk-float-left">Wi-fi</div>
                                                <div class="uk-float-right">Бесплатно</div>
    										</li>
    									</ul>
                                    ' data-uk-tooltip="{cls:'tooltip-drop', pos:'bottom-left'}" class="uk-display-inline-block"><span class="widget__toggle-serv-ico"><i class="icon icon_i"></i></span> <span class="new-context">Информация о тарифе</span>
                                    </a>

                            </div>
                        </div>
                    </div>
                    <div class="widget__bottom">
                        <button class="uk-button">Отключить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padding-t-b uk-margin" id="tariff-new-box">

    </div>
</div>
