<div class="wifi-cur-tariff tariff-curr container-content__margin-minus-all bg-default">
    <div class="tariff-new">
        <div class="tariff-curr-tbl">
            <div class="tariff-curr-tbl__title uk-text-primary h6">WIFI 40 (520 руб/мес)</div>
            <div class="tariff-curr-tbl__caption">
                <div class="uk-margin-small">
                    <b>Логин:</b> Login
                </div>
                <div class="uk-margin-small">
                    <b>Пароль:</b>
                </div>
                <div class="uk-margin-small">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, distinctio aspernatur sed dolorum excepturi culpa
                </div>
            </div>
        </div>
        <div class="tariff-curr-pricing">
            <div class="tariff-curr-pricing__head uk-accordion-title">
                <div class="uk-float-right">
                    <button type="button" class="btn uk-button">Отключить</button>
                </div>
                <div class="new-context">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon">
                            <i class="icon icon_wallet-mid"></i>
                        </span>
                        <span>Стоимость -</span>
                    </span>
                    <span class="tariff-curr-pricing__val"><span class="uk-text-warning">800</span> руб/мес</span>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="uk-margin">
    <div class="tariff-new">
        <div class="tariff-curr-tbl tariff-curr-tbl_danger">
            <div class="tariff-curr-tbl__title uk-text-primary h6">WIFI 40 (520 руб/мес)</div>
            <div class="tariff-curr-tbl__caption">
                
                <div class="uk-margin-small">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, distinctio aspernatur sed dolorum excepturi culpa
                </div>
            </div>
        </div>
        <div class="tariff-curr-pricing">
            <div class="tariff-curr-pricing__head uk-accordion-title">
                <div class="uk-float-right">
                    <button type="button" class="btn uk-button uk-button-danger" data-uk-modal="{target:'#modal-dialog'}">Подключить</button>
                </div>
                <div class="new-context">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon">
                            <i class="icon icon_wallet-mid"></i>
                        </span>
                        <span>Стоимость -</span>
                    </span>
                    <span class="tariff-curr-pricing__val"><span class="uk-text-warning">800</span> руб/мес</span>
                </div>
            </div>

        </div>
    </div>
    <div class="tariff-new">
        <div class="tariff-curr-tbl tariff-curr-tbl_warning">
            <div class="tariff-curr-tbl__title uk-text-primary h6">WIFI 40 (520 руб/мес)</div>
            <div class="tariff-curr-tbl__caption">

                <div class="uk-margin-small">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, distinctio aspernatur sed dolorum excepturi culpa
                </div>
            </div>
        </div>
        <div class="tariff-curr-pricing">
            <div class="tariff-curr-pricing__head uk-accordion-title">
                <div class="uk-float-right">
                    <button type="button" class="btn uk-button uk-button-warning" data-uk-modal="{target:'#modal-dialog'}">Подключить</button>
                </div>
                <div class="new-context">
                    <span class="tariff-curr-pricing__key">
                        <span class="tariff-curr-pricing__icon">
                            <i class="icon icon_wallet-mid"></i>
                        </span>
                        <span>Стоимость -</span>
                    </span>
                    <span class="tariff-curr-pricing__val"><span class="uk-text-warning">800</span> руб/мес</span>
                </div>
            </div>

        </div>
    </div>
</div>
