.application-support {
    &__name {
        padding: 6px 0;
        display: inline-block;
    }
    &__item {
        cursor: pointer;
        &_disabled {
            color: #6c6c6c;
            background: @col-bg-default;
        }
    }
}
