.auto-payment-add {
    .uk-form-controls {
        .uk-form-width-large {
            max-width: 330px;
            width: 100%;
        }
        select.uk-width-1-1 {
            max-width: 330px;
        }
    }
    .panel {
        .new-context;

        width: auto;
    }
    .form {
        max-width: 685px;
    }

    &__tbl {
        min-width: 100%;
        th {
            color: #8f8e8e;
            .font-regular;
        }
        td, th {
            padding: 7px 0;
            &:last-child {
                padding-left: 10px;
            }
        }
    }
}


.touch {
    .auto-payment-add {
        .panel {
            display: block;
            overflow: hidden;
        }
    }
}
