.b-bg {
    background: @col-bg-default;
    &_primary {
        color: #fff;
        background: @col-primary;
    }
    &_danger {
        color: #fff;
        background: @col-danger;
    }
    &_warning {
        color: #fff;
        background: @col-warning;
    }
}
