.b-box-border {
    border: 1px solid @col-border;
    padding: 10px;
    margin: 15px auto;
    // .clearfix;
    font-size: 15px;
    &__img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
        img {
            border-radius: 50%;
        }
    }
    &__cont {
        .new-context;
        padding: 20px 0;
        .h4 {
            margin: 0;
        }
    }
}
