.bank-book {
    padding: 25px @padding-l-r;
    position: relative;
    &:after {
        content:'';
        display: block;
        position: absolute;
        left: 100%;
        width: 4000px;
        top: 0;
        height: 100%;
        background-color: inherit;
    }
    &_bg-default {
        background-color: @col-bg-default;

    }
    &_bg-warning {
        background-color: @col-bg-warning;
        .widget-count__val {
            color: @col-warning;
        }
    }
    &__top {
        .clearfix;
        overflow: hidden;
        position: relative;
        padding-right: 25px;
        background-color: inherit;
        cursor: pointer;
        padding-bottom: 15px;
        &:before {
            content:'';
            height: 1px;
            border-top: 1px solid @col-border;
            width: 100%;
            top: 11px;
            position: absolute;
            left: 0;
        }
        &:after {
            font-family: FontAwesome;
            content:'\f067';
            position: absolute;
            right: 0;
            top: 0;
            background-color: inherit;
            padding-left: 5px;
            font-size: 20px;
            color: #bbc0c6;
        }
        &.uk-active {
            &:after {
                content:'\f068';
            }
        }
    }
    &__name {
        font-size: 20px;
        background-color: inherit;
        .font-regular;
        position: relative;
        display: inline-block;
        padding-right: 5px;
        z-index: 3;
    }
}
