.bonus-variant {
    &__item {
        text-align: center;
        font-size: 16px;
    }
    &__img {
        display: block;
        width: 105px;
        height: 105px;
        border: 1px solid @col-border;
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        margin: 5px auto;
        & > * {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__name {
        display: block;
    }
}
