.bonus-save {
    &__title {
        color: #282828;
        font-size: 21px;
        .font-light;
        margin-bottom: 10px;
        .icon {
            vertical-align: baseline;
        }
    }
    .widget {
        &__content {
            font-size: 14px;
            color: #282828;
            .font-regular;
        }
    }
}
