.bonus-par {
    .inblock(middle);
    padding: 5px 25px;
    border-radius: 25px;
    border: 1px solid;
    font-size: 25px;
    .font-regular;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 305px;
    margin: 5px 0;
    &_bg-danger {
        color: #fff;
        background: @col-danger;
        border-color: @col-danger;
    }
}

.bonus-par-hint {
    font-size: 14px;
    .font-regular;
    .inblock(middle);
    margin: 5px 0;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
