.bonus-abonement {

}
.abonement {
    &__left {
        float: left;
        margin-right: 20px;

    }
    &__cont {
        // .new-context;
        overflow: hidden;
    }
    &__modal-price {
        font-size: 22px;
        .font-regular;
        color: @col-primary;
        & + p {
            margin: 0;
        }
    }
}
.abonement-tab {
    width: 70px;
    &__list {
        .list-reset;
    }
    &__ico {
        &_active {
            display: none;
        }
    }
    &__item {
        display: block;
        text-align: center;
        margin-bottom: 20px;

        &.uk-active {
            .abonement-tab__ico {
                display: none;
                &.abonement-tab__ico_active {
                    display: inline-block;
                }
            }
            .abonement-tab__label {
                border-color: @col-danger;
                background: @col-danger;
                color: #fff;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    border-left: 7px solid @col-danger;
                    border-right: 7px solid transparent;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    position: absolute;
                    top: 50%;
                    margin-top: -4px;
                    left: 100%;
                }
            }
        }
    }
    &__link{
        text-decoration: none !important;
        color: inherit !important;
        display: block;
    }
    &__label {
        color: @col-danger;
        position: relative;
        text-align: center;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border: 1px solid @col-border;
        display: block;
        border-radius: 50%;
        margin: 0 auto 5px;
        font-size: 14px;
        .font-medium;
    }
    &__txt {
        color: #6c6c6c;
    }
}


.abonement-list {
    &__item {
        position: relative;
        margin-bottom: 10px;

    }
    .abonement-box {
        &:hover {
            z-index: 10;
            .abonement-box__wrap {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
            }

        }
    }
}
.abonement-box {
    position: relative;

    .font-regular;
    &__wrap {
        background: #fff;
        position: relative;
        border: 1px solid @col-border;
        padding: 15px 20px 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    &__tag {
        position: absolute;
        right: 0;
        top: 10px;
        background: @col-danger;
        color: #fff;
        border-radius: 20px 0 0 20px;
        display: inline-block;
        line-height: 25px;
        padding: 0 10px;
        .font-regular;
    }
    &__img {
        display: block;
        margin: 0 auto 5px;
        width: 108px;
        height: 108px;
        border-radius: 50%;
    }
    &__anons {
        margin: 1em 0;
    }
    &__price {
        color: @col-primary;
    }
    &__price-summ {
        font-size: 22px;

    }
    &__bottom {
        display: none;
        opacity: 0;
        visibility: hidden;
        margin-top: 1em;
    }
    &:hover {
        .abonement-box__wrap {
            box-shadow: 0 0 8px #b7c7dd;
        }
        .abonement-box__bottom {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
}


@media only screen  and (max-width: 460px){
    .abonement {
        &__left {
            float: none;
        }
    }
    .abonement-tab {
        width: auto;
        margin-bottom: 20px;
        &__label {
            &:after {
                display: none !important;
            }
        }
    }
}
