.btn {
    .animated-css3(all);
    text-decoration: none !important;
    &_ghost {
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: @button-line-height - 2;
        &.uk-button-large {
            line-height: @button-large-line-height - 2;
        }
        &.uk-button-small {
            line-height: @button-small-line-height - 2;
        }
        &.uk-button-mini {
            line-height: @button-mini-line-height - 2;
        }
        &:hover {
            color: #000;
            border-color: #000;
            background: #fff;
        }
        &.uk-button-primary {
            color: @button-primary-background;
            border: 1px solid @button-primary-background;
            &:hover {
                background: @button-primary-background;
                color: @button-primary-color;
            }
        }
    }
    &_ghost-white {

    }
    min-width: 180px;

    &_no-style {
        background: none;
        border:none;
        padding: 0;
        color: @col-primary;
        .font-bold;
        cursor: pointer;
    }
}

.uk-button-warning {
    background: #f38034;
    color: #fff;
    &:hover {
        background: lighten(#f38034, 10%);
        color: #fff;
    }
}
.uk-button-off {
    background: #9E4811;
    color: #fff;
    &:hover {
        background: lighten(#9E4811, 10%);
        color: #fff;
    }
}
