.by-combining {
    &__item {
        .panel;
        margin-bottom: 5px;
        .animated-css3(all);
    }
    .invisible {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -9999px;
    }
    .uk-form-row {
        .animated-css3(all);
        margin-top: 0;
        margin-bottom: 15px;
    }
    .by-merge {
        margin: 5px 0;
    }
    &__title-name {
        display: inline-block;
        border-bottom: 1px dashed @col-primary;
    }
    &__title {
        overflow: hidden;
        position: relative;
        padding-right: 25px;
        cursor: pointer;
        padding-bottom: 15px;
        font-size: 16px;
        color: @col-primary;

        &:after {
            font-family: FontAwesome;
            content:'\f067';
            position: absolute;
            right: 0;
            top: 0;
            background-color: inherit;
            padding-left: 5px;
            font-size: 20px;
            color: #bbc0c6;
        }
        &.uk-active {
            &:after {
                content:'\f068';
            }
        }
    }
}
