.chat-wrapp {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 0;
}
.chat {
    background: #fff;
    width: 100%;

    &__name {
        font-size: 16px;
        .font-regular;
        margin-bottom: 10px;
    }
    &__caption {
        margin: 1em 0;
    }
    &__bottom {
        border-top: 1px solid @col-border;
        background: @col-bg-default;
        .clearfix;
    }
    &__answer {
        margin: 20px auto;
    }
    &__messages {
        .clearfix;
        overflow: auto;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &__area {
        flex-grow: 2;
        min-height: 400px;
        position: relative;
    }
}
@media only screen and (max-width: @breakpoint-large) {
    .chat {
        &__bottom {
            position: relative;
            padding-bottom: 35px;
        }
        &__answer-field {
            width: 100%;
        }
        &__answer-btn {
            position: absolute;
            left: 20px;
            bottom: 0;
            right: 20px;
            display: block;
            width: auto;
        }
    }
}
