.uk-datepicker{
    .uk-datepicker-table th {
        font-size: 11px;
        .font-light;
        color: #6c6c6c;
    }
    .uk-datepicker-table td {
        font-size: 13px;
        .font-regular;
        color: #282828;
    }
    .uk-datepicker-nav {
        color: #fff;
        background: @col-primary;
        margin: -@dropdown-padding -@dropdown-padding @datepicker-nav-margin-bottom;
        padding: 0 @dropdown-padding;
        a{
            &:after {
                content:'';
                display: inline-block;
                width: 0;
                height: 0;
                border: 5px solid transparent;
            }
            &.uk-datepicker-previous {
                &:after {
                    border-right-color: @datepicker-nav-color;
                }
            }
            &.uk-datepicker-next {
                &:after {
                    border-left-color: @datepicker-nav-color;
                }
            }
        }
    }
}
