.uk-dropdown {
    border: 1px solid @col-border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &_lg {
        width: 380px;
    }
}
[data-uk-dropdown] {
    cursor: pointer;
}
.uk-dropdown-bottom {
    .dropdown-menu{
        position: relative;
    }
}
.dropdown-menu {
    margin: 0 - @dropdown-padding !important;
    box-shadow: 0 0 5px rgba(183, 199, 221, 0.52);
    .font-regular;
    font-size: 1rem;
    &__item {
        border-top: 1px solid @col-border;

        &:first-child{
            border-top: none;
        }
    }
    &__link {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
        background: none !important;
        &:hover {
            color: @col-primary !important;
        }
    }
}


.dropdown-menu-top {
    .clearfix;
    background: #f8f9fd;
    margin: -@dropdown-padding -@dropdown-padding 0 !important;
    padding: 12px @dropdown-padding;
    &__title {
        color: #282828;
        font-size: 15px;
        .font-regular;
    }
    & + .dropdown-menu {
        margin-top: 0 !important;
    }
    a {
        color: @col-primary !important;
    }
}
