.e-order-tbl {
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
        &.e-order-tbl__print-link {
            color: @col-primary;
        }
        &.btn {
            color: #fff;
        }
    }
    tr {
        &:nth-child(odd) {
            td {
                background: @col-bg-default;
            }
        }
        &:hover {
            .e-order-tbl__hidden {
                opacity: 1;
                visibility: visible;
            }
            background: @col-bg-default;
            td:first-child {
                border-left: 3px solid @col-danger;
            }

        }
    }
    &__hidden {
        opacity: 0;
        visibility: hidden;
    }
    &__print-link {
        display: inline-block;
        margin-right: 3px;
        [class*="uk-icon"] {
            color: #b1b6bc;
        }
        color: @col-primary;
    }
}

.touch {
    .e-order-tbl__hidden {
        opacity: 1;
        visibility: visible;
        display: inline-flex;
    }
}
