.faq {
    &__left {
        float: left;
        margin-right: 20px;
        width: 120px;
        position: relative;
        z-index: 5;
    }
    &__container {
        .new-context;
    }
}
.faq-nav { 
    .list-reset;
    // width: 100px;
    position: relative;

    &__item {
        margin-bottom: 20px;
        text-align: center;
        &.uk-active {
            .faq-nav__ico {
                color: #fff;
                background: @col-danger;
                border-color: @col-danger;
            }
            .icon {
                display: none;
                &.active {
                    display: inline-block;
                }
            }
        }
    }
    &__link {
        text-decoration: none !important;
        color: inherit;
    }
    &__ico {
        border: 1px solid @col-border;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: block;
        margin: 0 auto 5px;
        position: relative;
        .icon {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            &.active {
                display: none;
            }
        }
    }
}

.faq-box {
    padding: 15px 0;
    position: relative;
    border-top: 1px solid @col-border;
    &__title {
        font-size: 25px;
        margin-bottom: 10px;
    }
    &:first-child {
        border-top: none;
        &:before, &:after {
            border-top: none;
        }
    }
    &:before, &:after {
        content:'';
        width: 3000px;
        background-color: inherit;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        border-top: 1px solid @col-border;
    }
    &:before {
        right: 100%;
    }
    &:after {
        left: 100%;
    }
    &_bg-def {
        background-color: @col-bg-default;
    }
    &_bg-warning {
        background-color: @col-bg-warning;
    }
}

.faq-accord {
    .clearfix;
    background: #fff;
    border: 1px solid @col-border;
    margin: 20px 0;
    &__title {
        border-bottom: 1px solid @col-border;
        font-size: 18px;
        padding: @padding-t-b @padding-l-r;
    }
    &__quest {
        cursor: pointer;
        padding: @padding-t-b @padding-l-r;
        padding-right: 50px;
        position: relative;
        font-size: 15px;
        color: @col-primary;
        &:after {
            content:'\f105';
            font-family: FontAwesome;
            display: inline-block;
            font-weight: 400;
            font-style: normal;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            position: absolute;
            right: 20px;
            top: 15px;
        }
        &:hover, &.uk-active {
            color: @col-danger;
            &:after {
                content: '\f107'
            }
        }
    }
    &__answer {
        padding: @padding-t-b @padding-l-r;
    }
}
