.header {
    background: #4c5666;

    &__top {
        .clearfix;
        background: #fff;
        color: @col-font-default;
    }
    &__bottom {
        .clearfix;
        padding: 0px 20px;
        color: #fff;
    }
    .search {
        padding: 10px 0;
    }
}
