.info-tooltip {
    border: 1px solid @col-primary;
    border-radius: 50%;
    text-align: center;
    color: @col-primary;
    width: 23px;
    height: 23px;
    line-height: 23px;
    cursor: pointer;
    &:hover {
        color: #fff;
        background: @col-primary;
    }
}
