.list-card {
    &__num {
        min-width: 200px;
    }
    &__remove-item {
        cursor: pointer;
        background: none;
        border: none;
        .font-bold;
        color: @col-primary;
        &[class*=uk-icon-] {
            &:before {
                font-family: FontAwesome;
                font-weight: normal;
            }
        }
    }
    &__item {

        td:first-child {
            border-left: 1px solid @col-border;
        }
        &:hover {
            td {
                background: @col-bg-default;
            }
            td:first-child {

                border-left: 3px solid @col-danger;
            }

        }
    }
}
