.loading {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100;
    background: rgba(255,255,255,0.8);
    i {
        position: absolute;
        font-size: 25px;
        left: 50%;
        top: 50%;
        margin-top: -12px;
        margin-left: -12px;
    }
}
