.login-reg-form {
    max-width: 390px;
    margin: auto;
    &_lg {
        max-width: 860px;
    }
    &__top {
        text-align: center;
        color: inherit;
    }
    &__title {
        .font-regular;
        font-size: 28px;
        margin-bottom: 15px;
    }
    &__dialog, &__bottom {
        background: #fff;
        border: 1px solid rgba(255,255,255,0.15);
        color: @col-font-default;
    }
    &__dialog {
        padding: 25px 23px;
        &_mr {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__bottom {
        margin: 3px auto;
        padding: 10px 23px;
        .social-autpriz {
            text-align: center;
        }
    }
    &__footer {
        text-align: center;
        line-height: 1.5;
        a {
            color: inherit !important;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }

    .reg-hint {
        color: #282828;
        text-align: center;
        font-size: 11px;
        .font-regular;
    }
}
