.login-page-wrapp {
    height: 100%;
    min-height: 100vh;
    width: 100%;

    @media only screen and (min-width: @breakpoint-large) {
        .container-content {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}
.login-page-container {
    overflow: auto;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 5;
    .back {
        color: inherit;
        text-decoration: none;
        [class*='uk-icon'] {
            font-size: 11px;
        }
    }
}
