.main-nav {
    font-size: 13px;
    padding: 12px 20px;
    .font-regular;
    .icon {
        display: none;
    }
    &__list {
        .list-reset;
        display: inline-block;
        line-height: @line-height;
    }
    &__item {
        .inblock(top);

        &.active, &:hover {
            // background: #4c5666;
            color: @col-primary;
        }
    }
    &__link {
        padding: 10px 10px;
        display: block;
        color: inherit !important;
        text-decoration: none !important;
    }
}


@media only screen and (max-width:@breakpoint-large) {
    .main-nav {
        .icon{
            display: block;
        }
        &__item {
            // &:first-child {
            //     display: none;
            // }
        }
        &__txt {
            display: none;
        }
    }
}
