.menu {
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: @navbar-width;
    &__title {
        font-size: 10px;
        text-transform: uppercase;
        color: #6c6c6c;
        margin: 10px 0;
    }
    &__nav {
        margin-bottom: 25px;
    }
    &__list {
        .list-reset;
        margin: 0 -30px;
    }
    &__item {
        &.active, &:hover {
            color: #fff;
            background: @col-primary;
            [class*=uk-icon-] {
                color: inherit;
            }
        }
    }
    &__link {
        color: inherit;
        text-decoration: none;
        padding: 5px 30px;
        display: block;
        &:hover {
            color: inherit;
            text-decoration: none;
            [class*=uk-icon-] {
                color: inherit;
            }
        }
    }
    [class*=uk-icon-] {
        position: relative;
        margin-right: 10px;
        font-size: 15px;
        color: @col-primary;
        .uk-badge {
            position: absolute;
            right: -6px;
            bottom: -2px;
            font-size: 8px;
        }
    }
}
