.message {
    float: left;
    clear: both;
    max-width: 65%;
    margin: 8px 0;
    .date {
        margin-bottom: 10px;
    }
    &_right {
        float: right;
        .message__ava {
            float: right;
            margin-left: 10px;
            margin-right: 0;
        }
        .message__content {
            background: @col-bg-primary;
        }
    }
    &__ava {
        border-radius: 50%;
        display: block;
        float: left;
        margin-right: 10px;
        position: relative;
        width: 50px;
        height: 50px;
        img {
            display: block;
            border-radius: 50%;
        }
        &_left {
            float: left;
            &:after, &:before {
                right: -10px;
                border-left: 8px solid transparent;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
            &:before {
                border-right: 8px solid #fff;
                right: -12px;
            }
            &:after {
                border-right: 8px solid @col-border;
            }
        }
        &_right {
            float: left;
            &:after, &:before {
                left: -10px;
                border-right: 8px solid transparent;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
            }
            &:before {
                border-left: 8px solid @col-bg-primary;
                left: -12px;
            }
            &:after {
                border-left: 8px solid @col-border;
            }
        }
        &:before {

            z-index: 5;
        }

        &:after, &:before {
            content:'';
            position: absolute;
            top: 50%;
            margin-top: -10px;
        }

    }
    &__content {
        overflow: hidden;
        border: 1px solid @col-border;
        padding: 10px 15px;
    }
}

@media only screen and (max-width: @breakpoint-large) {
    .message {
        max-width: 700px;
        padding-right: 10px;
        &__ava {
            width: 30px;
            height: 30px;
        }
        &_right {
            padding-right: 0;
            padding-left: 10px;
        }
    }
}
