.uk-modal-page {
    body {
        height: auto;
    }
}
.modal {
    .uk-modal-dialog {
        background: none;
        padding: 0;
        &.uk-modal-dialog-md {
            width: 550px;
        }
    }
    &__head {
        position: relative;
        color: #fff;
        padding-right: 25px;
        margin-bottom: 15px;
        min-height: 29px;
        .uk-modal-close {
            position: absolute;
            opacity: 1;
            right: 0;
            top: 0;
            font-size: 23px;
            line-height: 29px;
            height: 29px;
        }
    }
    &__title {
        font-size: 23px;
        .font-regular;
    }

    &__container {
        background: #fff;
        .font-regular;
        padding: @modal-dialog-padding;
    }
}
