.navbar-wrapp {
    float: left;
    height: 100%;
    z-index: 100;
    position: relative;
    position: fixed;
    left: 0;
    top: 0;
}
.navbar {
    width: @navbar-width;
    float: left;
    height: 100%;
    .animated-css3(all);
    position: relative;
    height: 100%;
    background: #fff;
    border-right: 1px solid #e6eaef;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0 0 13px rgba(0,0,0,0.2);
    &__top {
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: @navbar-width;
    }
    &__minimalize {
        position: absolute;
        float: right;
        position: relative;
        text-align: center;
        right: 0;
        top: 0;
        color: @col-disabled;
        font-size: 20px;
        cursor: pointer;
        line-height: 1;
    }
    &__head {
        padding: 0 30px 0px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: @navbar-width;
    }
    .logo-min {
        display: none;
        margin-top: -10px;
    }
}

#page-wrapper {
    padding-left: @navbar-width;
}
.open-navbar.mobile-navbar {
    .navbar-wrapp {
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
    }
}
.mobile-navbar {
    .navbar-wrapp {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
        height: 100%;
    }
    #page-wrapper {
        padding-left: @navbar-width-mini;
    }
}
.close-navbar {
    #page-wrapper {
        padding-left: @navbar-width-mini;
    }
    .navbar {
        width: @navbar-width-mini;
        .logo-max {
            display: none;
        }
        .logo-min {
            display: block;
            margin: 10px auto;
        }
        &__top {
            width: auto;
            padding-left: 0;
            padding-right: 0;
        }
        &__head {
            visibility: hidden;
            opacity: 0;
            height: 0;
        }
        &__minimalize {
            left: 0;
            position: relative;
            float: none;
            margin: 0 auto;
        }
    }


    .menu {
        word-wrap: normal;
        .btn {
            visibility: hidden;
            opacity: 0;
        }
    }
    .menu__title {
        visibility: hidden;
        opacity: 0;
    }
    .menu__link{
        & >span {
            visibility: hidden;
            opacity: 0;
        }
    }
}
