.notification-one {
    .padding-t-b;
    &__title {
        color: @col-primary;
        margin: 10px 0;
        font-size: 20px;
        .font-light;
    }
}
.notification {
    .padding-t-b;
    &__list {
        .list-reset;
        margin: 25px 0;
    }
    &__link {
        display: block;
        color: inherit !important;
        text-decoration: none !important;
    }
    &__item {
        display: block;
        .font-regular;
        border: 1px solid @col-border;
        border-top: none;
        padding: 10px 10px 10px 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        &:nth-child(odd) {
            background: @col-bg-default;
        }
        &:first-child {
            border: 1px solid @col-border;
        }
        &:hover {
            background: @col-bg-default;
            &:before {
                content:'';
                width: 4px;
                display: block;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background: @col-danger;
            }
            .notification__title {
                text-decoration: none;
            }
        }
        &_new {

            .notification__state {
                border-color: @col-danger;
                color: @col-danger;
            }
        }
        &_read {
            .notification__state {
                color: @col-border;
            }
        }
    }
    &__title {
        color: @col-primary;
        text-decoration: underline;
        font-size: 16px;
        margin-bottom: 10px;
    }
    &__state {
        border: 1px solid @col-border;
        font-size: 11px;
        .font-bold;

        text-align: center;
        display: inline-block;
        line-height: 20px;
        padding: 3px 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 80px;
    }
    &__txt {
        margin: 10px 0;
    }
    &__top {
        font-size: 11px;
        .clearfix;
        .font-light;
        color: #6c6c6c;
        margin-bottom: 10px;

    }
    &__date {
        font-size: 11px;
        .clearfix;
        .font-light;
        color: #6c6c6c;
        [class*="uk-icon"] {
            color: #a7adb4;
            font-size: 15px;
        }
    }
}


@media only screen and (max-width: 500px) {
    .notification-one {
        &__bottom {
            .uk-float-left {
                float: none;
            }
            .uk-float-right {
                float: none;
            }
        }
    }
}
