.other-pay-methods {
    &__title {
        text-align: center;
        margin-bottom: 15px;
    }
    &__item {
        margin-bottom: 10px;
    }
    &__link {
        display: block;
        border: 1px solid @col-border;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 15px 20px;
        text-decoration: none !important;
        color: inherit;
        position: relative;
        &:hover {
            color: inherit;
            .other-pay-methods__name {
                color: @col-danger;
            }
            &:after {
                content: '';
                display: block;
                width: 3px;
                position: absolute;
                height: 100%;
                left: -1px;
                top: 0;
                background: @col-danger;
            }
        }
    }
    &__name {
        font-size: 18px;
        .font-regular;
        color: @col-primary;
    }
}
