.page-title {
    .clearfix;
    padding: @padding-t-b @padding-l-r;
    background: @col-bg-blue;
    color: #fff;
    &_mobi {
        background: @col-warning;
        & + .second-menu {
            .second-menu__item {
                &.active, &:hover {
                    border-color: @col-warning !important;
                }
            }
        }
    }
    &__va {
        min-height: 80px;
        .inblock(middle);
        width: 0;
    }
    &__cont {
        .inblock(middle);
        width: 100%;
    }
    &__name {
        margin: 0;
        font-size: 30px;
        .font-light;
        line-height: normal;
        color: inherit;
    }
}

@media only screen and (max-width: @breakpoint-large){
    .page-title {
        &__name {
            margin-bottom: 1rem;
        }
        .right-column {
            float: none;
            clear: both;
        }
    }
}
