
button[class*=uk-icon-] {
    cursor: pointer;
    border: none;
    background: none;
}

.panel-list-title {
    .clearfix;
    margin: 1em 0;
    font-size: 18px;
    .font-regular;
    & > span {
        vertical-align: middle;
    }
    [class*=uk-icon-] {
        color: #bbc0c6;
        &:hover {
            color: @col-primary;
        }
    }
    .js-btn-panel-remove {
        &:hover {
            color: @col-danger;
        }
    }
}

.panel-count {
    &__val {
        font-size: 23px;
    }
}
.panel-remove {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    background: @col-danger;
    color: #fff;
    text-align: center;
    &:before {
        content: '';
        height: 100%;
        .inblock(middle);
    }
    &__cont {
        .inblock(middle);
    }
    a {
        color: inherit !important;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
.panel {
    border: 1px solid @col-border;
    background: #fff;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: @padding-t-b 15px;
    margin-bottom: 20px;
    width: 100%;
    .font-regular;


    &__content {
        min-height: 90px;
        overflow: hidden;
        padding: 10px 0;
    }
    &__bottom {
        // text-align: right;
        padding: 10px 0;
        min-height: 30px;
        .uk-button {
            // width: 100%;
            max-width: 183px;
        }
    }
    &__icon {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        padding: 3px 8px;
        [class*=uk-icon-] {
            color: #bbc0c6;
            &:hover {
                color: @col-primary;
            }
            &.i-remove {
                &:hover {
                    color: @col-danger;
                }
            }
        }
    }
    &__title {
        color: #6c6c6c;
        font-size: 14px;
        .font-regular;
        margin: 0 auto 10px;
        line-height: normal;
        a {
            color: #6c6c6c;
            &:hover {
                color: #6c6c6c;
            }
        }
        &:after {
            content:'';
            display: block;
            border-top: 1px solid @col-border;
            margin: 1rem 0;
            margin-bottom: 0;
        }

    }
    &_accord {
        .uk-accordion-content {
            padding-top: 10px;
        }
        .uk-accordion-title {
            color: @col-primary;
            .font-regular;
            font-size: 16px;
            cursor: pointer;
            &:before {
                font-family: FontAwesome;
                content:'\f067';
                position: absolute;
                right: 20px;
                top: 7px;
                background-color: inherit;
                padding-left: 5px;
                font-size: 20px;
                color: #bbc0c6;
            }
            &.uk-active {
                &:before {
                    content:'\f068';
                }
            }
        }
    }
    &__top {

    }
}


@media only screen and (max-width:570px) {
    .panel {
        max-width: none;
        &__bottom {
            text-align: left;
        }
    }
}
