#player {
    width: 100%;
    height: 406px;
}
.b-video {
    display: block;
    &__caption {
        max-width: 600px;
        margin: auto;
    }
    &__play {
        cursor: pointer;
        font-size: 3em;
        width: 61px;
        height: 61px;
        background: url('@{img}play.png') no-repeat 50% 50%;
        .inblock(middle);
    }
}
