.profile-settings-form {
    &__avatar {
        &:after {
            content:'';
            .inblock(middle);
            .sprite(@sprite-i-cloud-primary);
        }
    }
}

.profile-account-settings {
    .panel {
        &:nth-child(even) {
            background: @col-bg-default;
        }
    }
}
