.refill-balance {

}
.refill-balance-switcher {
    // margin: -@padding-t-b -@padding-l-r;
    &__item {
        color: inherit;

        text-decoration: none !important;
        padding: 30px 25px;
        background: #fff;
        cursor: pointer !important;
        position: relative;
        border-top: 1px solid @col-border;
        flex-grow: 2;
        flex-shrink: 0;
        *{
            cursor: pointer;
        }
        &:first-child {
            border-top: 0;
        }
        &.uk-active {
            background: @col-primary;
            color: #fff;
            @media only screen and (min-width: @breakpoint-large) {
                &:after {
                    content: '';
                    border-left: 5px solid @col-primary;
                    border-right: 5px solid transparent;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    display: block;
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    margin-top: -5px;
                }
            }
            .refill-balance-switcher__ico {
                &_card {
                    .sprite(@sprite-i-card-lg-wh);
                }
                &_cut {
                    .sprite(@sprite-i-cut-lg-wh);
                }
            }
        }
    }
    &__ico {
        float: left;
        margin-right: 30px;
        &_card {
            .sprite(@sprite-i-card-lg);
        }
        &_cut {
            .sprite(@sprite-i-cut-lg);
        }
    }
    &__txt {
        .new-context;
    }
    &__title {
        .font-regular;
        font-size: 18px;
    }
}
