.request {
    &__tbl {
        width: 100%;
        border-collapse: collapse;
        border-left: 1px solid @col-border;
        border-right: 1px solid @col-border;
        tr {
            &:nth-child(odd) {
                td {
                    background: @col-bg-default;
                }
            }
        }
        td {
            .font-light;
        }
        th {
            background: #f8f9fd;
            .font-regular;
        }
        td,th {
            padding: 6px 10px;
            border-top: 1px solid @col-border;
            border-bottom: 1px solid @col-border;
        }
    }
}
.request-filter {
    margin-bottom: 15px;
}
.request-list {
    overflow: auto;
    max-width: 100%;
}
