.search {
    &__btn {
        background: none;
        border: none;
        margin: 0;
        cursor: pointer;
        pointer-events: all !important;
        &:hover {
            color: @col-default;
        }
    }
    position: relative;
}

@media only screen and (max-width: 560px) {
    .search {
        padding-bottom: 30px;
        button.uk-button {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-left: 0;
            width: 100%;
        }
        .new-context {
            width: 100%;
        }
    }
}
