.search-result {
    &__list {
        .list-reset;
        counter-reset: list;
    }
    &__item {
        margin: 15px 0;
        padding-left: 54px;
        position: relative;
        &:before {
            counter-increment: list;
            content: counter(list) ". ";
            position: absolute;
            left: 20px;
            top: 0;
            color: @col-primary;
            font-size: 18px;
        }
        &:after {
            // content:'';
            width: 0;
            position: absolute;
            left: 0;
            // bottom: 0;
            top: 0;
            height: 100%;
            display: block;
            // .animated-css3(all);
            background: @col-danger;
        }
        &:hover {
            border-left: 5px solid @col-danger;
            // &:after {
            //     width: 5px;
            // }
        }
    }
    &__title {
        text-decoration: underline;
    }
    &__anons {
        padding: 5px 0 15px;
    }
    &__link {
        text-decoration: none !important;
        color: inherit !important;
    }
}

@media only screen and (max-width: @breakpoint-medium) {
    .search-result {
        &__item {
            padding-left: 25px;
            &:before {
                left: 5px;
            }
        }
    }
}
