.second-menu{
    padding: 0 @padding-l-r;
    .font-light;
    font-size: 15px;
    // margin-bottom: 15px;
    &__list{
        .list-reset;
        border-bottom: 1px solid @col-border;
        margin: 0 -25px;
    }
    &__item {
        margin: 0 25px -1px;
        display: inline-block;
        &.active, &:hover {
            border-bottom: 3px solid @col-primary;
        }
    }
    &__link {
        padding: 10px 0;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: inherit !important;
        text-decoration: none !important;
    }
}

@media only screen and (max-width: @breakpoint-medium) {
    .second-menu {
        &__list {
            margin: 0 -10px;
        }
        &__item {
            margin: 0 10px -1px;
        }
    }
}
