.services-list {
    .list-reset;
    display: table;
    width: 100%;
    border-spacing: 0px 5px;
    .icon {
        margin-right: 5px;
    }
    .info-tooltip {
        margin: 2px 5px;
    }
    &__item {
        margin: 5px 0;
        .clearfix;
        display: table-row;
        &_danger {
            .services-list__item-td {
                &:first-child {
                    border-left: 3px solid @col-danger;
                }
            }
        }
        &:hover {
            background: @col-bg-default;
        }
    }

    &__item-td {
        display: table-cell;
        vertical-align: middle;
        border-top: 1px solid @col-border;
        border-bottom: 1px solid @col-border;
        padding: 5px 20px;
        &:first-child {
            border-left: 3px solid @col-primary;
            min-width: 224px;
        }

        &:last-child {
            border-right: 1px solid @col-border;
            text-align: right;
        }
    }

    &__state {
        background: @col-border;
        border-radius: 20px 0 0 20px;
        display: inline-block;
        line-height: 25px;
        padding: 0 10px;
        .font-regular;
        color: #6c6c6c;
        &_on {
            color: #fff;
            background: @col-danger;
        }
    }
}
