.ban-wrap {
    min-height: 400px;
}
.slider-bann {

    .uk-overlay-panel {
        color: inherit;
        &.uk-overlay-background {
            color: #fff;
        }
    }
    .uk-slideshow {
        border: 1px solid @col-border;
        background: #fff;
    }
    .uk-dotnav {
        margin: 0;
        bottom: -15px;
        opacity: 1;
        li {
            margin-top: 0;
            a {
                opacity: 1;
                width: 7px;
                height: 7px;
                background: #bbc0c6;
            }
            &.uk-active {
                a {
                    background: @col-primary;
                }
            }
        }
    }
}
.uk-slidenav-position .uk-slidenav {
    opacity: 1;
    color: #bbc0c6;
    text-decoration: none !important;
    font-size: 20px;
    display: block;

    &:hover {
        color: @col-primary;
    }
    &.uk-slidenav-previous {
        left: 0;
        &:before {
            content: "\f104";
            font-family: FontAwesome;
        }
    }
    &.uk-slidenav-next {
        right: 0;
        &:before {
            content: "\f105";
            font-family: FontAwesome;
        }
    }
}
