.social-bind {
    word-spacing: 10px;
    &__link {
        text-decoration: none !important;
        .animated-css3(all);
        .inblock();
        margin-bottom: 5px;
        color: #bbc0c6;
        border: 1px solid @col-border;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        position: relative;
        &:after {
            content:'+';
            .rounded(50%);
            position: absolute;
            right: -8px;
            top: -8px;
            width: 16px;
            height: 16px;
            background: @col-primary;
            line-height: 16px;
            color: #fff;
            font-size: 12px;
        }
        &.active {
            background: @col-primary;
            border-color: @col-primary;
            color: #fff;
            &:after {
                content:'-';
                background: @col-danger;
            }
        }
    }
}
