.state {
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    padding: 3px 3px;
    min-width: 80px;
    border: 1px solid @col-border;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &_new, &_danger {
        border-color: @col-danger;
        background: @col-bg-danger;
        color: @col-danger;
    }
    &_work, &_warning {
        border-color: @col-warning;
        background: @col-bg-warning;
        color: @col-warning;
    }
    &_found, &_primary {
        border-color: @col-primary;
        background: @col-bg-primary;
        color: @col-primary;
    }
}
