.switcher-check {
    .inblock(middle);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    input[type='checkbox']{
        position: absolute;
        left: -9999px;
        outline: 0;
        visibility: hidden;
        &:checked {
            & + .switcher-check__body {
                background: @col-primary;
                border-color: @col-primary;
                &:before {
                    left: 100%;
                    margin-left: -25px;
                }
            }
        }
    }
    &__body {
        .animated-css3(all);
        cursor: pointer;
        border: 1px solid @col-border;
        background: @col-border;
        position: relative;
        border-radius: 25px;
        width: 50px;
        height: 25px;
        display: block;
        &:before {
            content:'';
            .animated-css3(all);
            display: block;
            display: block;
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            border-radius: 25px;
            background: #fff;
        }
    }
}
