.tab-serv {
    &__item {
        cursor: pointer;
        text-decoration: none !important;
        color: inherit;
        &:hover {
            text-decoration: none;
            color: inherit;
        }
        &.uk-active {
            .tab-serv-icon-switch {
                border-color: @col-primary;
                background: @col-primary;
                .icon {
                    display: none;
                    &.on {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .tab-serv-icon-switch {
        border: 1px solid @col-border;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 10px auto;
        line-height: 90px;
        text-align: center;
        .on {
            display: none;
        }
    }

}
