.tariff-change {

}

.js-show-tariff {
    cursor: pointer;
}
.tariff-curr {
    border-bottom: 1px solid @col-border;
    .clearfix;
    margin-bottom: 0;
    &__cont {
        padding: 15px 20px;
        .new-context {
            padding-top: 5px;
        }
    }
}
.tariff-new {
    .tariff-curr-tbl, .tariff-curr-pricing {
        background: @col-bg-default;
    }
    margin: 15px 0;
    &:first-child {
        margin-top: 0;
    }
}
.tariff-curr-tbl {
    background: #fff;
    border: 1px solid @col-border;
    &__title {
        font-size: 16px;
        padding: 10px 20px;
    }
    &__caption {
        padding: 10px 20px;
    }
    &_danger {
        border-top: 5px solid @col-danger;
    }
    &_primary {
        border-top: 5px solid @col-primary;
    }
    &_warning {
        border-top: 5px solid @col-warning;
    }
    &__td {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @media only screen and (min-width: @breakpoint-small) {
            border:none;
            border-top: 1px solid @col-border;
            &:first-child {
                border-top: none;
            }
        }
        @media only screen and (min-width: @breakpoint-large) {
            border:none;
            border-left: 1px solid @col-border;
            &:first-child {
                border-left: none;
            }
        }
    }
    & + .tariff-curr-pricing {
        margin-top: -1px;
    }
}
.tariff-curr-pricing {
    background: #fff;
    border: 1px solid @col-border;
    .font-regular;
    &__icon {
        vertical-align: middle;
        min-width: 35px;
    }
    .icon {
        vertical-align: middle;
        & + * {

        }
    }
    span {
        vertical-align: middle;
        display: inline-block;
    }
    &__accord-trigger {
        color: @col-primary;
        cursor: pointer;
        i {
            color: @col-default;
        }
        & > span {
            display: none;
            &.on {
                display: block;
            }
        }
    }
    &__head {
        .clearfix;
        padding: 10px 20px;
        &.uk-active {
            .tariff-curr-pricing__accord-trigger {
                & > span {
                    display: block;
                    &.on {
                        display: none;
                    }
                }
            }
        }
        a {
            text-decoration: none !important;
            display: inline-block;
            vertical-align: baseline;
            border-bottom: 1px dashed;
        }
    }
    &__cont {
        padding: 15px 20px;
    }
    &__key{
        .inblock(middle);
        // width: 100%;
        // max-width: 220px;
    }
    &__val {
        font-size: 18px;
        // margin: 0 15px;
    }
}

.wifi-cur-tariff {
    .tariff-new, .tariff-curr-tbl, .tariff-curr-pricing {
        background: #fff;
    }
}
