
.tbl {
    width: 100%;
    border-collapse: collapse;
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid @col-border;
    border-right: 1px solid @col-border;
    td {
        .font-light;
    }
    th {
        background: @col-bg-default;
        .font-regular;
    }
    td,th {
        padding: 6px 10px;
        border-top: 1px solid @col-border;
        border-bottom: 1px solid @col-border;
    }
    &__bg {
        background: @col-bg-primary;
    }
}

.fixed-layout {
    table-layout: fixed;
}
