.tooltip-drop {
    background: #fff;
    border: 1px solid @col-border;
    color: @col-font-default;
    padding: 0;
    min-width: @dropdown-search-width;
    .dropdown-menu {
        margin: 0 !important;
        &__item {
            .clearfix;
            padding: 12px @dropdown-padding;
        }
    }
    &:before {
        content:'';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 6px solid transparent;
    }
    &[class*="uk-tooltip-top"] {
        &:before {
            border-top-color: @col-border;
        }
        &:after {
            border-top-color: #fff;
        }
    }
    &[class*="uk-tooltip-bottom"] {
        &:before {
            border-bottom-color: @col-border;
        }
        &:after {
            border-bottom-color: #fff;
        }
    }
    &[class*="uk-tooltip-bottom-left"] {
        &:before {
            left: 9px;
            top: -13px;
        }
    }
    &[class*="uk-tooltip-bottom-right"] {
        &:before {
            left: auto;
            right: 9px;
            top: -13px;
        }
    }
    &[class*="uk-tooltip-left"] {
        &:before {
            border-left-color: @col-border;
        }
        &:after {
            border-left-color: #fff;
        }
    }
    &[class*="uk-tooltip-right"] {
        &:before {
            border-right-color: @col-border;
        }
        &:after {
            border-right-color: #fff;
        }
    }
}


.my-tooltip {
    background: #fff;
    border: 1px solid @col-primary;
    padding: 9px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: @col-font-default;
    &:before {
        content:'';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 6px solid transparent;
    }
    &[class*="uk-tooltip-top"] {
        &:before {
            border-top-color: @col-primary;
            bottom: -12px;
            left: 50%;
            margin-left: -6px;
        }
        &:after {
            border-top-color: #fff;
        }
    }
    &[class*="uk-tooltip-bottom"] {
        &:before {
            border-bottom-color: @col-primary;
            top: -12px;
            left: 50%;
            margin-left: -6px;
        }
        &:after {
            border-bottom-color: #fff;
        }
    }
    &[class*="uk-tooltip-bottom-left"] {
        &:before {
            left: 9px;
            top: -13px;
        }
    }
    &[class*="uk-tooltip-bottom-right"] {
        &:before {
            left: auto;
            right: 9px;
            top: -13px;
        }
    }
    &[class*="uk-tooltip-left"] {
        &:before {
            border-left-color: @col-primary;
            top: 50%;
            right: -12px;
            margin-top: -6px;
        }
        &:after {
            border-left-color: #fff;
        }
    }
    &[class*="uk-tooltip-right"] {
        &:before {
            border-right-color: @col-primary;
            top: 50%;
            left: -12px;
            margin-top: -6px;
        }
        &:after {
            border-right-color: #fff;
        }
    }

}
