.widget-price {
    &__summ {
        display: inline-block;
        font-size: 23px;
        .font-regular;
        color: @col-primary;
    }
}
.widget-abonent-name {
    .inblock(middle);
    position: relative;
    color: inherit !important;
    text-decoration: none !important;
    border-bottom: 1px dashed @col-font-default;

    & > span {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.widget-count {
    &__val {
        font-size: 23px;
        color: @col-primary;
    }
}
.widget {
    max-width: 285px;
    min-height: 222px;
    .icon {
        vertical-align: middle;
        margin-right: 5px;
    }
    &__content {
        height: 120px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow: auto;
        margin: 10px 0;
        margin-right: -15px;
        .widget-scroll {
            padding-right: 15px;
            max-height: 120px;
        }
    }
    &__bottom {
        .uk-button {
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
    &__toggle-serv {
        margin-top: 8px;
        line-height: normal;
        .clearfix;
        line-height: 1.5;
        position: relative;
        & > a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:first-child {
            margin-top: 0;
        }
    }
    &__toggle-serv-ico {
        float: left;
        width: 25px;
        &_next-pt {
            & + * {
                padding-top: 6px;
            }
        }
    }
}
.widget-grid {
    margin: 0 -3px;
    width: 100%;
    .widget {
        margin: 3px;
        .inblock();
        &_lg {
            width: 100%;
            max-width: 450px + 6px;
        }
        &:hover, &.active {
            box-shadow: 0 0 8px #b7c7dd;
        }
        &.active {
            background: @col-bg-primary;
        }
    }
}
