.content {
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        &.uk-button {
            text-decoration: none;
        }
    }

    ol {
        counter-reset: list;
        list-style: none;
        padding-left: 0;
        li {
            padding-left: 0;
            margin-bottom: 1em;
            &:before {
                counter-increment: list;
                content: counter(list) ")";
                color: @col-primary;
                display: inline;
            }
        }
    }
}
.border-dashed {
    border-bottom: 1px dashed;
    text-decoration: none !important;
    &:hover {
        border-bottom: none;
    }
}
