@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700';

.font-regular {
	font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.font-light {
	font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
.font-medium {
	font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.font-bold {
	font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}
