.uk-form input:not([type]), .uk-form input[type=text], .uk-form input[type=password], .uk-form input[type=email], .uk-form input[type=url], .uk-form input[type=tel], .uk-form input[type=datetime], .uk-form input[type=datetime-local], .uk-form input[type=date], .uk-form input[type=month], .uk-form input[type=time], .uk-form input[type=week], .uk-form input[type=color], .uk-form input[type=number], .uk-form input[type=search], .uk-form select, .uk-form textarea {
    border-radius:0px;
    font-size: 12px;
}

.js-change-txt {
    position: relative;
    display: inline-block;
    .uk-dropdown_lg {
        width: 297px;
        input[type="text"] {
            max-width: 170px;
        }
    }
}
.check-outside, .radio-outside {
    padding-left: 20px;
    .uk-form-label {
        display: inline-block;
    }
    input[type=checkbox]:not(:disabled), input[type=radio]:not(:disabled) {
        margin-left: -20px !important;
        margin-right: 3px;
    }
}
.form {
    &_md {
        width: 330px;
        max-width: 100%;
    }
    .uk-block-muted {
        min-height: 97px;
    }
}
.form-counter {
    position: relative;
    display: inline-block;
    input {
        text-align: center;
        padding-right: 30px !important;
    }
    &__control {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
    }
    &__btn {
        width: 30px;
        height: 50%;
        display: block;
        background: @col-bg-default;
        line-height: normal;
        border: 1px solid @col-border;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: @col-default;
        &:hover {
            background: @col-primary;
            color: #fff;
        }
        &:first-child {
            border-bottom: none;
        }
    }
}
.form-icon {
    &>[class*=uk-icon-]{
        top: 0px;
        bottom: 0px;
        right: 0px;
        margin: 1px;
        line-height: @form-height;
        // height: @form-height;
        background: @col-bg-default;
    }
     input:not([type]):focus,  input[type=text]:focus,  input[type=password]:focus,  input[type=email]:focus,  input[type=url]:focus,  input[type=tel]:focus,  input[type=datetime]:focus,  input[type=datetime-local]:focus,  input[type=date]:focus,  input[type=month]:focus,  input[type=time]:focus,  input[type=week]:focus,  input[type=color]:focus,  input[type=number]:focus,  input[type=search]:focus,  select:focus,  textarea:focus {
        & + [class*=uk-icon-] {
            background: @form-focus-border;
            color: #fff;
        }
    }
}
.uk-form-danger {
    & + [class*=uk-icon-] {
        color: @col-danger;
    }
}
.error {
    text-align: right;
    color: @col-danger;
    font-size: 11px;
    .font-light;
}
//SELECT CHOSEN CUSTOM
.chosen-container {
    width: 100% !important;
}
.chosen-container-single .chosen-single {
    background: none;
    border-radius:0px;
    font-size: 12px;
    box-shadow: none !important;
    line-height: @form-height;
    height: @form-height;
    padding: 0;
    border: @form-border-width solid @form-border;
    background: @form-background;
    color: @form-color;
    box-sizing: border-box;

    span {
        padding: @form-padding;
        line-height: 20px;
        height: @form-height;
        box-sizing: border-box;
        margin-right: 30px;
    }
}
.chosen-container-single .chosen-single div {
    width: 30px;
    line-height: @form-height;
    background: @col-bg-default;
    color: @form-icon-color;
    text-align: center;
    font-size: 14px;
    b {
        font-family: FontAwesome;
        display: inline-block;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        &:before {
            content: '\f107';
        }
    }
}
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: @form-focus-border;
    background: @form-focus-background;
    color: @form-focus-color;
}
.chosen-container-active .chosen-single div {
    color: #fff;
    background: @form-focus-border !important;
}
.chosen-container .chosen-drop {
    border: @form-border-width solid @form-focus-border;
    background: #fff;
    margin-top: 10px;
    box-shadow: none !important;
    border-radius: 0;
    &:before {
        content:'';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -10px;
        right: 10px;
        border-bottom: 5px solid #fff;
        border-top: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: 3;
    }
    &:after {
        content:'';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: -11px;
        right: 10px;
        border-bottom: 5px solid @form-focus-border;
        border-top: 5px solid transparent;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        z-index: 2;
    }
    .chosen-results {
        padding: 0;
        margin: 0;
    }
    .active-result {
        border-top: 1px solid @form-focus-border;
        padding: @form-padding;
        line-height: 21px;
        height: @form-height;
        box-sizing: border-box;
        &.result-selected, &.highlighted {
            background: none !important;
            color: @col-primary;
        }
        &:first-child {
            border-top: none;
        }
    }
}



.uk-form-label {
    min-height: 16px;
}
.uk-block {
    padding: 20px 25px;
}


.uk-form-help-inline {
    .font-light;
}
.uk-form input[type=checkbox]:checked {
    color: #fff;
    background: @col-primary;
    border-color: @col-primary;
    &:before {
        color: inherit;
    }
}


.form-suspend-width {
    max-width: 375px;
}
.form-call-width {
    max-width: 400px;
    .uk-form-width-small {
        width: 171px;
    }
}

.form-step {
    .font-regular;
    line-height: 2;
    overflow: hidden;
    margin-bottom: 20px;
    &__item {
        text-align: center;
        min-height: 2em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        flex-grow: 2;
        background: @col-bg-default;
        position: relative;
        &.uk-active {
            background: @col-danger;
            color: #fff;
            &:after {
                border-left-color: @col-danger;
            }
        }
        &:after {
            content:'';
            display: block;
            border: 1em solid transparent;
            border-left-color: @col-bg-default;
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -1em;
            z-index: 2;
        }
    }
}


.uk-form-password-toggle {
    pointer-events: all !important;
    &[class*='uk-icon'] {

    }
}


.js-datepicker, #js-datepicker-start, #js-datepicker-end {
    cursor: pointer;
}
