.icon {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &_down {
        .sprite(@sprite-i-down);
    }
    &_tv {
        .sprite(@sprite-i-tv);
        & + * {
            padding-top: 6px;
        }
    }
    &_for-b {
        .sprite(@sprite-i-for-b);
    }
    &_for-h {
        .sprite(@sprite-i-for-h);
    }
    &_partner {
        .sprite(@sprite-i-partner);
    }
    &_cabinet {
        .sprite(@sprite-i-cabinet);
    }
    &_logo-m {
        .sprite(@sprite-logo-min);
    }
    &_wallet {
        .sprite(@sprite-i-wallet);
    }
    &_user {
        .sprite(@sprite-i-user);
    }
    &_bell {
        .sprite(@sprite-i-bell);
    }
    &_wallet-grey {
        .sprite(@sprite-i-wallet-grey);
    }
    &_user-grey {
        .sprite(@sprite-i-user-grey);
    }
    &_bell-grey {
        .sprite(@sprite-i-bell-grey);
    }
    &_cloud-primary {
        .sprite(@sprite-i-cloud-primary);
    }
    &_antivir {
        .sprite(@sprite-i-antivir);
    }
    &_doc {
        .sprite(@sprite-i-doc);
    }
    &_family {
        .sprite(@sprite-i-family);
    }
    &_i {
        .sprite(@sprite-i-i);
    }
    &_i-big {
        .sprite(@sprite-i-i-big);
    }
    &_ip {
        .sprite(@sprite-i-ip);
    }
    &_mobile-tv {
        .sprite(@sprite-i-mobile-tv);
    }
    &_music {
        .sprite(@sprite-i-music);
    }
    &_night {
        .sprite(@sprite-i-night);
    }
    &_roub-big {
        .sprite(@sprite-i-roub-big);
    }
    &_rub {
        .sprite(@sprite-i-rub);
    }
    &_speed {
        .sprite(@sprite-i-speed);
    }
    &_wallet-big {
        .sprite(@sprite-i-wallet-big);
    }
    &_sms-cloud {
        .sprite(@sprite-sms-cloud);
    }
    &_present {
        .sprite(@sprite-i-present);
    }
    &_card {
        .sprite(@sprite-i-card);
    }
    &_suvenir {
        .sprite(@sprite-i-suvenir);
    }
    &_discount {
        .sprite(@sprite-i-discount);
    }
    &_auction {
        .sprite(@sprite-i-auction);
    }
    &_question-dan{
        .sprite(@sprite-i-question-dan);
    }
    &_question-w{
        .sprite(@sprite-i-question-w);
    }
    &_mobi-war {
        .sprite(@sprite-i-mobi-war);
    }
    &_mobi-w {
        .sprite(@sprite-i-mobi-w);
    }
    &_glob-danger {
        .sprite(@sprite-i-glob-danger);
    }
    &_glob-w {
        .sprite(@sprite-i-glob-w);
    }
    &_suvenir-2-dan {
        .sprite(@sprite-i-suvenir-2-dan);
    }
    &_suvenir-2-w {
        .sprite(@sprite-i-suvenir-2-w);
    }
    &_tel-danger {
        .sprite(@sprite-i-tel-danger);
    }
    &_tel-w {
        .sprite(@sprite-i-tel-w);
    }
    &_desktop-danger {
        .sprite(@sprite-i-desktop-danger);
    }
    &_desktop-w {
        .sprite(@sprite-i-desktop-w);
    }
    &_heart {
        .sprite(@sprite-i-heart);
    }
    &_tel-grey {
        .sprite(@sprite-i-tel-grey);
    }
    &_discount-min {
        .sprite(@sprite-i-discount-min);
    }
    &_people {
        .sprite(@sprite-i-people);
    }
    &_people-one {
        .sprite(@sprite-i-people-one);
    }
    &_voices {
        .sprite(@sprite-i-voices);
    }
    &_ivr {
        .sprite(@sprite-i-ivr);
    }
    &_doc-write-big {
        .sprite(@sprite-i-doc-write-big);
    }
    &_speed-big {
        .sprite(@sprite-i-speed-big);
    }
    &_graph {
        .sprite(@sprite-i-graph);
    }
    &_graph-min {
        .sprite(@sprite-i-graph-min);
    }
    &_coins {
        .sprite(@sprite-i-coins);
    }
    &_wallet-mid {
        .sprite(@sprite-i-wallet-mid);
    }
    &_calendar-big {
        .sprite(@sprite-i-calendar-big);
    }
    &_smart-white {
        .sprite(@sprite-i-smart-white);
    }
    &_smart-primary {
        .sprite(@sprite-i-smart-primary);
    }
    &_card-lg-white {
        .sprite(@sprite-i-card-lg-white);
    }
    &_card-lg-primary {
        .sprite(@sprite-i-card-lg-primary);
    }
    &_file-big-primary {
        .sprite(@sprite-i-file-big-primary);
    }
    &_file-big-white {
        .sprite(@sprite-i-file-big-white);
    }
    &_bonus-present {
        .sprite(@sprite-i-bonus-present);
    }
    &_bonus-user {
        .sprite(@sprite-i-bonus-user);
    }
    &_cal {
        .sprite(@sprite-i-cal);
    }
    &_rocket {
        .sprite(@sprite-i-rocket);
    }
    &_vol {
        .sprite(@sprite-i-vol);
    }
    &_faq-wifi {
        .sprite(@sprite-i-faq-wifi);
    }
    &_faq-wifi-white {
        .sprite(@sprite-i-faq-wifi-white);
    }
    &_faq-video {
        .sprite(@sprite-i-faq-video);
    }
    &_faq-video-white {
        .sprite(@sprite-i-faq-video-white);
    }
    &_faq-sip {
        .sprite(@sprite-i-faq-sip);
    }
    &_faq-sip-white {
        .sprite(@sprite-i-faq-sip-white);
    }
    &_faq-phone {
        .sprite(@sprite-i-faq-phone);
    }
    &_faq-phone-white {
        .sprite(@sprite-i-faq-phone-white);
    }
    &_faq-tv {
        .sprite(@sprite-i-faq-tv);
    }
    &_faq-tv-white {
        .sprite(@sprite-i-faq-tv-white);
    }
}
a.i-remove, button.i-remove {
    font-size: 18px;
    color: @col-icon-def;
    &:hover {
        color: @col-danger;
    }
}
.bg-smart-gb {
    .sprite(@sprite-bg-smart-gb);
    // text-align: center;
    // font-size: 20px;
    // color: #b5b7bb;
    // line-height: 60px;
    // .font-regular;
}
.bg-smart-min {
    .sprite(@sprite-bg-smart-min);
}
.bg-smart-sms {
    .sprite(@sprite-bg-smart-sms);
}
.by-merge {
    .sprite(@sprite-by-merge);
}
