/*MAIN*/
.mainWrapper {
    margin:0 auto;
    min-height:100%;
    position:relative;
    text-align:left;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    &_bg {
        &:before {
            content:'';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: #000;
            opacity: 0.35;
        }
    }
}
/*//MAIN*/
.container-content {
    margin-left: auto;
    margin-top: auto;
    .clearfix;
    // max-width: @max-width;
    padding: 30px @padding-l-r;
    &__margin-minus {
        margin-left: -@padding-l-r;
        margin-right: -@padding-l-r;
        padding-left: @padding-l-r;
        padding-right: @padding-l-r;
        &_left {
            margin-right: 0;
        }
    }
    &__margin-minus-all {
        padding: 30px @padding-l-r;
        margin: -30px -@padding-l-r;
    }
}

#page-wrapper {
    overflow: auto;
    overflow-x: hidden;
    // margin-left: @navbar-width;
    height: 100%;
    .animated-css3(all);
}
.page-content {
    // overflow: auto;
    .new-context;
    &_block {
        display: block;
        overflow: hidden;
    }
}
.page-right {
    float: right;
    width: @width-col-right;
    position: relative;
    z-index: 2;
    margin-left: 15px;
    max-width: 100%;
}

.hr-separator {
    height: 1px;
    display: block;
    .clearfix;
    clear: both;
    margin: 40px auto;
    width: 25px;
    background: @col-danger;
}
@media only screen and (max-width:@breakpoint-xlarge) {
    .page-right {
        padding: @padding-t-b @padding-l-r;
        float: none;
        margin-left: 0;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
        .ban-wrap {
            
        }
    }
    .page-content {
        display: block;
    }
}
