.profile-avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 2px;
    background: #fff;
    border: 1px solid @col-border;
    display: inline-block;
    text-align: center;
    line-height: 90px;
}
.profile-avatar-min {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    &:first-child {
        margin-right: 3px;
    }
    img {
        border-radius: 50%;
    }
}
.profile-top-menu {
    .list-reset;
    padding: 0 20px;
    .uk-dropdown-bottom {
        margin-left: 15px;
    }
    .icon {
        margin-right: 2px;
        position: relative;
        vertical-align: middle;
        .uk-badge {
            position: absolute;
            right: -5px;
            top: -5px;
            font-size: 10px;
        }
        & + span {
            vertical-align: middle;
        }
    }
    &__item {
        .inblock(middle);
        margin: 0 10px;
        padding: 10px 0;
        & > a, & >span {
            display: block;
        }
        a {
            color: inherit !important;
            text-decoration: none !important;

        }
        &.uk-open {
            position: relative;
            // z-index: 5;
            &:before {
                content: '';
                position: absolute;
                border-bottom: 10px solid #fff;
                border-top: 10px solid transparent;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                left: 50%;
                margin-left: -10px;
                top: 100%;
                margin-top: -14px;
                z-index: 972;
            }
            &:after {
                content: '';
                position: absolute;
                border-bottom: 10px solid @col-border;
                border-top: 10px solid transparent;
                border-left: 11px solid transparent;
                border-right: 11px solid transparent;
                left: 50%;
                margin-left: -11px;
                top:100%;
                margin-top: -15px;
                z-index: 971;
            }
        }

    }
}


@media only screen and (max-width: 1300px) {
    .profile-top-menu {
        &__txt {
            display: none;
        }
    }
}

@media only screen and (max-width: @breakpoint-medium) {
    .profile-top-menu {
        .uk-dropdown {
            max-width: 200px;
            margin-left: auto;
        }
    }
}
