/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-bg-smart-gb-name: 'sprite-bg-smart-gb';
@sprite-bg-smart-gb-x: 38px;
@sprite-bg-smart-gb-y: 103px;
@sprite-bg-smart-gb-offset-x: -38px;
@sprite-bg-smart-gb-offset-y: -103px;
@sprite-bg-smart-gb-width: 38px;
@sprite-bg-smart-gb-height: 67px;
@sprite-bg-smart-gb-total-width: 294px;
@sprite-bg-smart-gb-total-height: 290px;
@sprite-bg-smart-gb-image: '/img/sprite.png';
@sprite-bg-smart-gb: 38px 103px -38px -103px 38px 67px 294px 290px '/img/sprite.png' 'sprite-bg-smart-gb';
@sprite-bg-smart-min-name: 'sprite-bg-smart-min';
@sprite-bg-smart-min-x: 114px;
@sprite-bg-smart-min-y: 103px;
@sprite-bg-smart-min-offset-x: -114px;
@sprite-bg-smart-min-offset-y: -103px;
@sprite-bg-smart-min-width: 38px;
@sprite-bg-smart-min-height: 66px;
@sprite-bg-smart-min-total-width: 294px;
@sprite-bg-smart-min-total-height: 290px;
@sprite-bg-smart-min-image: '/img/sprite.png';
@sprite-bg-smart-min: 114px 103px -114px -103px 38px 66px 294px 290px '/img/sprite.png' 'sprite-bg-smart-min';
@sprite-bg-smart-sms-name: 'sprite-bg-smart-sms';
@sprite-bg-smart-sms-x: 76px;
@sprite-bg-smart-sms-y: 103px;
@sprite-bg-smart-sms-offset-x: -76px;
@sprite-bg-smart-sms-offset-y: -103px;
@sprite-bg-smart-sms-width: 38px;
@sprite-bg-smart-sms-height: 67px;
@sprite-bg-smart-sms-total-width: 294px;
@sprite-bg-smart-sms-total-height: 290px;
@sprite-bg-smart-sms-image: '/img/sprite.png';
@sprite-bg-smart-sms: 76px 103px -76px -103px 38px 67px 294px 290px '/img/sprite.png' 'sprite-bg-smart-sms';
@sprite-bg-smart-name: 'sprite-bg-smart';
@sprite-bg-smart-x: 0px;
@sprite-bg-smart-y: 103px;
@sprite-bg-smart-offset-x: 0px;
@sprite-bg-smart-offset-y: -103px;
@sprite-bg-smart-width: 38px;
@sprite-bg-smart-height: 67px;
@sprite-bg-smart-total-width: 294px;
@sprite-bg-smart-total-height: 290px;
@sprite-bg-smart-image: '/img/sprite.png';
@sprite-bg-smart: 0px 103px 0px -103px 38px 67px 294px 290px '/img/sprite.png' 'sprite-bg-smart';
@sprite-by-merge-name: 'sprite-by-merge';
@sprite-by-merge-x: 226px;
@sprite-by-merge-y: 70px;
@sprite-by-merge-offset-x: -226px;
@sprite-by-merge-offset-y: -70px;
@sprite-by-merge-width: 25px;
@sprite-by-merge-height: 25px;
@sprite-by-merge-total-width: 294px;
@sprite-by-merge-total-height: 290px;
@sprite-by-merge-image: '/img/sprite.png';
@sprite-by-merge: 226px 70px -226px -70px 25px 25px 294px 290px '/img/sprite.png' 'sprite-by-merge';
@sprite-i-antivir-name: 'sprite-i-antivir';
@sprite-i-antivir-x: 279px;
@sprite-i-antivir-y: 72px;
@sprite-i-antivir-offset-x: -279px;
@sprite-i-antivir-offset-y: -72px;
@sprite-i-antivir-width: 15px;
@sprite-i-antivir-height: 20px;
@sprite-i-antivir-total-width: 294px;
@sprite-i-antivir-total-height: 290px;
@sprite-i-antivir-image: '/img/sprite.png';
@sprite-i-antivir: 279px 72px -279px -72px 15px 20px 294px 290px '/img/sprite.png' 'sprite-i-antivir';
@sprite-i-auction-name: 'sprite-i-auction';
@sprite-i-auction-x: 0px;
@sprite-i-auction-y: 0px;
@sprite-i-auction-offset-x: 0px;
@sprite-i-auction-offset-y: 0px;
@sprite-i-auction-width: 75px;
@sprite-i-auction-height: 50px;
@sprite-i-auction-total-width: 294px;
@sprite-i-auction-total-height: 290px;
@sprite-i-auction-image: '/img/sprite.png';
@sprite-i-auction: 0px 0px 0px 0px 75px 50px 294px 290px '/img/sprite.png' 'sprite-i-auction';
@sprite-i-bell-grey-name: 'sprite-i-bell-grey';
@sprite-i-bell-grey-x: 57px;
@sprite-i-bell-grey-y: 253px;
@sprite-i-bell-grey-offset-x: -57px;
@sprite-i-bell-grey-offset-y: -253px;
@sprite-i-bell-grey-width: 16px;
@sprite-i-bell-grey-height: 16px;
@sprite-i-bell-grey-total-width: 294px;
@sprite-i-bell-grey-total-height: 290px;
@sprite-i-bell-grey-image: '/img/sprite.png';
@sprite-i-bell-grey: 57px 253px -57px -253px 16px 16px 294px 290px '/img/sprite.png' 'sprite-i-bell-grey';
@sprite-i-bell-name: 'sprite-i-bell';
@sprite-i-bell-x: 240px;
@sprite-i-bell-y: 235px;
@sprite-i-bell-offset-x: -240px;
@sprite-i-bell-offset-y: -235px;
@sprite-i-bell-width: 16px;
@sprite-i-bell-height: 16px;
@sprite-i-bell-total-width: 294px;
@sprite-i-bell-total-height: 290px;
@sprite-i-bell-image: '/img/sprite.png';
@sprite-i-bell: 240px 235px -240px -235px 16px 16px 294px 290px '/img/sprite.png' 'sprite-i-bell';
@sprite-i-bonus-present-name: 'sprite-i-bonus-present';
@sprite-i-bonus-present-x: 251px;
@sprite-i-bonus-present-y: 80px;
@sprite-i-bonus-present-offset-x: -251px;
@sprite-i-bonus-present-offset-y: -80px;
@sprite-i-bonus-present-width: 22px;
@sprite-i-bonus-present-height: 22px;
@sprite-i-bonus-present-total-width: 294px;
@sprite-i-bonus-present-total-height: 290px;
@sprite-i-bonus-present-image: '/img/sprite.png';
@sprite-i-bonus-present: 251px 80px -251px -80px 22px 22px 294px 290px '/img/sprite.png' 'sprite-i-bonus-present';
@sprite-i-bonus-user-name: 'sprite-i-bonus-user';
@sprite-i-bonus-user-x: 251px;
@sprite-i-bonus-user-y: 58px;
@sprite-i-bonus-user-offset-x: -251px;
@sprite-i-bonus-user-offset-y: -58px;
@sprite-i-bonus-user-width: 22px;
@sprite-i-bonus-user-height: 22px;
@sprite-i-bonus-user-total-width: 294px;
@sprite-i-bonus-user-total-height: 290px;
@sprite-i-bonus-user-image: '/img/sprite.png';
@sprite-i-bonus-user: 251px 58px -251px -58px 22px 22px 294px 290px '/img/sprite.png' 'sprite-i-bonus-user';
@sprite-i-cabinet-name: 'sprite-i-cabinet';
@sprite-i-cabinet-x: 256px;
@sprite-i-cabinet-y: 235px;
@sprite-i-cabinet-offset-x: -256px;
@sprite-i-cabinet-offset-y: -235px;
@sprite-i-cabinet-width: 16px;
@sprite-i-cabinet-height: 16px;
@sprite-i-cabinet-total-width: 294px;
@sprite-i-cabinet-total-height: 290px;
@sprite-i-cabinet-image: '/img/sprite.png';
@sprite-i-cabinet: 256px 235px -256px -235px 16px 16px 294px 290px '/img/sprite.png' 'sprite-i-cabinet';
@sprite-i-cal-name: 'sprite-i-cal';
@sprite-i-cal-x: 251px;
@sprite-i-cal-y: 208px;
@sprite-i-cal-offset-x: -251px;
@sprite-i-cal-offset-y: -208px;
@sprite-i-cal-width: 22px;
@sprite-i-cal-height: 19px;
@sprite-i-cal-total-width: 294px;
@sprite-i-cal-total-height: 290px;
@sprite-i-cal-image: '/img/sprite.png';
@sprite-i-cal: 251px 208px -251px -208px 22px 19px 294px 290px '/img/sprite.png' 'sprite-i-cal';
@sprite-i-calendar-big-name: 'sprite-i-calendar-big';
@sprite-i-calendar-big-x: 150px;
@sprite-i-calendar-big-y: 204px;
@sprite-i-calendar-big-offset-x: -150px;
@sprite-i-calendar-big-offset-y: -204px;
@sprite-i-calendar-big-width: 26px;
@sprite-i-calendar-big-height: 26px;
@sprite-i-calendar-big-total-width: 294px;
@sprite-i-calendar-big-total-height: 290px;
@sprite-i-calendar-big-image: '/img/sprite.png';
@sprite-i-calendar-big: 150px 204px -150px -204px 26px 26px 294px 290px '/img/sprite.png' 'sprite-i-calendar-big';
@sprite-i-card-lg-primary-name: 'sprite-i-card-lg-primary';
@sprite-i-card-lg-primary-x: 180px;
@sprite-i-card-lg-primary-y: 56px;
@sprite-i-card-lg-primary-offset-x: -180px;
@sprite-i-card-lg-primary-offset-y: -56px;
@sprite-i-card-lg-primary-width: 46px;
@sprite-i-card-lg-primary-height: 28px;
@sprite-i-card-lg-primary-total-width: 294px;
@sprite-i-card-lg-primary-total-height: 290px;
@sprite-i-card-lg-primary-image: '/img/sprite.png';
@sprite-i-card-lg-primary: 180px 56px -180px -56px 46px 28px 294px 290px '/img/sprite.png' 'sprite-i-card-lg-primary';
@sprite-i-card-lg-wh-name: 'sprite-i-card-lg-wh';
@sprite-i-card-lg-wh-x: 180px;
@sprite-i-card-lg-wh-y: 84px;
@sprite-i-card-lg-wh-offset-x: -180px;
@sprite-i-card-lg-wh-offset-y: -84px;
@sprite-i-card-lg-wh-width: 46px;
@sprite-i-card-lg-wh-height: 28px;
@sprite-i-card-lg-wh-total-width: 294px;
@sprite-i-card-lg-wh-total-height: 290px;
@sprite-i-card-lg-wh-image: '/img/sprite.png';
@sprite-i-card-lg-wh: 180px 84px -180px -84px 46px 28px 294px 290px '/img/sprite.png' 'sprite-i-card-lg-wh';
@sprite-i-card-lg-white-name: 'sprite-i-card-lg-white';
@sprite-i-card-lg-white-x: 180px;
@sprite-i-card-lg-white-y: 28px;
@sprite-i-card-lg-white-offset-x: -180px;
@sprite-i-card-lg-white-offset-y: -28px;
@sprite-i-card-lg-white-width: 46px;
@sprite-i-card-lg-white-height: 28px;
@sprite-i-card-lg-white-total-width: 294px;
@sprite-i-card-lg-white-total-height: 290px;
@sprite-i-card-lg-white-image: '/img/sprite.png';
@sprite-i-card-lg-white: 180px 28px -180px -28px 46px 28px 294px 290px '/img/sprite.png' 'sprite-i-card-lg-white';
@sprite-i-card-lg-name: 'sprite-i-card-lg';
@sprite-i-card-lg-x: 180px;
@sprite-i-card-lg-y: 0px;
@sprite-i-card-lg-offset-x: -180px;
@sprite-i-card-lg-offset-y: 0px;
@sprite-i-card-lg-width: 46px;
@sprite-i-card-lg-height: 28px;
@sprite-i-card-lg-total-width: 294px;
@sprite-i-card-lg-total-height: 290px;
@sprite-i-card-lg-image: '/img/sprite.png';
@sprite-i-card-lg: 180px 0px -180px 0px 46px 28px 294px 290px '/img/sprite.png' 'sprite-i-card-lg';
@sprite-i-card-name: 'sprite-i-card';
@sprite-i-card-x: 169px;
@sprite-i-card-y: 170px;
@sprite-i-card-offset-x: -169px;
@sprite-i-card-offset-y: -170px;
@sprite-i-card-width: 38px;
@sprite-i-card-height: 23px;
@sprite-i-card-total-width: 294px;
@sprite-i-card-total-height: 290px;
@sprite-i-card-image: '/img/sprite.png';
@sprite-i-card: 169px 170px -169px -170px 38px 23px 294px 290px '/img/sprite.png' 'sprite-i-card';
@sprite-i-cloud-primary-name: 'sprite-i-cloud-primary';
@sprite-i-cloud-primary-x: 125px;
@sprite-i-cloud-primary-y: 0px;
@sprite-i-cloud-primary-offset-x: -125px;
@sprite-i-cloud-primary-offset-y: 0px;
@sprite-i-cloud-primary-width: 55px;
@sprite-i-cloud-primary-height: 47px;
@sprite-i-cloud-primary-total-width: 294px;
@sprite-i-cloud-primary-total-height: 290px;
@sprite-i-cloud-primary-image: '/img/sprite.png';
@sprite-i-cloud-primary: 125px 0px -125px 0px 55px 47px 294px 290px '/img/sprite.png' 'sprite-i-cloud-primary';
@sprite-i-coins-name: 'sprite-i-coins';
@sprite-i-coins-x: 21px;
@sprite-i-coins-y: 253px;
@sprite-i-coins-offset-x: -21px;
@sprite-i-coins-offset-y: -253px;
@sprite-i-coins-width: 20px;
@sprite-i-coins-height: 18px;
@sprite-i-coins-total-width: 294px;
@sprite-i-coins-total-height: 290px;
@sprite-i-coins-image: '/img/sprite.png';
@sprite-i-coins: 21px 253px -21px -253px 20px 18px 294px 290px '/img/sprite.png' 'sprite-i-coins';
@sprite-i-cut-lg-wh-name: 'sprite-i-cut-lg-wh';
@sprite-i-cut-lg-wh-x: 180px;
@sprite-i-cut-lg-wh-y: 112px;
@sprite-i-cut-lg-wh-offset-x: -180px;
@sprite-i-cut-lg-wh-offset-y: -112px;
@sprite-i-cut-lg-wh-width: 46px;
@sprite-i-cut-lg-wh-height: 27px;
@sprite-i-cut-lg-wh-total-width: 294px;
@sprite-i-cut-lg-wh-total-height: 290px;
@sprite-i-cut-lg-wh-image: '/img/sprite.png';
@sprite-i-cut-lg-wh: 180px 112px -180px -112px 46px 27px 294px 290px '/img/sprite.png' 'sprite-i-cut-lg-wh';
@sprite-i-cut-lg-name: 'sprite-i-cut-lg';
@sprite-i-cut-lg-x: 180px;
@sprite-i-cut-lg-y: 139px;
@sprite-i-cut-lg-offset-x: -180px;
@sprite-i-cut-lg-offset-y: -139px;
@sprite-i-cut-lg-width: 46px;
@sprite-i-cut-lg-height: 27px;
@sprite-i-cut-lg-total-width: 294px;
@sprite-i-cut-lg-total-height: 290px;
@sprite-i-cut-lg-image: '/img/sprite.png';
@sprite-i-cut-lg: 180px 139px -180px -139px 46px 27px 294px 290px '/img/sprite.png' 'sprite-i-cut-lg';
@sprite-i-desktop-danger-name: 'sprite-i-desktop-danger';
@sprite-i-desktop-danger-x: 251px;
@sprite-i-desktop-danger-y: 189px;
@sprite-i-desktop-danger-offset-x: -251px;
@sprite-i-desktop-danger-offset-y: -189px;
@sprite-i-desktop-danger-width: 23px;
@sprite-i-desktop-danger-height: 19px;
@sprite-i-desktop-danger-total-width: 294px;
@sprite-i-desktop-danger-total-height: 290px;
@sprite-i-desktop-danger-image: '/img/sprite.png';
@sprite-i-desktop-danger: 251px 189px -251px -189px 23px 19px 294px 290px '/img/sprite.png' 'sprite-i-desktop-danger';
@sprite-i-desktop-w-name: 'sprite-i-desktop-w';
@sprite-i-desktop-w-x: 251px;
@sprite-i-desktop-w-y: 170px;
@sprite-i-desktop-w-offset-x: -251px;
@sprite-i-desktop-w-offset-y: -170px;
@sprite-i-desktop-w-width: 23px;
@sprite-i-desktop-w-height: 19px;
@sprite-i-desktop-w-total-width: 294px;
@sprite-i-desktop-w-total-height: 290px;
@sprite-i-desktop-w-image: '/img/sprite.png';
@sprite-i-desktop-w: 251px 170px -251px -170px 23px 19px 294px 290px '/img/sprite.png' 'sprite-i-desktop-w';
@sprite-i-discount-min-name: 'sprite-i-discount-min';
@sprite-i-discount-min-x: 159px;
@sprite-i-discount-min-y: 69px;
@sprite-i-discount-min-offset-x: -159px;
@sprite-i-discount-min-offset-y: -69px;
@sprite-i-discount-min-width: 20px;
@sprite-i-discount-min-height: 20px;
@sprite-i-discount-min-total-width: 294px;
@sprite-i-discount-min-total-height: 290px;
@sprite-i-discount-min-image: '/img/sprite.png';
@sprite-i-discount-min: 159px 69px -159px -69px 20px 20px 294px 290px '/img/sprite.png' 'sprite-i-discount-min';
@sprite-i-discount-name: 'sprite-i-discount';
@sprite-i-discount-x: 0px;
@sprite-i-discount-y: 50px;
@sprite-i-discount-offset-x: 0px;
@sprite-i-discount-offset-y: -50px;
@sprite-i-discount-width: 53px;
@sprite-i-discount-height: 53px;
@sprite-i-discount-total-width: 294px;
@sprite-i-discount-total-height: 290px;
@sprite-i-discount-image: '/img/sprite.png';
@sprite-i-discount: 0px 50px 0px -50px 53px 53px 294px 290px '/img/sprite.png' 'sprite-i-discount';
@sprite-i-doc-write-big-name: 'sprite-i-doc-write-big';
@sprite-i-doc-write-big-x: 69px;
@sprite-i-doc-write-big-y: 170px;
@sprite-i-doc-write-big-offset-x: -69px;
@sprite-i-doc-write-big-offset-y: -170px;
@sprite-i-doc-write-big-width: 33px;
@sprite-i-doc-write-big-height: 34px;
@sprite-i-doc-write-big-total-width: 294px;
@sprite-i-doc-write-big-total-height: 290px;
@sprite-i-doc-write-big-image: '/img/sprite.png';
@sprite-i-doc-write-big: 69px 170px -69px -170px 33px 34px 294px 290px '/img/sprite.png' 'sprite-i-doc-write-big';
@sprite-i-doc-name: 'sprite-i-doc';
@sprite-i-doc-x: 279px;
@sprite-i-doc-y: 92px;
@sprite-i-doc-offset-x: -279px;
@sprite-i-doc-offset-y: -92px;
@sprite-i-doc-width: 15px;
@sprite-i-doc-height: 19px;
@sprite-i-doc-total-width: 294px;
@sprite-i-doc-total-height: 290px;
@sprite-i-doc-image: '/img/sprite.png';
@sprite-i-doc: 279px 92px -279px -92px 15px 19px 294px 290px '/img/sprite.png' 'sprite-i-doc';
@sprite-i-down-name: 'sprite-i-down';
@sprite-i-down-x: 53px;
@sprite-i-down-y: 68px;
@sprite-i-down-offset-x: -53px;
@sprite-i-down-offset-y: -68px;
@sprite-i-down-width: 20px;
@sprite-i-down-height: 19px;
@sprite-i-down-total-width: 294px;
@sprite-i-down-total-height: 290px;
@sprite-i-down-image: '/img/sprite.png';
@sprite-i-down: 53px 68px -53px -68px 20px 19px 294px 290px '/img/sprite.png' 'sprite-i-down';
@sprite-i-family-name: 'sprite-i-family';
@sprite-i-family-x: 159px;
@sprite-i-family-y: 47px;
@sprite-i-family-offset-x: -159px;
@sprite-i-family-offset-y: -47px;
@sprite-i-family-width: 19px;
@sprite-i-family-height: 22px;
@sprite-i-family-total-width: 294px;
@sprite-i-family-total-height: 290px;
@sprite-i-family-image: '/img/sprite.png';
@sprite-i-family: 159px 47px -159px -47px 19px 22px 294px 290px '/img/sprite.png' 'sprite-i-family';
@sprite-i-faq-phone-white-name: 'sprite-i-faq-phone-white';
@sprite-i-faq-phone-white-x: 0px;
@sprite-i-faq-phone-white-y: 235px;
@sprite-i-faq-phone-white-offset-x: 0px;
@sprite-i-faq-phone-white-offset-y: -235px;
@sprite-i-faq-phone-white-width: 29px;
@sprite-i-faq-phone-white-height: 18px;
@sprite-i-faq-phone-white-total-width: 294px;
@sprite-i-faq-phone-white-total-height: 290px;
@sprite-i-faq-phone-white-image: '/img/sprite.png';
@sprite-i-faq-phone-white: 0px 235px 0px -235px 29px 18px 294px 290px '/img/sprite.png' 'sprite-i-faq-phone-white';
@sprite-i-faq-phone-name: 'sprite-i-faq-phone';
@sprite-i-faq-phone-x: 29px;
@sprite-i-faq-phone-y: 235px;
@sprite-i-faq-phone-offset-x: -29px;
@sprite-i-faq-phone-offset-y: -235px;
@sprite-i-faq-phone-width: 29px;
@sprite-i-faq-phone-height: 18px;
@sprite-i-faq-phone-total-width: 294px;
@sprite-i-faq-phone-total-height: 290px;
@sprite-i-faq-phone-image: '/img/sprite.png';
@sprite-i-faq-phone: 29px 235px -29px -235px 29px 18px 294px 290px '/img/sprite.png' 'sprite-i-faq-phone';
@sprite-i-faq-sip-white-name: 'sprite-i-faq-sip-white';
@sprite-i-faq-sip-white-x: 176px;
@sprite-i-faq-sip-white-y: 204px;
@sprite-i-faq-sip-white-offset-x: -176px;
@sprite-i-faq-sip-white-offset-y: -204px;
@sprite-i-faq-sip-white-width: 23px;
@sprite-i-faq-sip-white-height: 25px;
@sprite-i-faq-sip-white-total-width: 294px;
@sprite-i-faq-sip-white-total-height: 290px;
@sprite-i-faq-sip-white-image: '/img/sprite.png';
@sprite-i-faq-sip-white: 176px 204px -176px -204px 23px 25px 294px 290px '/img/sprite.png' 'sprite-i-faq-sip-white';
@sprite-i-faq-sip-name: 'sprite-i-faq-sip';
@sprite-i-faq-sip-x: 226px;
@sprite-i-faq-sip-y: 170px;
@sprite-i-faq-sip-offset-x: -226px;
@sprite-i-faq-sip-offset-y: -170px;
@sprite-i-faq-sip-width: 23px;
@sprite-i-faq-sip-height: 25px;
@sprite-i-faq-sip-total-width: 294px;
@sprite-i-faq-sip-total-height: 290px;
@sprite-i-faq-sip-image: '/img/sprite.png';
@sprite-i-faq-sip: 226px 170px -226px -170px 23px 25px 294px 290px '/img/sprite.png' 'sprite-i-faq-sip';
@sprite-i-faq-tv-white-name: 'sprite-i-faq-tv-white';
@sprite-i-faq-tv-white-x: 251px;
@sprite-i-faq-tv-white-y: 39px;
@sprite-i-faq-tv-white-offset-x: -251px;
@sprite-i-faq-tv-white-offset-y: -39px;
@sprite-i-faq-tv-white-width: 27px;
@sprite-i-faq-tv-white-height: 19px;
@sprite-i-faq-tv-white-total-width: 294px;
@sprite-i-faq-tv-white-total-height: 290px;
@sprite-i-faq-tv-white-image: '/img/sprite.png';
@sprite-i-faq-tv-white: 251px 39px -251px -39px 27px 19px 294px 290px '/img/sprite.png' 'sprite-i-faq-tv-white';
@sprite-i-faq-tv-name: 'sprite-i-faq-tv';
@sprite-i-faq-tv-x: 251px;
@sprite-i-faq-tv-y: 20px;
@sprite-i-faq-tv-offset-x: -251px;
@sprite-i-faq-tv-offset-y: -20px;
@sprite-i-faq-tv-width: 27px;
@sprite-i-faq-tv-height: 19px;
@sprite-i-faq-tv-total-width: 294px;
@sprite-i-faq-tv-total-height: 290px;
@sprite-i-faq-tv-image: '/img/sprite.png';
@sprite-i-faq-tv: 251px 20px -251px -20px 27px 19px 294px 290px '/img/sprite.png' 'sprite-i-faq-tv';
@sprite-i-faq-video-white-name: 'sprite-i-faq-video-white';
@sprite-i-faq-video-white-x: 62px;
@sprite-i-faq-video-white-y: 204px;
@sprite-i-faq-video-white-offset-x: -62px;
@sprite-i-faq-video-white-offset-y: -204px;
@sprite-i-faq-video-white-width: 31px;
@sprite-i-faq-video-white-height: 31px;
@sprite-i-faq-video-white-total-width: 294px;
@sprite-i-faq-video-white-total-height: 290px;
@sprite-i-faq-video-white-image: '/img/sprite.png';
@sprite-i-faq-video-white: 62px 204px -62px -204px 31px 31px 294px 290px '/img/sprite.png' 'sprite-i-faq-video-white';
@sprite-i-faq-video-name: 'sprite-i-faq-video';
@sprite-i-faq-video-x: 31px;
@sprite-i-faq-video-y: 204px;
@sprite-i-faq-video-offset-x: -31px;
@sprite-i-faq-video-offset-y: -204px;
@sprite-i-faq-video-width: 31px;
@sprite-i-faq-video-height: 31px;
@sprite-i-faq-video-total-width: 294px;
@sprite-i-faq-video-total-height: 290px;
@sprite-i-faq-video-image: '/img/sprite.png';
@sprite-i-faq-video: 31px 204px -31px -204px 31px 31px 294px 290px '/img/sprite.png' 'sprite-i-faq-video';
@sprite-i-faq-wifi-white-name: 'sprite-i-faq-wifi-white';
@sprite-i-faq-wifi-white-x: 152px;
@sprite-i-faq-wifi-white-y: 148px;
@sprite-i-faq-wifi-white-offset-x: -152px;
@sprite-i-faq-wifi-white-offset-y: -148px;
@sprite-i-faq-wifi-white-width: 28px;
@sprite-i-faq-wifi-white-height: 20px;
@sprite-i-faq-wifi-white-total-width: 294px;
@sprite-i-faq-wifi-white-total-height: 290px;
@sprite-i-faq-wifi-white-image: '/img/sprite.png';
@sprite-i-faq-wifi-white: 152px 148px -152px -148px 28px 20px 294px 290px '/img/sprite.png' 'sprite-i-faq-wifi-white';
@sprite-i-faq-wifi-name: 'sprite-i-faq-wifi';
@sprite-i-faq-wifi-x: 251px;
@sprite-i-faq-wifi-y: 0px;
@sprite-i-faq-wifi-offset-x: -251px;
@sprite-i-faq-wifi-offset-y: 0px;
@sprite-i-faq-wifi-width: 28px;
@sprite-i-faq-wifi-height: 20px;
@sprite-i-faq-wifi-total-width: 294px;
@sprite-i-faq-wifi-total-height: 290px;
@sprite-i-faq-wifi-image: '/img/sprite.png';
@sprite-i-faq-wifi: 251px 0px -251px 0px 28px 20px 294px 290px '/img/sprite.png' 'sprite-i-faq-wifi';
@sprite-i-file-big-primary-name: 'sprite-i-file-big-primary';
@sprite-i-file-big-primary-x: 125px;
@sprite-i-file-big-primary-y: 47px;
@sprite-i-file-big-primary-offset-x: -125px;
@sprite-i-file-big-primary-offset-y: -47px;
@sprite-i-file-big-primary-width: 34px;
@sprite-i-file-big-primary-height: 45px;
@sprite-i-file-big-primary-total-width: 294px;
@sprite-i-file-big-primary-total-height: 290px;
@sprite-i-file-big-primary-image: '/img/sprite.png';
@sprite-i-file-big-primary: 125px 47px -125px -47px 34px 45px 294px 290px '/img/sprite.png' 'sprite-i-file-big-primary';
@sprite-i-file-big-white-name: 'sprite-i-file-big-white';
@sprite-i-file-big-white-x: 75px;
@sprite-i-file-big-white-y: 53px;
@sprite-i-file-big-white-offset-x: -75px;
@sprite-i-file-big-white-offset-y: -53px;
@sprite-i-file-big-white-width: 34px;
@sprite-i-file-big-white-height: 45px;
@sprite-i-file-big-white-total-width: 294px;
@sprite-i-file-big-white-total-height: 290px;
@sprite-i-file-big-white-image: '/img/sprite.png';
@sprite-i-file-big-white: 75px 53px -75px -53px 34px 45px 294px 290px '/img/sprite.png' 'sprite-i-file-big-white';
@sprite-i-for-b-name: 'sprite-i-for-b';
@sprite-i-for-b-x: 156px;
@sprite-i-for-b-y: 235px;
@sprite-i-for-b-offset-x: -156px;
@sprite-i-for-b-offset-y: -235px;
@sprite-i-for-b-width: 18px;
@sprite-i-for-b-height: 16px;
@sprite-i-for-b-total-width: 294px;
@sprite-i-for-b-total-height: 290px;
@sprite-i-for-b-image: '/img/sprite.png';
@sprite-i-for-b: 156px 235px -156px -235px 18px 16px 294px 290px '/img/sprite.png' 'sprite-i-for-b';
@sprite-i-for-h-name: 'sprite-i-for-h';
@sprite-i-for-h-x: 120px;
@sprite-i-for-h-y: 235px;
@sprite-i-for-h-offset-x: -120px;
@sprite-i-for-h-offset-y: -235px;
@sprite-i-for-h-width: 18px;
@sprite-i-for-h-height: 16px;
@sprite-i-for-h-total-width: 294px;
@sprite-i-for-h-total-height: 290px;
@sprite-i-for-h-image: '/img/sprite.png';
@sprite-i-for-h: 120px 235px -120px -235px 18px 16px 294px 290px '/img/sprite.png' 'sprite-i-for-h';
@sprite-i-glob-danger-name: 'sprite-i-glob-danger';
@sprite-i-glob-danger-x: 226px;
@sprite-i-glob-danger-y: 45px;
@sprite-i-glob-danger-offset-x: -226px;
@sprite-i-glob-danger-offset-y: -45px;
@sprite-i-glob-danger-width: 25px;
@sprite-i-glob-danger-height: 25px;
@sprite-i-glob-danger-total-width: 294px;
@sprite-i-glob-danger-total-height: 290px;
@sprite-i-glob-danger-image: '/img/sprite.png';
@sprite-i-glob-danger: 226px 45px -226px -45px 25px 25px 294px 290px '/img/sprite.png' 'sprite-i-glob-danger';
@sprite-i-glob-w-name: 'sprite-i-glob-w';
@sprite-i-glob-w-x: 226px;
@sprite-i-glob-w-y: 95px;
@sprite-i-glob-w-offset-x: -226px;
@sprite-i-glob-w-offset-y: -95px;
@sprite-i-glob-w-width: 25px;
@sprite-i-glob-w-height: 25px;
@sprite-i-glob-w-total-width: 294px;
@sprite-i-glob-w-total-height: 290px;
@sprite-i-glob-w-image: '/img/sprite.png';
@sprite-i-glob-w: 226px 95px -226px -95px 25px 25px 294px 290px '/img/sprite.png' 'sprite-i-glob-w';
@sprite-i-graph-min-name: 'sprite-i-graph-min';
@sprite-i-graph-min-x: 124px;
@sprite-i-graph-min-y: 204px;
@sprite-i-graph-min-offset-x: -124px;
@sprite-i-graph-min-offset-y: -204px;
@sprite-i-graph-min-width: 26px;
@sprite-i-graph-min-height: 26px;
@sprite-i-graph-min-total-width: 294px;
@sprite-i-graph-min-total-height: 290px;
@sprite-i-graph-min-image: '/img/sprite.png';
@sprite-i-graph-min: 124px 204px -124px -204px 26px 26px 294px 290px '/img/sprite.png' 'sprite-i-graph-min';
@sprite-i-graph-name: 'sprite-i-graph';
@sprite-i-graph-x: 35px;
@sprite-i-graph-y: 170px;
@sprite-i-graph-offset-x: -35px;
@sprite-i-graph-offset-y: -170px;
@sprite-i-graph-width: 34px;
@sprite-i-graph-height: 34px;
@sprite-i-graph-total-width: 294px;
@sprite-i-graph-total-height: 290px;
@sprite-i-graph-image: '/img/sprite.png';
@sprite-i-graph: 35px 170px -35px -170px 34px 34px 294px 290px '/img/sprite.png' 'sprite-i-graph';
@sprite-i-heart-name: 'sprite-i-heart';
@sprite-i-heart-x: 81px;
@sprite-i-heart-y: 235px;
@sprite-i-heart-offset-x: -81px;
@sprite-i-heart-offset-y: -235px;
@sprite-i-heart-width: 19px;
@sprite-i-heart-height: 17px;
@sprite-i-heart-total-width: 294px;
@sprite-i-heart-total-height: 290px;
@sprite-i-heart-image: '/img/sprite.png';
@sprite-i-heart: 81px 235px -81px -235px 19px 17px 294px 290px '/img/sprite.png' 'sprite-i-heart';
@sprite-i-i-big-name: 'sprite-i-i-big';
@sprite-i-i-big-x: 0px;
@sprite-i-i-big-y: 204px;
@sprite-i-i-big-offset-x: 0px;
@sprite-i-i-big-offset-y: -204px;
@sprite-i-i-big-width: 31px;
@sprite-i-i-big-height: 31px;
@sprite-i-i-big-total-width: 294px;
@sprite-i-i-big-total-height: 290px;
@sprite-i-i-big-image: '/img/sprite.png';
@sprite-i-i-big: 0px 204px 0px -204px 31px 31px 294px 290px '/img/sprite.png' 'sprite-i-i-big';
@sprite-i-i-name: 'sprite-i-i';
@sprite-i-i-x: 279px;
@sprite-i-i-y: 178px;
@sprite-i-i-offset-x: -279px;
@sprite-i-i-offset-y: -178px;
@sprite-i-i-width: 10px;
@sprite-i-i-height: 18px;
@sprite-i-i-total-width: 294px;
@sprite-i-i-total-height: 290px;
@sprite-i-i-image: '/img/sprite.png';
@sprite-i-i: 279px 178px -279px -178px 10px 18px 294px 290px '/img/sprite.png' 'sprite-i-i';
@sprite-i-ip-name: 'sprite-i-ip';
@sprite-i-ip-x: 279px;
@sprite-i-ip-y: 50px;
@sprite-i-ip-offset-x: -279px;
@sprite-i-ip-offset-y: -50px;
@sprite-i-ip-width: 14px;
@sprite-i-ip-height: 22px;
@sprite-i-ip-total-width: 294px;
@sprite-i-ip-total-height: 290px;
@sprite-i-ip-image: '/img/sprite.png';
@sprite-i-ip: 279px 50px -279px -50px 14px 22px 294px 290px '/img/sprite.png' 'sprite-i-ip';
@sprite-i-ivr-name: 'sprite-i-ivr';
@sprite-i-ivr-x: 58px;
@sprite-i-ivr-y: 235px;
@sprite-i-ivr-offset-x: -58px;
@sprite-i-ivr-offset-y: -235px;
@sprite-i-ivr-width: 23px;
@sprite-i-ivr-height: 17px;
@sprite-i-ivr-total-width: 294px;
@sprite-i-ivr-total-height: 290px;
@sprite-i-ivr-image: '/img/sprite.png';
@sprite-i-ivr: 58px 235px -58px -235px 23px 17px 294px 290px '/img/sprite.png' 'sprite-i-ivr';
@sprite-i-mobi-w-name: 'sprite-i-mobi-w';
@sprite-i-mobi-w-x: 279px;
@sprite-i-mobi-w-y: 0px;
@sprite-i-mobi-w-offset-x: -279px;
@sprite-i-mobi-w-offset-y: 0px;
@sprite-i-mobi-w-width: 15px;
@sprite-i-mobi-w-height: 25px;
@sprite-i-mobi-w-total-width: 294px;
@sprite-i-mobi-w-total-height: 290px;
@sprite-i-mobi-w-image: '/img/sprite.png';
@sprite-i-mobi-w: 279px 0px -279px 0px 15px 25px 294px 290px '/img/sprite.png' 'sprite-i-mobi-w';
@sprite-i-mobi-war-name: 'sprite-i-mobi-war';
@sprite-i-mobi-war-x: 109px;
@sprite-i-mobi-war-y: 53px;
@sprite-i-mobi-war-offset-x: -109px;
@sprite-i-mobi-war-offset-y: -53px;
@sprite-i-mobi-war-width: 15px;
@sprite-i-mobi-war-height: 25px;
@sprite-i-mobi-war-total-width: 294px;
@sprite-i-mobi-war-total-height: 290px;
@sprite-i-mobi-war-image: '/img/sprite.png';
@sprite-i-mobi-war: 109px 53px -109px -53px 15px 25px 294px 290px '/img/sprite.png' 'sprite-i-mobi-war';
@sprite-i-mobile-tv-name: 'sprite-i-mobile-tv';
@sprite-i-mobile-tv-x: 279px;
@sprite-i-mobile-tv-y: 25px;
@sprite-i-mobile-tv-offset-x: -279px;
@sprite-i-mobile-tv-offset-y: -25px;
@sprite-i-mobile-tv-width: 14px;
@sprite-i-mobile-tv-height: 25px;
@sprite-i-mobile-tv-total-width: 294px;
@sprite-i-mobile-tv-total-height: 290px;
@sprite-i-mobile-tv-image: '/img/sprite.png';
@sprite-i-mobile-tv: 279px 25px -279px -25px 14px 25px 294px 290px '/img/sprite.png' 'sprite-i-mobile-tv';
@sprite-i-music-name: 'sprite-i-music';
@sprite-i-music-x: 109px;
@sprite-i-music-y: 78px;
@sprite-i-music-offset-x: -109px;
@sprite-i-music-offset-y: -78px;
@sprite-i-music-width: 16px;
@sprite-i-music-height: 19px;
@sprite-i-music-total-width: 294px;
@sprite-i-music-total-height: 290px;
@sprite-i-music-image: '/img/sprite.png';
@sprite-i-music: 109px 78px -109px -78px 16px 19px 294px 290px '/img/sprite.png' 'sprite-i-music';
@sprite-i-night-name: 'sprite-i-night';
@sprite-i-night-x: 53px;
@sprite-i-night-y: 87px;
@sprite-i-night-offset-x: -53px;
@sprite-i-night-offset-y: -87px;
@sprite-i-night-width: 21px;
@sprite-i-night-height: 16px;
@sprite-i-night-total-width: 294px;
@sprite-i-night-total-height: 290px;
@sprite-i-night-image: '/img/sprite.png';
@sprite-i-night: 53px 87px -53px -87px 21px 16px 294px 290px '/img/sprite.png' 'sprite-i-night';
@sprite-i-partner-name: 'sprite-i-partner';
@sprite-i-partner-x: 100px;
@sprite-i-partner-y: 235px;
@sprite-i-partner-offset-x: -100px;
@sprite-i-partner-offset-y: -235px;
@sprite-i-partner-width: 20px;
@sprite-i-partner-height: 16px;
@sprite-i-partner-total-width: 294px;
@sprite-i-partner-total-height: 290px;
@sprite-i-partner-image: '/img/sprite.png';
@sprite-i-partner: 100px 235px -100px -235px 20px 16px 294px 290px '/img/sprite.png' 'sprite-i-partner';
@sprite-i-people-one-name: 'sprite-i-people-one';
@sprite-i-people-one-x: 41px;
@sprite-i-people-one-y: 253px;
@sprite-i-people-one-offset-x: -41px;
@sprite-i-people-one-offset-y: -253px;
@sprite-i-people-one-width: 16px;
@sprite-i-people-one-height: 18px;
@sprite-i-people-one-total-width: 294px;
@sprite-i-people-one-total-height: 290px;
@sprite-i-people-one-image: '/img/sprite.png';
@sprite-i-people-one: 41px 253px -41px -253px 16px 18px 294px 290px '/img/sprite.png' 'sprite-i-people-one';
@sprite-i-people-name: 'sprite-i-people';
@sprite-i-people-x: 0px;
@sprite-i-people-y: 253px;
@sprite-i-people-offset-x: 0px;
@sprite-i-people-offset-y: -253px;
@sprite-i-people-width: 21px;
@sprite-i-people-height: 18px;
@sprite-i-people-total-width: 294px;
@sprite-i-people-total-height: 290px;
@sprite-i-people-image: '/img/sprite.png';
@sprite-i-people: 0px 253px 0px -253px 21px 18px 294px 290px '/img/sprite.png' 'sprite-i-people';
@sprite-i-present-name: 'sprite-i-present';
@sprite-i-present-x: 192px;
@sprite-i-present-y: 235px;
@sprite-i-present-offset-x: -192px;
@sprite-i-present-offset-y: -235px;
@sprite-i-present-width: 16px;
@sprite-i-present-height: 16px;
@sprite-i-present-total-width: 294px;
@sprite-i-present-total-height: 290px;
@sprite-i-present-image: '/img/sprite.png';
@sprite-i-present: 192px 235px -192px -235px 16px 16px 294px 290px '/img/sprite.png' 'sprite-i-present';
@sprite-i-question-dan-name: 'sprite-i-question-dan';
@sprite-i-question-dan-x: 279px;
@sprite-i-question-dan-y: 144px;
@sprite-i-question-dan-offset-x: -279px;
@sprite-i-question-dan-offset-y: -144px;
@sprite-i-question-dan-width: 11px;
@sprite-i-question-dan-height: 17px;
@sprite-i-question-dan-total-width: 294px;
@sprite-i-question-dan-total-height: 290px;
@sprite-i-question-dan-image: '/img/sprite.png';
@sprite-i-question-dan: 279px 144px -279px -144px 11px 17px 294px 290px '/img/sprite.png' 'sprite-i-question-dan';
@sprite-i-question-w-name: 'sprite-i-question-w';
@sprite-i-question-w-x: 279px;
@sprite-i-question-w-y: 161px;
@sprite-i-question-w-offset-x: -279px;
@sprite-i-question-w-offset-y: -161px;
@sprite-i-question-w-width: 11px;
@sprite-i-question-w-height: 17px;
@sprite-i-question-w-total-width: 294px;
@sprite-i-question-w-total-height: 290px;
@sprite-i-question-w-image: '/img/sprite.png';
@sprite-i-question-w: 279px 161px -279px -161px 11px 17px 294px 290px '/img/sprite.png' 'sprite-i-question-w';
@sprite-i-rocket-name: 'sprite-i-rocket';
@sprite-i-rocket-x: 207px;
@sprite-i-rocket-y: 170px;
@sprite-i-rocket-offset-x: -207px;
@sprite-i-rocket-offset-y: -170px;
@sprite-i-rocket-width: 17px;
@sprite-i-rocket-height: 22px;
@sprite-i-rocket-total-width: 294px;
@sprite-i-rocket-total-height: 290px;
@sprite-i-rocket-image: '/img/sprite.png';
@sprite-i-rocket: 207px 170px -207px -170px 17px 22px 294px 290px '/img/sprite.png' 'sprite-i-rocket';
@sprite-i-roub-big-name: 'sprite-i-roub-big';
@sprite-i-roub-big-x: 0px;
@sprite-i-roub-big-y: 170px;
@sprite-i-roub-big-offset-x: 0px;
@sprite-i-roub-big-offset-y: -170px;
@sprite-i-roub-big-width: 35px;
@sprite-i-roub-big-height: 34px;
@sprite-i-roub-big-total-width: 294px;
@sprite-i-roub-big-total-height: 290px;
@sprite-i-roub-big-image: '/img/sprite.png';
@sprite-i-roub-big: 0px 170px 0px -170px 35px 34px 294px 290px '/img/sprite.png' 'sprite-i-roub-big';
@sprite-i-rub-name: 'sprite-i-rub';
@sprite-i-rub-x: 279px;
@sprite-i-rub-y: 127px;
@sprite-i-rub-offset-x: -279px;
@sprite-i-rub-offset-y: -127px;
@sprite-i-rub-width: 12px;
@sprite-i-rub-height: 17px;
@sprite-i-rub-total-width: 294px;
@sprite-i-rub-total-height: 290px;
@sprite-i-rub-image: '/img/sprite.png';
@sprite-i-rub: 279px 127px -279px -127px 12px 17px 294px 290px '/img/sprite.png' 'sprite-i-rub';
@sprite-i-smart-primary-name: 'sprite-i-smart-primary';
@sprite-i-smart-primary-x: 152px;
@sprite-i-smart-primary-y: 103px;
@sprite-i-smart-primary-offset-x: -152px;
@sprite-i-smart-primary-offset-y: -103px;
@sprite-i-smart-primary-width: 25px;
@sprite-i-smart-primary-height: 45px;
@sprite-i-smart-primary-total-width: 294px;
@sprite-i-smart-primary-total-height: 290px;
@sprite-i-smart-primary-image: '/img/sprite.png';
@sprite-i-smart-primary: 152px 103px -152px -103px 25px 45px 294px 290px '/img/sprite.png' 'sprite-i-smart-primary';
@sprite-i-smart-white-name: 'sprite-i-smart-white';
@sprite-i-smart-white-x: 226px;
@sprite-i-smart-white-y: 0px;
@sprite-i-smart-white-offset-x: -226px;
@sprite-i-smart-white-offset-y: 0px;
@sprite-i-smart-white-width: 25px;
@sprite-i-smart-white-height: 45px;
@sprite-i-smart-white-total-width: 294px;
@sprite-i-smart-white-total-height: 290px;
@sprite-i-smart-white-image: '/img/sprite.png';
@sprite-i-smart-white: 226px 0px -226px 0px 25px 45px 294px 290px '/img/sprite.png' 'sprite-i-smart-white';
@sprite-i-speed-big-name: 'sprite-i-speed-big';
@sprite-i-speed-big-x: 93px;
@sprite-i-speed-big-y: 204px;
@sprite-i-speed-big-offset-x: -93px;
@sprite-i-speed-big-offset-y: -204px;
@sprite-i-speed-big-width: 31px;
@sprite-i-speed-big-height: 31px;
@sprite-i-speed-big-total-width: 294px;
@sprite-i-speed-big-total-height: 290px;
@sprite-i-speed-big-image: '/img/sprite.png';
@sprite-i-speed-big: 93px 204px -93px -204px 31px 31px 294px 290px '/img/sprite.png' 'sprite-i-speed-big';
@sprite-i-speed-name: 'sprite-i-speed';
@sprite-i-speed-x: 0px;
@sprite-i-speed-y: 271px;
@sprite-i-speed-offset-x: 0px;
@sprite-i-speed-offset-y: -271px;
@sprite-i-speed-width: 19px;
@sprite-i-speed-height: 19px;
@sprite-i-speed-total-width: 294px;
@sprite-i-speed-total-height: 290px;
@sprite-i-speed-image: '/img/sprite.png';
@sprite-i-speed: 0px 271px 0px -271px 19px 19px 294px 290px '/img/sprite.png' 'sprite-i-speed';
@sprite-i-suvenir-2-dan-name: 'sprite-i-suvenir-2-dan';
@sprite-i-suvenir-2-dan-x: 226px;
@sprite-i-suvenir-2-dan-y: 145px;
@sprite-i-suvenir-2-dan-offset-x: -226px;
@sprite-i-suvenir-2-dan-offset-y: -145px;
@sprite-i-suvenir-2-dan-width: 24px;
@sprite-i-suvenir-2-dan-height: 25px;
@sprite-i-suvenir-2-dan-total-width: 294px;
@sprite-i-suvenir-2-dan-total-height: 290px;
@sprite-i-suvenir-2-dan-image: '/img/sprite.png';
@sprite-i-suvenir-2-dan: 226px 145px -226px -145px 24px 25px 294px 290px '/img/sprite.png' 'sprite-i-suvenir-2-dan';
@sprite-i-suvenir-2-w-name: 'sprite-i-suvenir-2-w';
@sprite-i-suvenir-2-w-x: 226px;
@sprite-i-suvenir-2-w-y: 120px;
@sprite-i-suvenir-2-w-offset-x: -226px;
@sprite-i-suvenir-2-w-offset-y: -120px;
@sprite-i-suvenir-2-w-width: 24px;
@sprite-i-suvenir-2-w-height: 25px;
@sprite-i-suvenir-2-w-total-width: 294px;
@sprite-i-suvenir-2-w-total-height: 290px;
@sprite-i-suvenir-2-w-image: '/img/sprite.png';
@sprite-i-suvenir-2-w: 226px 120px -226px -120px 24px 25px 294px 290px '/img/sprite.png' 'sprite-i-suvenir-2-w';
@sprite-i-suvenir-name: 'sprite-i-suvenir';
@sprite-i-suvenir-x: 75px;
@sprite-i-suvenir-y: 0px;
@sprite-i-suvenir-offset-x: -75px;
@sprite-i-suvenir-offset-y: 0px;
@sprite-i-suvenir-width: 50px;
@sprite-i-suvenir-height: 53px;
@sprite-i-suvenir-total-width: 294px;
@sprite-i-suvenir-total-height: 290px;
@sprite-i-suvenir-image: '/img/sprite.png';
@sprite-i-suvenir: 75px 0px -75px 0px 50px 53px 294px 290px '/img/sprite.png' 'sprite-i-suvenir';
@sprite-i-tel-danger-name: 'sprite-i-tel-danger';
@sprite-i-tel-danger-x: 251px;
@sprite-i-tel-danger-y: 124px;
@sprite-i-tel-danger-offset-x: -251px;
@sprite-i-tel-danger-offset-y: -124px;
@sprite-i-tel-danger-width: 22px;
@sprite-i-tel-danger-height: 22px;
@sprite-i-tel-danger-total-width: 294px;
@sprite-i-tel-danger-total-height: 290px;
@sprite-i-tel-danger-image: '/img/sprite.png';
@sprite-i-tel-danger: 251px 124px -251px -124px 22px 22px 294px 290px '/img/sprite.png' 'sprite-i-tel-danger';
@sprite-i-tel-grey-name: 'sprite-i-tel-grey';
@sprite-i-tel-grey-x: 19px;
@sprite-i-tel-grey-y: 271px;
@sprite-i-tel-grey-offset-x: -19px;
@sprite-i-tel-grey-offset-y: -271px;
@sprite-i-tel-grey-width: 19px;
@sprite-i-tel-grey-height: 19px;
@sprite-i-tel-grey-total-width: 294px;
@sprite-i-tel-grey-total-height: 290px;
@sprite-i-tel-grey-image: '/img/sprite.png';
@sprite-i-tel-grey: 19px 271px -19px -271px 19px 19px 294px 290px '/img/sprite.png' 'sprite-i-tel-grey';
@sprite-i-tel-w-name: 'sprite-i-tel-w';
@sprite-i-tel-w-x: 251px;
@sprite-i-tel-w-y: 102px;
@sprite-i-tel-w-offset-x: -251px;
@sprite-i-tel-w-offset-y: -102px;
@sprite-i-tel-w-width: 22px;
@sprite-i-tel-w-height: 22px;
@sprite-i-tel-w-total-width: 294px;
@sprite-i-tel-w-total-height: 290px;
@sprite-i-tel-w-image: '/img/sprite.png';
@sprite-i-tel-w: 251px 102px -251px -102px 22px 22px 294px 290px '/img/sprite.png' 'sprite-i-tel-w';
@sprite-i-tv-name: 'sprite-i-tv';
@sprite-i-tv-x: 251px;
@sprite-i-tv-y: 146px;
@sprite-i-tv-offset-x: -251px;
@sprite-i-tv-offset-y: -146px;
@sprite-i-tv-width: 20px;
@sprite-i-tv-height: 24px;
@sprite-i-tv-total-width: 294px;
@sprite-i-tv-total-height: 290px;
@sprite-i-tv-image: '/img/sprite.png';
@sprite-i-tv: 251px 146px -251px -146px 20px 24px 294px 290px '/img/sprite.png' 'sprite-i-tv';
@sprite-i-user-grey-name: 'sprite-i-user-grey';
@sprite-i-user-grey-x: 208px;
@sprite-i-user-grey-y: 235px;
@sprite-i-user-grey-offset-x: -208px;
@sprite-i-user-grey-offset-y: -235px;
@sprite-i-user-grey-width: 16px;
@sprite-i-user-grey-height: 16px;
@sprite-i-user-grey-total-width: 294px;
@sprite-i-user-grey-total-height: 290px;
@sprite-i-user-grey-image: '/img/sprite.png';
@sprite-i-user-grey: 208px 235px -208px -235px 16px 16px 294px 290px '/img/sprite.png' 'sprite-i-user-grey';
@sprite-i-user-name: 'sprite-i-user';
@sprite-i-user-x: 224px;
@sprite-i-user-y: 235px;
@sprite-i-user-offset-x: -224px;
@sprite-i-user-offset-y: -235px;
@sprite-i-user-width: 16px;
@sprite-i-user-height: 16px;
@sprite-i-user-total-width: 294px;
@sprite-i-user-total-height: 290px;
@sprite-i-user-image: '/img/sprite.png';
@sprite-i-user: 224px 235px -224px -235px 16px 16px 294px 290px '/img/sprite.png' 'sprite-i-user';
@sprite-i-voices-name: 'sprite-i-voices';
@sprite-i-voices-x: 225px;
@sprite-i-voices-y: 204px;
@sprite-i-voices-offset-x: -225px;
@sprite-i-voices-offset-y: -204px;
@sprite-i-voices-width: 23px;
@sprite-i-voices-height: 18px;
@sprite-i-voices-total-width: 294px;
@sprite-i-voices-total-height: 290px;
@sprite-i-voices-image: '/img/sprite.png';
@sprite-i-voices: 225px 204px -225px -204px 23px 18px 294px 290px '/img/sprite.png' 'sprite-i-voices';
@sprite-i-vol-name: 'sprite-i-vol';
@sprite-i-vol-x: 53px;
@sprite-i-vol-y: 50px;
@sprite-i-vol-offset-x: -53px;
@sprite-i-vol-offset-y: -50px;
@sprite-i-vol-width: 22px;
@sprite-i-vol-height: 18px;
@sprite-i-vol-total-width: 294px;
@sprite-i-vol-total-height: 290px;
@sprite-i-vol-image: '/img/sprite.png';
@sprite-i-vol: 53px 50px -53px -50px 22px 18px 294px 290px '/img/sprite.png' 'sprite-i-vol';
@sprite-i-wallet-big-name: 'sprite-i-wallet-big';
@sprite-i-wallet-big-x: 102px;
@sprite-i-wallet-big-y: 170px;
@sprite-i-wallet-big-offset-x: -102px;
@sprite-i-wallet-big-offset-y: -170px;
@sprite-i-wallet-big-width: 33px;
@sprite-i-wallet-big-height: 30px;
@sprite-i-wallet-big-total-width: 294px;
@sprite-i-wallet-big-total-height: 290px;
@sprite-i-wallet-big-image: '/img/sprite.png';
@sprite-i-wallet-big: 102px 170px -102px -170px 33px 30px 294px 290px '/img/sprite.png' 'sprite-i-wallet-big';
@sprite-i-wallet-grey-name: 'sprite-i-wallet-grey';
@sprite-i-wallet-grey-x: 174px;
@sprite-i-wallet-grey-y: 235px;
@sprite-i-wallet-grey-offset-x: -174px;
@sprite-i-wallet-grey-offset-y: -235px;
@sprite-i-wallet-grey-width: 18px;
@sprite-i-wallet-grey-height: 16px;
@sprite-i-wallet-grey-total-width: 294px;
@sprite-i-wallet-grey-total-height: 290px;
@sprite-i-wallet-grey-image: '/img/sprite.png';
@sprite-i-wallet-grey: 174px 235px -174px -235px 18px 16px 294px 290px '/img/sprite.png' 'sprite-i-wallet-grey';
@sprite-i-wallet-mid-name: 'sprite-i-wallet-mid';
@sprite-i-wallet-mid-x: 199px;
@sprite-i-wallet-mid-y: 204px;
@sprite-i-wallet-mid-offset-x: -199px;
@sprite-i-wallet-mid-offset-y: -204px;
@sprite-i-wallet-mid-width: 26px;
@sprite-i-wallet-mid-height: 22px;
@sprite-i-wallet-mid-total-width: 294px;
@sprite-i-wallet-mid-total-height: 290px;
@sprite-i-wallet-mid-image: '/img/sprite.png';
@sprite-i-wallet-mid: 199px 204px -199px -204px 26px 22px 294px 290px '/img/sprite.png' 'sprite-i-wallet-mid';
@sprite-i-wallet-name: 'sprite-i-wallet';
@sprite-i-wallet-x: 138px;
@sprite-i-wallet-y: 235px;
@sprite-i-wallet-offset-x: -138px;
@sprite-i-wallet-offset-y: -235px;
@sprite-i-wallet-width: 18px;
@sprite-i-wallet-height: 16px;
@sprite-i-wallet-total-width: 294px;
@sprite-i-wallet-total-height: 290px;
@sprite-i-wallet-image: '/img/sprite.png';
@sprite-i-wallet: 138px 235px -138px -235px 18px 16px 294px 290px '/img/sprite.png' 'sprite-i-wallet';
@sprite-logo-min-name: 'sprite-logo-min';
@sprite-logo-min-x: 279px;
@sprite-logo-min-y: 111px;
@sprite-logo-min-offset-x: -279px;
@sprite-logo-min-offset-y: -111px;
@sprite-logo-min-width: 15px;
@sprite-logo-min-height: 16px;
@sprite-logo-min-total-width: 294px;
@sprite-logo-min-total-height: 290px;
@sprite-logo-min-image: '/img/sprite.png';
@sprite-logo-min: 279px 111px -279px -111px 15px 16px 294px 290px '/img/sprite.png' 'sprite-logo-min';
@sprite-sms-cloud-name: 'sprite-sms-cloud';
@sprite-sms-cloud-x: 135px;
@sprite-sms-cloud-y: 170px;
@sprite-sms-cloud-offset-x: -135px;
@sprite-sms-cloud-offset-y: -170px;
@sprite-sms-cloud-width: 34px;
@sprite-sms-cloud-height: 26px;
@sprite-sms-cloud-total-width: 294px;
@sprite-sms-cloud-total-height: 290px;
@sprite-sms-cloud-image: '/img/sprite.png';
@sprite-sms-cloud: 135px 170px -135px -170px 34px 26px 294px 290px '/img/sprite.png' 'sprite-sms-cloud';
@spritesheet-width: 294px;
@spritesheet-height: 290px;
@spritesheet-image: '/img/sprite.png';
@spritesheet-sprites: @sprite-bg-smart-gb @sprite-bg-smart-min @sprite-bg-smart-sms @sprite-bg-smart @sprite-by-merge @sprite-i-antivir @sprite-i-auction @sprite-i-bell-grey @sprite-i-bell @sprite-i-bonus-present @sprite-i-bonus-user @sprite-i-cabinet @sprite-i-cal @sprite-i-calendar-big @sprite-i-card-lg-primary @sprite-i-card-lg-wh @sprite-i-card-lg-white @sprite-i-card-lg @sprite-i-card @sprite-i-cloud-primary @sprite-i-coins @sprite-i-cut-lg-wh @sprite-i-cut-lg @sprite-i-desktop-danger @sprite-i-desktop-w @sprite-i-discount-min @sprite-i-discount @sprite-i-doc-write-big @sprite-i-doc @sprite-i-down @sprite-i-family @sprite-i-faq-phone-white @sprite-i-faq-phone @sprite-i-faq-sip-white @sprite-i-faq-sip @sprite-i-faq-tv-white @sprite-i-faq-tv @sprite-i-faq-video-white @sprite-i-faq-video @sprite-i-faq-wifi-white @sprite-i-faq-wifi @sprite-i-file-big-primary @sprite-i-file-big-white @sprite-i-for-b @sprite-i-for-h @sprite-i-glob-danger @sprite-i-glob-w @sprite-i-graph-min @sprite-i-graph @sprite-i-heart @sprite-i-i-big @sprite-i-i @sprite-i-ip @sprite-i-ivr @sprite-i-mobi-w @sprite-i-mobi-war @sprite-i-mobile-tv @sprite-i-music @sprite-i-night @sprite-i-partner @sprite-i-people-one @sprite-i-people @sprite-i-present @sprite-i-question-dan @sprite-i-question-w @sprite-i-rocket @sprite-i-roub-big @sprite-i-rub @sprite-i-smart-primary @sprite-i-smart-white @sprite-i-speed-big @sprite-i-speed @sprite-i-suvenir-2-dan @sprite-i-suvenir-2-w @sprite-i-suvenir @sprite-i-tel-danger @sprite-i-tel-grey @sprite-i-tel-w @sprite-i-tv @sprite-i-user-grey @sprite-i-user @sprite-i-voices @sprite-i-vol @sprite-i-wallet-big @sprite-i-wallet-grey @sprite-i-wallet-mid @sprite-i-wallet @sprite-logo-min @sprite-sms-cloud;
@spritesheet: 294px 290px '/img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
