// LAYOUT
@max-width: 1170px; // Максимальная ширина контента сайта
@navbar-width: 295px; // Ширина левой колонки
@navbar-width-mini: 68px;
@width-col-right: 275px; // Ширина правой колонки
@footer-height: 100px; // Высота футера

@padding-l-r: 20px;
@padding-t-b: 10px;
//PATH
@img: "../img/";// Путь к картинкам фона
@font: "../fonts/";// Путь к шрифтам фона

//COLOR FOR SITE
@col-border: #e6eaef;
@col-primary: #0f6dae;
@col-default: #292929;
@col-warning: #f38034;
@col-danger: #d62631;
@col-disabled: #bdc1c7;

@col-icon-def: #9b9ea3;
//COLOR FOR FONTS
@col-font-default: #282828;
@col-font-disabled: #292929;

//COLOR BG
@col-bg-disabled: #e6eaef;
@col-bg-primary: #e7f5ff;
@col-bg-blue: #428fc5;
@col-bg-dark: #4c5666;
@col-bg-dark: #063454;
@col-bg-default: #f8f9fd;
@col-bg-warning: #fff2e9;
@col-bg-danger: #fef7f7;
//FONT
@font-size: 13px;
@line-height: 1.3;
