<div class="h5">Новый тарифный план</div>

<div class="uk-margin">
    <div class="tariff-new">
        <div class="tariff-curr-tbl tariff-curr-tbl_danger uk-grid uk-grid-collapse uk-grid-width-large-1-3 uk-grid-width-small-1-1">
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_doc-write-big uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Текущий тариф:
                        <div class="h5">Всё включено</div>
                    </div>
                </div>
            </div>
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_i-big uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Информация о тарифе
                        <div class="">
                            <b class="">Каждый веб-разработчик знает, что такое текст-"рыба".</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_wallet-mid uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Абонентская плата:
                        <div class="h5">600 руб/мес</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tariff-curr-pricing">
            <div class="tariff-curr-pricing__head uk-accordion-title">
                <div class="uk-form form">
                    <form action="">
                        <div class="uk-float-right">
                            <button type="button" class="btn uk-button uk-button-danger" data-uk-modal="{target:'#modal-dialog'}">Сменить тариф</button>
                        </div>
                        <div class="new-context">

                            <label for="" class="uk-form">Дата начала действия нового тарифа</label> &nbsp;
                            <div class="form-icon uk-form-icon uk-form-icon-flip">
                                <input type="text" class="js-datepicker" readonly>
                                <i class="uk-icon-calendar"></i>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="tariff-new">
        <div class="tariff-curr-tbl tariff-curr-tbl_warning uk-grid uk-grid-collapse uk-grid-width-large-1-3 uk-grid-width-small-1-1">
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_doc-write-big uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Текущий тариф:
                        <div class="h5">Всё включено</div>
                    </div>
                </div>
            </div>
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_i-big uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Информация о тарифе
                        <div class="">
                            <b class="">Каждый веб-разработчик знает, что такое текст-"рыба".</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tariff-curr-tbl__td">
                <div class="tariff-curr__cont">
                    <i class="icon icon_wallet-mid uk-float-left uk-margin-small-right"></i>
                    <div class="new-context">
                        Абонентская плата:
                        <div class="h5">600 руб/мес</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tariff-curr-pricing">
            <div class="tariff-curr-pricing__head uk-accordion-title">
                <div class="uk-form form">
                    <form action="">
                        <div class="uk-float-right">
                            <button type="button" class="btn uk-button uk-button-warning" data-uk-modal="{target:'#modal-dialog'}">Сменить тариф</button>
                        </div>
                        <div class="new-context">

                            <label for="" class="uk-form">Дата начала действия нового тарифа</label> &nbsp;
                            <div class="form-icon uk-form-icon uk-form-icon-flip">
                                <input type="text" class="js-datepicker" readonly>
                                <i class="uk-icon-calendar"></i>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
